/*
Theme Name: Jomelle
Version: 1.2.1
Author: ab-themes
Author URI: http://www.ab-themes.com
Description: Fully Responsive Multipurpose WordPress Theme
Theme URI: http://themeforest.net/user/ab-themes/portfolio?ref=ab-themes
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: blue, gray, green, orange, pink, purple, red, white, yellow, light, one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, responsive-layout, custom-colors, custom-menu, full-width-template, theme-options, translation-ready


[Table of contents]

1. CSS RESET
2. Global styles
	2.1. Inner columns
	2.2. Clearfix
3. Header
	3.1. Main menu
	3.2. Mega menu
	3.3. Title/Breadcrumbs Bar
	3.4. Search
4. Slider place
5. Videos
6. Blog
	6.1. Blog Timeline
	6.2. Blog Posts
	6.3. Post Comments
	6.4. Post Pagination
7. Contact Form 7
8. Widgets
	8.1. Search
	8.2. Categories
	8.3. Tag Cloud
	8.4. Flickr stream
	8.5. Contact Info Widget
	8.6. Recent Posts Widget Extended Widget
9. Pages
	9.1. Portfolio
	9.2. Contact Page - Contact Info
	9.3. About us page
	9.4. 404 page
10. Other
	10.1. AB testimonials
	10.2. Twitter scroller
11. Footer


/*-----------------------------------------------------------------*/
/* 01. CSS RESET
/*-----------------------------------------------------------------*/
	html, body, div, span, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
	small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, figcaption, figure,
	footer, header, hgroup, menu, nav, section, summary,
	time, mark, audio, video, a {
		margin: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		outline: 0px;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0;
	}

	article, aside, details, figcaption, figure,
	footer, header, hgroup, menu, nav, section {
		display: block;
	}

	html { 
		min-height: 100%;
		margin: 0;
		padding: 0;
	}

	img {
		max-width: 100%;
		height:auto;
		width: auto;
		vertical-align: middle;
		border: 0;
		-ms-interpolation-mode: bicubic;
	}

	input[type="text"],input[type="password"],input[type="email"], textarea, select {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		font: inherit;
		outline: 0;
		width: 100%;
	}


/*-----------------------------------------------------------------*/
/* 02. Global styles
/*-----------------------------------------------------------------*/
	body{
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		line-height: 24px;
		color: #93959d;
	}

	body.preloader{
		visibility: hidden;
	}

	#jpreOverlay {
		background-color: #000000;
	}

	#jpreSlide{
		display: none;
	}

	#jpreLoader{
		width:50%;
		height:25px;
	}

	#jpreBar{
		border-top: 1px solid #aaa;
	}

	#jprePercentage {
		color:#aaa;
		font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
		text-align:center;
		font-size: 40px;
	}

	a{
		color: #f1501a;
		text-decoration: none;
		transition: all 180ms ease-in;
		-webkit-transition: all 180ms ease-in;
	}

	a:hover{
		color: #191b1f;
		transition: all 180ms ease-in;
		-webkit-transition: all 180ms ease-in;
	}

	p{
		margin-bottom: 24px;
	}

	hr{
		background-color: #e1e9e9;
		display: block;
		height: 1px;
		border-color: #e1e9e9; 
		border: 0;
		padding: 0;
		margin-bottom: 11px;
	}

	section{
		padding: 75px 0 40px 0;
	}

	ul,
	ol{
		margin-left: 20px;
	}

	h1, h2, h3, h4, h5, h6{
		font-family: 'Titillium Web';
		font-weight: 700;
		color: #191b1f;
		margin-bottom: 20px;
	}

	h1{
		font-size: 34px;
		line-height: 34px;
	}

	h2{
		font-size: 30px;
		line-height: 30px;
	}

	h3{
		font-size: 26px;
		line-height: 26px;
	}

	h4{
		font-size: 22px;
		line-height: 22px;
		margin-bottom: 14px;
	}

	h5{
		font-size: 20px;
		line-height: 20px;
		margin-bottom: 14px;
	}

	h6{
		font-size: 18px;
		line-height: 18px;
		margin-bottom: 14px;
	}

	pre{
		white-space: pre-wrap;
		white-space: -moz-pre-wrap;
		white-space: -pre-wrap;
		white-space: -o-pre-wrap;
		word-wrap: break-word;
	}

	.white_text{
		color: #fff!important;
	}

	.white_text_header header h3{
		color: #fff!important;
	}

	.bigtext{
		font-weight: 700;
		font-size: 38px;
		line-height: 38px;
	}

	.orange_title{
		color:  #f1501a;
	}

	.withBorderBottom{
		border-bottom: 2px solid #f7f9fa;
	}

	.header_title_without_after header h3{
		margin-bottom: 15px;
	}

	.header_title_without_after header h3:after{
		display: none;
	}

	.button_aligned_center{
		display: block;
    	margin: 0 auto;
    	margin-bottom: 30px !important;
	}

	input,select,textarea{
		border: 1px solid #d9d9d9;
		font-family: 'Open Sans', sans-serif;
		color: #93959d;
		font-size: 14px;
		line-height: 26px;
		background: #fff;
	}

	input,
	select{
		padding: 8px 0 8px 20px;
		margin-bottom: 12px;
	}

	textarea{
		padding: 8px 0 8px 0;
		margin-bottom: 36px;
	}

	button,
	input[type="submit"] {
		padding: 10px 20px;
		display: inline-block;
		cursor: pointer;
		border: 1px solid #f1501a;
		background: #f1501a;
		color: #fff;
		margin-bottom: 20px;
		line-height: 20px;
		font-size: 14px;
		font-family: 'Titillium Web';
		font-weight: 700;
	}

	button:hover,
	input[type="submit"]:hover{
		background: #115c6f;
	}

	.placeholder{
		color: #929292;
	}

	strong,
	.strong{
		font-weight: 700;
	}

	.underlined{
		display: inline-block;
		background: url("images/underlined_bg.png") bottom repeat-x;
	}

	.italic{
		font-style: italic;
	}

	.highlighted,
	.search-highlight{
		background: #f1eb3c;
		display: inline-block;
		padding: 0 3px;
	}

	.alignleft{
		float: left;
		margin-right: 30px;
	}

	.alignright{
		float: right;
		margin-left: 30px;
	}

	.color_highlight{
		color: #f1501a;
	}

	.bold{
		font-weight: 700;
	}

	.section_color_background{
		background: #f1501a;
		margin-bottom: 0;
	}

	.leading_line{
		margin-bottom: 80px !important;
	}

	.leading_line:after{
		content: "";
		display: block;
		position: relative;
		bottom: -40px;
		width: 70px;
		height: 5px;
		background: #f1501a;
	}

	.center_aligned.leading_line:after{
		left: 50%;
		margin-left: -35px;
	}

	.right_aligned.leading_line:after{
		left: 100%;
		margin-left: -70px;
	}

	.last_child{
		margin-right: 0 !important;
	}

	.content_with_right_sidebar{
	}

	.content_with_left_sidebar{
		float:right !important;
	}

	.span12.content_with_right_sidebar{
		padding-right: 0;
	}

	.left_aligned{
		text-align: left;
	}

	.right_aligned{
		text-align: right;
	}

	.center_aligned,
	.aligncenter{
		text-align: center;
	}

	.no_padding_bottom{
		padding-bottom: 0;
	}

	.no_padding_top{
		padding-top: 0;
	}

	.wp-caption.aligncenter{
		width: 100% !important;
	}

	.margin_bottom{
		margin-bottom: 50px;
	}

	sub {
		vertical-align: sub;
		font-size: smaller;
	}

	sup {
		vertical-align: super;
		font-size: smaller;
	}

	table {
		line-height: 2;
		margin: 0 0 40px;
		width: 100%;
	}

	th{
		font-weight: 700;
	}

	.pattern_overlayed{
		position: relative;
		color: #fff !important;
	}

	.pattern_overlayed:before{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: #002037;
		background: rgba(0,32,55,0.9);
		z-index: 0;	
	}

	.pattern_overlayed .dnd_container{
		z-index: 1;
		position: relative;
	}

	.wp-caption{}
	.wp-caption-text{}
	.sticky{}
	.gallery-caption{}
	.bypostauthor{}
	.alignright{}
	.alignleft{}
	.aligncenter{}

/*-------- 02.1. Inner columns --------*/
	.container,
	.dnd_container{
		width: 1170px;
		margin: 0 auto;
	}
	.content .dnd_container,
	.content_with_right_sidebar .dnd_container,
	.content_with_left_sidebar .dnd_container{
		width: 100%;
	}

	.content_with_right_sidebar .dnd_section_DD,
	.content_with_left_sidebar .dnd_section_DD{
		padding: 0;
	}

	.row{
		width: 100%;
	}

	.row:before,
	.row:after{
		display: table;
		line-height: 0;
		content: "";
	}

	.row:after{
		clear: both;
	}

	.row > [class*="span"]{
		display: block;
		float: left;
		width: 100%;
		min-height: 20px;
		margin-left: 2.564102564102564%;
		-webkit-box-sizing: border-box; 
		-moz-box-sizing: border-box; 
		box-sizing: border-box;
	}

	.row > [class*="span"]:first-child{
		margin-left: 0;
	}

	.row .span12{width: 100%;}
	.row .span11{width: 91.45299145299145%;}
	.row .span10{width: 82.90598290598291%;}
	.row .span9 {width: 74.35897435897436%;}
	.row .span8 {width: 65.81196581196581%;}
	.row .span7 {width: 57.26495726495726%;}
	.row .span6 {width: 48.71794871794872%;}
	.row .span5 {width: 40.17094017094017%;}
	.row .span4 {width: 31.62393162393162%;}
	.row .span3 {width: 23.07692307692308%;}
	.row .span2 {width: 14.52991452991453%;}
	.row .span1 {width: 5.982905982905983%;}

	.half,
	.third,
	.fourth,
	.fifth{
		float: left;
	}

	.alpha{
		margin-left: 0 !important;
	}

	.half{width: 50%;}
	.third{width: 33.33333%;}
	.fourth{width: 25%;}
	.fifth{width: 20%;}

	.left{
		float: left !important;
	}

	.right{
		float: right !important;
	}

	.no_margin{
		margin: 0;
	}

	.no_padding{
		padding: 0;
	}

	.bottom_margin{
		margin-bottom: 40px;
	}

	.wp-caption{
		max-width: 100% !important;
	}

/*-------- 02.2. Clearfix --------*/
	.clearfix:before,
	.clearfix:after {
	  content: '\0020';
	  display: block;
	  overflow: hidden;
	  visibility: hidden;
	  width: 0;
	  height: 0;
	}

	.clearfix:after {
	  clear: both;
	}


/*-----------------------------------------------------------------*/
/* 03. Header
/*-----------------------------------------------------------------*/
	#top_bar{
		background: #f7f9fa;
		padding: 7px 0;
	}

	#logo{
		float: left;
		line-height: 32px;
	}

	#header_phone_email_info{
		padding-top: 4px;
	}

	#header_phone_email_info span:first-child{
		padding-left: 0;
	}

	#header_phone_email_info span{
		padding-left: 35px;
		font-weight: 400;
	}

	#header_phone_email_info span i{
		padding-right: 11px;
	}

	#header_phone_email_info span a{
		font-size: 12px;
		color: #93959d;
	}

	#header_phone_email_info span a:hover{
		color: #f1501a;
		transition: all 180ms ease-in;
		-webkit-transition: all 180ms ease-in;
	}

	#Abdev_main_header{
		width: 100%;
		background: #fff;
		padding: 30px 0px;
		z-index: 9999;
		position: relative;
	}

	#Abdev_main_slider{
		padding: 0;
		background-size: cover;
		position: relative;
		height: 455px;
		background: #f2f3f4;
	}

	#Abdev_main_slider_content{
		text-align: center;
	}

	#Abdev_main_slider_logo{
		position: absolute;
		top: 10%;
		width: 100%;
	}

	#Abdev_main_slider_text{
		font-size: 70px;
		font-weight: 300;
		text-transform: uppercase;
		line-height: 84px;
		position: absolute;
		top: 30%;
		width: 100%;
	}

	#Abdev_main_slider_text .bold{
		font-size: 84px;
		display: block;
	}

	#Abdev_main_slider_scroll{
		position: absolute;
		bottom:70px;
		width: 100%;
	}

	.Abdev_main_slider_scroll_icon{
		display: inline-block;
		background: rgba(0,0,0,0.5);
		padding: 9px 25px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}

	.Abdev_main_slider_scroll_info{
		font-family: 'Titillium Web';
		text-transform: uppercase;
	}

	.pattern_overlayed #Abdev_main_slider_content{
		z-index: 1;
	}


/*-------- 03.1. Main menu --------*/
	#ABdev_menu_toggle{
		display: none;
		cursor: pointer;
	}

	nav > ul{
		list-style: none;
		margin: 0;
		float: right;
		position: relative;
	}

	nav > ul > li{
		float: left;
		line-height: 40px;
	}

	nav > ul > li a{
		color: #737d82;
		font-family: 'Titillium Web';
		font-weight: 300;
		font-size: 15px;
		text-align: center;
		display: inline-block;
		margin-left: 30px;
		position: relative;
	}

	nav > ul > li a:hover{
		color: #f1501a;
	}

	nav > ul > li span{
		display: block;
	}

	nav > ul ul{
		display: none;
		list-style: none;
		position: absolute;
		background: #fff;
		border-top: none;
		margin: 0;
		min-width: 228px;
		margin-top: 30px;
		margin-left: -65px;
		z-index: 2001;
		box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
		border-top: 2px solid #f1501a;
	}

	nav > ul > .menu-item-has-children:hover > a:after{
		content: "";
		display: block;
		position: absolute;
		width: 0; 
		height: 0; 
		top: 65px;
		left: 50%;
		margin-left: -6px;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom: 6px solid #f1501a;
	}

	#Abdev_main_header.sticky_header_low nav > ul ul{
		margin-top: 10px;
	}

	nav > ul > li > ul:before{
		content: "";
		display: block;
		position: absolute;
		width:228px;
		min-width: 228px;
		height: 36px;
		top: -36px;
		left: 0;
		z-index: 2004;
	}

	#Abdev_main_header.sticky_header_low nav > ul > li > ul:before{
		height: 15px;
		top: -15px;
	}

	nav > ul li:hover > ul,
	nav > ul li.sfHover > ul{
		display: block;
		z-index: 2003;
	}

	nav > ul ul li{
		position: relative;
		background: #191b1f;
		border-bottom: 1px solid #282a2f;
	}

	nav > ul ul li:last-child{
		border-bottom: none;
	}

	nav > ul ul li a{
		width: 100%;
		text-align: left;
		padding: 0px 13px 0px 13px;
	}

	nav > ul ul li:hover{
		background: #131518;
	}

	nav > ul ul li:hover > a{
		color: #f1501a;
	}

	nav > ul ul ul{
		position: absolute;
		left: 100%;
		top: 0;
		margin-top: -1px;
		margin-left: 5px;
		z-index: 2002;
		border-top: none;
	}

	nav > ul ul ul:after{
		display: none;
	}

	nav > ul ul ul:before{
		position: absolute;
		content: "";
		top: 0;
		left: -11px;
		width: 11px;
		height: 100px;
	}

	.sf-arrows .sf-with-ul:after{
		content:"\e60c"; /*ci_icon-chevron-right*/
		font-family:'core_icomoon';
		color: #aaa;
		margin-left: 5px;
		float:right;
		position: relative;
		top: 2px;
	}

	.sf-arrows ul .sf-with-ul:after{
		content:"\e60c"; /*.ci_icon-chevron-right*/
		top: 0;
	}

	.sf-arrows ul li:hover .sf-with-ul:after{
		color: #fff;
	}

	.sf-arrows > li:hover > .sf-with-ul:after{
		color: #d84949;
	}

	.sf-arrows .current_menu_ancestor .sf-with-ul:after{
		color: #333;
	}

	nav > ul > .current-menu-item > a,
	nav > ul > .current-post-ancestor > a,
	nav > ul > .current-menu-ancestor > a{
		color: #f1501a;
	}


/*-------- 03.2. Mega Menu --------*/
	.sf-mega {
		width: 1170px;
		position: absolute;
		padding-top: 30px;
		right: -80px;
		display: none;
		z-index: 9999;
	}
	
	.sf-mega-inner{
		background: #191b1f;
		border-top: 2px solid #f1501a;
	}
	
	nav > ul li:hover > .sf-mega,
	nav > ul li.sfHover > .sf-mega {
		display: block;
	}
	
	.sf-mega li,
	.sf-mega ul{
		position: static !important;
		display: block !important;
		padding: 0;
		margin: 0;
		border: none;
		height: auto !important;
		background: none;
		box-shadow: none;
	}

	nav > ul .sf-mega ul {
		min-width: 0px !important;
	}
	
	.sf-mega-inner ul li ul ul > li:hover{
		background: #131518;
	}
	
	nav > ul .sf-mega-inner{
		display: table !important;
		width: 100%;
	}
	
	nav > ul .sf-mega-inner > ul {
		display: table-row !important;
	}
	
	nav > ul .sf-mega-inner > ul > li{
		border-right: 1px solid #e9eaec;
		display: table-cell !important;
		vertical-align: top;
		background: #191b1f;
	}
	
	nav > ul .sf-mega-inner > ul > li:last-child{
		border-right: none;
	}
	
	.sf-mega li,
	.sf-mega li{
		background: #191b1f;
		border-bottom: 1px solid #282a2f;
	}
	
	nav > ul .sf-mega-inner > ul > li > a{
		font-family: 'Titillium Web';
		font-weight: 400;
		text-transform: uppercase;
		color: #fff;
		font-size: 16px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
		
	nav > ul .sf-mega-inner > ul > li > ul > li a{
		font-size: 15px;
		color: #737d82;
	}

	nav > ul .sf-mega-inner > ul > li > ul > li:hover a{
		color: #f1501a;
	}
	
	nav > ul .sf-mega-inner a{
		text-transform: none;
		padding: 0px 10px 0px 30px;
		margin-bottom: 1px;
		margin-left: 0;
	}
		
	nav > ul > .mega1 .sf-mega-inner > ul > li{width: 100%;}
	nav > ul > .mega2 .sf-mega-inner > ul > li{width: 50%;}
	nav > ul > .mega3 .sf-mega-inner > ul > li{width: 33.33333333333333%;}
	nav > ul > .mega4 .sf-mega-inner > ul > li{width: 25%;}
	nav > ul > .mega5 .sf-mega-inner > ul > li{width: 20%;}
	nav > ul > .mega6 .sf-mega-inner > ul > li{width: 16.66666666666667%;}
	nav > ul > .mega7 .sf-mega-inner > ul > li{width: 14.28571428571429%;}
	
	
	nav > ul .sf-mega-inner .description_menu_item{
		padding: 20px;
		font-size: 16px;
		font-weight: 300;
		line-height: 22px;
	}
	
	nav > ul .sf-mega-inner .description_menu_item a{
		display: inline;
		padding: 0;
		margin: 0;
		line-height: inherit;
		font-size: inherit;
		color: #f1501a;
	}
	
	nav > ul .sf-mega-inner .description_menu_item a:hover{
		color: #fff;
		background: none;
	}


/*-------- 03.3. Title/Breadcrumbs Bar --------*/

	#title_breadcrumbs_bar{
		padding: 45px 0;
		font-family: Open Sans;
		font-weight: 300;
		font-size: 18px;
		position: relative;
	}

	#title_breadcrumbs_bar:before{
		background: url(images/pattern.png);
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;	
		background-color: rgba(0,0,0,0.45);		
	}

	#title_breadcrumbs_bar .container{
		z-index: 1;
		position: relative;
		color: #fff !important;
	}

	#title_breadcrumbs_bar h1{
		font-size: 34px;
		color: #fff;
		line-height: 26px;
		margin-bottom: 0;
	}

	#title_breadcrumbs_bar .breadcrumbs{
		line-height: 34px;
	}

	#title_breadcrumbs_bar .breadcrumbs,
	#title_breadcrumbs_bar .breadcrumbs a{
		color: #fff;
		font-size: 14px;
		font-weight: 400;
	}

	#title_breadcrumbs_bar .breadcrumbs a{
		padding-right: 10px;
	}

	#title_breadcrumbs_bar .breadcrumbs span{
		padding-left: 10px;
	}


/*-------- 03.4. Search --------*/

 	.search-toggle{
        cursor: pointer;
        float: right;
		margin-left: 10px;
		margin-top: 0;
		position: relative;
		 -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: -moz-none;
	    -o-user-select: none;
	    user-select: none;
    }
    
    .search-toggle:hover .search-icon i:first-of-type{
    	color: #fff;
    	background: #f1501a;
    	-webkit-transition: all 180ms ease-in;
        transition: all 180ms ease-in;
    }

    .search-icon i{
    	float: right;
		width: 36px;
		height: 36px;
		line-height: 36px;
		margin-left: 34px;
		background: #f5f6f8;
		border-radius: 50%;
		text-align: center;
		font-size: 13px;
		margin-top: 0;
    }

    .search-icon.active i{
    	background: #f1501a;
    	color: #fff;
    }

    .search-toggle.active{
		background: #f1501a;
		color: #fff;
    } 
    
    .search-toggle .screen-reader-text i{ 
        color: #8a8d94;
        font-size: 15px;
        line-height: 76px;
    }
    
    .search-box-wrapper {
        -webkit-box-sizing: border-box;
        -moz-box-sizing:    border-box;
        box-sizing:         border-box;
        position: absolute;
        top: 70px;
		right: 0;
        width: 250px;
        height: 74px;
        z-index: 2;
        background: #fff;
        border:1px solid #e9eaec;
        -webkit-box-shadow: 0px 1px 1px 1px rgba(151,156,162,0.1);
        -moz-box-shadow:    0px 1px 1px 1px rgba(151,156,162,0.1);
        box-shadow:         0px 1px 1px 1px rgba(151,156,162,0.1);
    }
    
    .search-box {
        padding: 12px;
    }
    
    .search-box:before {
		width: 0;
		height: 0;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-bottom: 7px solid #b7b9c2;
		content: "";
		position: absolute;
		top: -8px;
		right: 10px;
	}

    #search-container .widget_search input[type="text"]{
        border: 0;
        background: #f5f6f8;
        text-align: left;
        outline-color: transparent;
        font-size: 13px;
        line-height: 22px;
        color: #848994;
        border: 1px solid #e9eaec;
        border-radius: 45px;
        width: 210px;
        height: 32px;
        margin: 6px 0 0 7px;
        position: relative;
    }

    #search-container .widget_search .submit i{
    	color: #f1501a;
    	top: 16px;
    	right: 22px;
    	position: absolute;
    }

    #search-container .widget_search .submit i:hover{
    	color: #848994;
    }

    .hide{
        display: none;
    }


/*-----------------------------------------------------------------*/
/* 04. Slider place
/*-----------------------------------------------------------------*/
	#frontpage_slider{
		padding: 0;
		margin: 0;
	}

	.tp-leftarrow.default,
	.tp-rightarrow.default {
		background: #fff !important;
		width: 44px;
		height: 44px;
		border-radius: 50%;
		text-align: center;
		transition: all 180ms ease-in;
	}


	.tp-leftarrow.default:hover,
	.tp-rightarrow.default:hover {
		background: #f1501a !important;
		transition: all 180ms ease-in;
	}

	.tp-leftarrow.default:before,
	.tp-rightarrow.default:before {
		display: block;
		content: "";
		width: 15px;
		height: 15px;
		position: absolute;
		transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transition: all 180ms ease-in;
	}

	.tp-leftarrow.default:before{	
		border-left: 1px solid #999ba3;
		border-bottom: 1px solid #999ba3;
		top: 14px;
		left: 18px;
	}

	.tp-leftarrow.default:hover:before {
		border-left: 1px solid #fff;
		border-bottom: 1px solid #fff;
	}

	.tp-rightarrow.default:before {	
		border-top: 1px solid #999ba3;
		border-right: 1px solid #999ba3;
		top: 14px;
		right: 18px;
	}

	.tp-rightarrow.default:hover:before {
		border-top: 1px solid #fff;
		border-right: 1px solid #fff;
	}

	.tp-bullets.simplebullets.round .bullet{	
		width: 15px;
		height: 15px;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		border-radius: 7px;
		margin-right: 7px;
		border: 2px solid #fff;
		background: none;
	}

	.tp-bullets.simplebullets.round .bullet:hover,
	.tp-bullets.simplebullets.round .bullet.selected{	
		background-color:#fff;
		border: 2px solid #fff;
	}

	.tp-caption.jomelle_button_white_transparent,
	.tp-caption.jomelle_button_white1,
	.tp-caption.jomelle_button_white2,
	.tp-caption.jomelle_button{
		transition: all 180ms ease-in;
		-webkit-transition: all 180ms ease-in;
	}

	.jomelle_button_white2:hover{
		background: #f1501a !important;
		cursor: pointer;
	}

	.jomelle_button_white2:hover a{
		color: #fff !important;
	}

	.jomelle_button_white1:hover{
		background: #f1501a !important;
		cursor: pointer;
	}

	.jomelle_button_white1:hover a{
		color: #fff !important;
	}

	.jomelle_button_white_transparent:hover{
		background: #191b1f !important;
		cursor: pointer;
		transition: all 180ms ease-in;
		-webkit-transition: all 180ms ease-in;
	}

	.jomelle_button:hover{
		border: 1px solid #f1501a;
		background: #fff !important;
		cursor: pointer;
	}

	.jomelle_button:hover a{
		color: #f1501a;
	}

	.jomelle_button a{
		color: #fff;
	}

	.jomelle_big_orange {
		color: #f1501a;
	}

	.jomelle_orange_text{
		color: #f1501a;
	}

/*-------- 05.u. Videos --------*/
	.videoWrapper-youtube{
		position:relative;
		padding-bottom:56.25%;
		padding-top:0px;
		height:0;
		overflow:hidden;
	}

	.videoWrapper-youtube iframe,
	.videoWrapper-youtube object,
	.videoWrapper-youtube embed{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}

	.videoWrapper-vimeo{
		position:relative;
		padding-bottom:53%;
		padding-top:30px;
		height:0;
		overflow:hidden;
	}

	.videoWrapper-vimeo iframe,
	.videoWrapper-vimeo object,
	.videoWrapper-vimeo embed{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}

	.wp-video{
		margin-left: auto;
		margin-right: auto;
	}


/*-----------------------------------------------------------------*/
/* 06. Blog
/*-----------------------------------------------------------------*/
	.sidebar_left{
		margin-left: 0 !important;
	}

/*-------- 06.1. Blog Timeline --------*/
	#timeline_posts{
		background: url("images/timeline_line.png") center top repeat-y;
		overflow: hidden;
	}

	.timeline_post{
		border: 1px solid #d9d9d9;
		background: #f2f4f5;
		width: 535px;
		float: left;
		margin-bottom: 80px;
		position: absolute;
		top: -2000px;
		transition: top 1s;
		-webkit-transition: top 1s; /* Safari */		
	}

	.timeline_post h4{
		padding: 22px 20px 20px 20px;
		margin-bottom: 0;
	}

	.timeline_post h4 a{
		color: #191b1f;
	}

	.timeline_post h4 a:hover{
		color: #f1501a;
	}

	.timeline_post_first{
		width: 535px;
	}

	.timeline_appended{
		transition: top 0s, opacity 1s;
		-webkit-transition: top 0s, opacity 1s; 
	}

	.timeline_postmeta{
		padding: 22px 20px 20px 20px;
		border-bottom: 1px solid #d9d9d9;
		font-size: 13px;
		line-height: 20px;
	}

	.timeline_postmeta a{
		color: #939fa6;
	}

	.timeline_postmeta a:hover{
		color: #f1501a;
	}

	.timeline_postmeta p{
		display: inline-block;
		margin-bottom: 0;
		margin-right: 25px;
	}

	.timeline_postmeta i{
		margin-right: 6px;
	}

	.timeline_content{
		padding: 34px 25px 7px 25px;
	}

	.timeline_post .post-readmore{
		padding: 22px 22px 0px 22px;
	}

	.timeline_post .post-readmore .more-link{
		float: right;
		font-family: 'Open Sans';
		color: #f1501a;
		font-size: 13px;
		font-weight: 400;
		display: inline-block;
		margin-bottom: 22px;
	}

	.timeline_post .post-readmore .more-link:hover{
		color: #191b1f;
	}

	.timeline_post .post-readmore .more-link i{
		font-size: 6px;
		margin-left: 5px;
	}

	.timeline_post .post-readmore p{
		margin-bottom: 22px;
		padding-right: 10px;
	}

	.timeline_post_left:after,
	.timeline_post_right:after{
		display: block;
		position: absolute;
		top: 50%;
		margin-top: -28px;
		width: 13px; 
		height: 13px;
		background: #f1501a;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		content: "";
	}

	.timeline_post_left:after{
		right: -58px;
	}

	.timeline_post_right:after{
		left: -57px;
	}

	.timeline_post_left:before,
	.timeline_post_right:before{
		content: "";
		display: block;
		top: 50%;
		margin-top: -22px;
		height: 1px;
		background: #d9d9d9;
		position: absolute;
	}

	.timeline_post_left:before{
		width: 55px;
		right: -55px;
	}

	.timeline_post_right:before{
		width: 55px;
		left: -55px;
	}

	.timeline_post_first:after{
		margin-top: -50px;
	}

	.timeline_post_first:before{
		margin-top: -44px;
	}

	#timeline_loading{
		text-align: center;
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.timeline_loading_loader{
		background: url("images/ajax-loader.gif") center 40px no-repeat;
	}

/*-------- 06.2. Blog Posts --------*/
	
	.post_content{
		position: relative;
		min-height: 200px;
		padding-bottom: 84px;
	}

	.post_content p:last-child{
		margin-bottom: 0;
	}

	.post_content .post_main{
		position: relative;
	}

	.blog_category_index .post_main,
	.blog_category_index .post_main{
	}

	.post_content .post_main > img,
	.post_content .post_main > .videoWrapper-vimeo,
	.post_content .post_main > .videoWrapper-youtube{
		margin-bottom: 29px;
	}

	.post_content .post_main .wp-post-image{
	}

	.post_content .post_main .post_meta{
		margin-bottom: 16px;
	}

	.post_content .post_main ul{
		margin-bottom: 24px;
	}

	.post_content .post_main > iframe{
		margin-bottom: 25px;
	}

	.post_content .post_main h3{
		margin-bottom: 7px;
	}

	.post_content .post_main h2 a{
		font-size: 22px;
		color:  #191b1f;
		margin-bottom: 0px;
		font-weight: 700;
		font-family: 'Titillium Web';
	}
	
	.post_content .post_main h2 a:hover{
		color:  #f1501a;
	}

	.post_content .post_main a:hover{
		color:  #191b1f;
	}

	.post_content .post_main .post_meta a{
		font-family: 'Open Sans';
		color:  #acafb7;
		font-size: 13px;
		font-weight: 400;
		font-style: italic;
	}

	.post_content .post_main .post_meta a:hover{
		color: #f1501a;
	}

	.post_meta span{
		font-family: 'Open Sans';
		color:  #acafb7;
		font-size: 13px;
		font-weight: 400;
		font-style: italic;
		padding-right: 24px;
	}

	.post_meta span i{
		padding-right: 5px;
	}	

	.post_content .post_badges{
		float: left;
		width: 100px;
		text-align: center;
		color: #505558;
	}

	.post_main .post-readmore{
		margin-top: -13px;
	}

	.post_main .post-readmore .more-link{
		font-family: 'Open Sans';
		color:  #f1501a;
		font-size: 13px;
		font-weight: 400;
	}

	.post_main .post-readmore .more-link:hover{
		color:  #191b1f;
	}

	.post_main .post-readmore .more-link i{
		font-size: 6px;
		margin-left: 5px;
	}

	.post_content .post_badges .avatar{
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		margin-bottom: 13px;
	}

	.post_content .post_badges .post_author{
		display: block;
		border-bottom: 1px solid #e1e9e9;
		padding-bottom: 16px;
		margin-bottom: 8px;
	}

	.post_content .post_badges .post_date{
		display: block;
		font-size: 13px;
		color: #939fa6;
	}

	.post_meta_tags{
		float: left;
		font-size: 13px;
	}

	.post_meta_tags a{
		color: #939fa6;
	}

	.post_meta_tags a:hover{
		color: #f1501a;
	}

	.post_meta_tags i{
		margin-right: 10px;
		margin-left: 10px;
		font-size: 12px;
		position: relative;
		top: 2px;
		color: #939fa6;
	}

	.post_main .postmeta-above,
	.post_main .postmeta-under{
	}

	.post_main .postmeta-above,
	.post_main .postmeta-above a{
		color: #939fa6;
		font-size: 13px;
		line-height: 20px;
		padding: 12px 0 15px 0;
		margin-bottom: 24px;
		font-weight: 400;
	}

	.post_main .postmeta-above p{
		display: inline-block;
		margin-right: 25px;
		margin-bottom: 0;
		font-family: 'Open Sans';
		color:  #acafb7;
		font-size: 13px; 
		font-style: italic;
	}

	.post_main .postmeta-above i{
		margin-right: 6px;
		position: relative;
		line-height: 20px;
		top: 1px;
	}

	.post_main .postmeta-above .post_meta_comments{
		float: right;
		margin: 0;
	}

	.post_main .postmeta-under{
		padding: 15px 0;
		margin: 5px 0 37px 0;
	}

	.post_main .postmeta-under p{
		margin-bottom: 0;
	}

	.post_main .postmeta-under a{
		font-family: 'Open Sans';
		color:  #acafb7;
		font-size: 13px; 
		font-style: italic;
	}

	.post_main .postmeta-under a:hover{
		color: #f1501a;
	}

	.post_meta_share{
		float: right;
	}

	.post_meta_share a{
		left: 0;
		display: inline-block;
		background: #f7f9fa;
		color: #939fa6;
		width: 36px;
		height: 36px;
		line-height: 38px;
		text-align: center;
		margin-left: 5px;
	}

	.portfolio_share_social{
		float: left;
	}

	.post_meta_share a:hover i{
		color: #fff;
	}

	.post_meta_share i{
		font-size: 16px !important;
		top: 0px !important;
		color: #acafb7;
	}

	.post_meta_share span{
		font-family: 'Titillium Web';
		font-weight: 700;
		font-size: 16px;
		color: #191b1f;
		position: relative;
		top: -1px;
		margin-right: 16px;
	}

	.post_meta_share .post_share_facebook:hover{background: #3B5998;color: #fff;}
	.post_meta_share .post_share_twitter:hover{background: #4099FF;color: #fff;}
	.post_meta_share .post_share_googleplus:hover{background: #d34836;color: #fff;}
	.post_meta_share .post_share_linkedin:hover{background: #0e76a8;color: #fff;}

	.post_author:after,
	.post_date:after,
	.post_tags:after{
		display: inline-block;
		position: absolute;
		content: "";
		width: 1px;
		height: 13px;
		background: #acafb7;
		margin: 5px 12px;
	}

	.post_about_author{
		margin-bottom: 40px;
		background-color: #f7f9fa;
		padding: 40px 30px;
	}

	.post_about_author img{
		float: left;
		margin-right: 30px;
		margin-bottom: 30px;
	}

	.post_excerpt{
		line-height: 38px;
		margin-top: -4px;
	}

	.sticky{
		background: #f2f2f2;
		margin-bottom: 40px;
		padding: 40px 20px 0 20px;
	}

/*-------- 06.3. Post Comments --------*/
	#comments_section{
		padding-bottom: 0;
		padding-top: 0;
	}

	#comments_section ul,
	#comments_section ol{
		list-style: none;
		margin-left: 0;
	}

	#comments-title{
		margin-bottom: 38px;
	}

	.comment p{
		margin-bottom: 0;
	}

	#comments_section p.logged-in-as,
	#comments_section p.comment-notes{
		margin-bottom: 19px;
		font-style: italic;
	}

	#comments_section .logged-in-as a:hover{
		color: #191b1f;
	}

	.comment {
		position: relative;
		padding-left: 100px;
		margin-bottom: 40px;
		min-height: 70px;
	}

	.children .comment:last-child{
		margin-bottom: 0;
	}

	.comment .avatar{
		position: absolute;
		top: 0px;
		left: 0;
		width: 70px;
		height: 70px;
	}

	.comment .comment-text{
		border-bottom: 1px solid #e6ebed;
		padding-bottom: 28px;
	}

	.comment .children{
		padding-top: 35px;
	}

	.comment .comment-author{
		font-size: 15px;
		color: #505558;
		font-family: Open Sans;
		font-weight: 400;
		margin-right: 26px;
		margin-bottom: 7px;
	}

	.comment time:before,
	.comment .reply:before{
		display: inline-block;
		position: absolute;
		content: "";
		width: 1px;
		height: 13px;
		background: #acafb7;
		margin: 7px -14px;
	}	

	.comment time{
		font-size: 13px;
		margin-right: 26px;
		font-style: italic;
		margin-bottom: 7px;
	}

	.comment .reply,
	.comment .edit-link,
	.comment .reply a,
	.comment .edit-link a{
		color: #f1501a;
		font-size: 13px;
		font-style: italic;
	}

	.comment .reply{
		margin-right: 30px;
		margin-bottom: 7px;
	}

	.comment .reply a:hover,
	.comment .edit-link a:hover{
		color: #191b1f;
	}	

	#respond{
		padding-top: 30px;
	}

	#respond h3{
		font-size: 22px;
		margin-bottom: 20px;
	}

	#respond #comment{
		margin-bottom: 13px;
		padding-left: 17px;
	}

	#respond .comment-form-comment{
		margin-bottom: 0;
	}

	#respond .comment_fields p{
		float: left;
		margin-right: 2%;
		width: 32%;
		margin-bottom: 8px;
	}

	#respond .comment_fields p:last-child{
		margin-right: 0;
	}

	#respond .comment_fields p input{
		width: 100%;
		padding-left: 17px;
		height: 48px;
		margin-bottom: 0;
	}

	#respond .comment-form-comment textarea{
		width: 100%;
	}

	#respond #comment-submit{
		-webkit-appearance: none;
		background: #f1501a;
		margin: 0;
		font-weight: 700;
		font-family: 'Titillium Web';
		font-size: 14px;
		text-transform: uppercase;
	}

	#respond #comment-submit:hover{
		background: #505558;
		border-color: #505558;
	}


/*-------- 06.4. Post Pagination --------*/
	#blog_pagination{
		padding-top: 0;
		padding-bottom: 80px;
	}

	#blog_pagination .container{
		position: relative;
	}

	#blog_pagination .page-numbers{
		color: #505558;
		font-size: 14px;
		line-height: 14px;
		display: inline-block;
		padding: 13px 16px 13px 16px;
		float: left;
		border: 1px solid #e6ebed;
		margin: 0 3px;
	}

	#blog_pagination .page-numbers:first-child,
	#blog_pagination .prev+.page-numbers{
		border-left: 1px solid #e6ebed;
	}

	#blog_pagination .page-numbers:first-child::hover,
	#blog_pagination .prev+.page-numbers{
		color: #fff;
	}

	#blog_pagination .page-numbers:last-child{
	}

	#blog_pagination i{
		font-size: 8px;
		line-height: 8px;
		margin: 0 5px;
	}

	#blog_pagination .page-numbers:hover{
		background: #f1501a;
		color: #fff;
		border: 1px solid #f1501a;
	}
	
	#blog_pagination .page-numbers.current{
		color: #f1501a;
		border: 1px solid #f1501a;
	}

	#blog_pagination .page-numbers.current:hover{
		color: #fff;
		transition: background 180ms ease-in, color 180ms ease-in, border-color 180ms ease-in;
		-webkit-transition: background 180ms ease-in, color 180ms ease-in, border-color 180ms ease-in;
	}

	#blog_pagination .prev,
	#blog_pagination .next{
		border: 1px solid #e6ebed;
		text-transform: uppercase;
		font-size: 12px;
	}

	#blog_pagination .prev{
		margin-right: 6px;
	}

	#blog_pagination .next{
		margin-left: 6px;
	}

	#inner_post_pagination > span,
	#inner_post_pagination > a{
		background: #f5f7f8;
		color: #505558;
		float: left;
		color: #505558;
		font-size: 14px;
		line-height: 14px;
		display: inline-block;
		padding: 13px 16px 13px 16px;
		margin: 0;
		border-top: 1px solid #e6ebed;
		border-bottom: 1px solid #e6ebed;
		border-right: 1px solid #e6ebed;
	}

	#inner_post_pagination > a {
		background: #fff;
	}

	#inner_post_pagination > a span{
		border: none;
	}

	#inner_post_pagination > a:hover{
		background: #505558;
		color: #fff;
	}

	#inner_post_pagination > span:first-child,
	#inner_post_pagination > a:first-child{
		border-left: 1px solid #e6ebed;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}

	#inner_post_pagination > span:last-child,
	#inner_post_pagination > a:last-child{
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}

/*-----------------------------------------------------------------*/
/* 07. Contact Form 7
/*-----------------------------------------------------------------*/
	.contact_form2 .wpcf7 input{
		margin-top: 6px;
		border: 1px solid #d9d9d9;
		margin-bottom: 14px;
	}

	.wpcf7 input{
		margin-top: 6px;
		-webkit-appearance: none;
		padding: 11px 17px;
		border: 1px solid #d9d9d9;
		margin: 0px 0 10px 0;
		width: 100%;
	}

	.wpcf7 textarea{
		height: 177px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		-webkit-appearance: none;
		margin: 0 0 13px 0;
		width: 100%;
		padding: 11px 17px;
	}

	.wpcf7-submit{
		-webkit-appearance: none;
		cursor: pointer;
		transition: background 180ms ease-in, color 180ms ease-in, border-color 180ms ease-in;
		-webkit-transition: background 180ms ease-in, color 180ms ease-in, border-color 180ms ease-in;
		white-space: nowrap;
		text-decoration: none;
		display: inline-block;
		border: none !important;
		background: #f1501a;
		color: #fff;
		padding: 14px 0px !important;
		margin-right: 10px;
		margin-bottom: 20px;
		line-height: 20px !important;
		font-size: 14px;
		font-family: 'Titillium Web';
		font-weight: 700;
		text-align: center;
	}

	.wpcf7-submit:hover{
		background: #505558 !important;
		transition: background 180ms, color 180ms, border-color 180ms;
		-webkit-transition: background 180ms, color 180ms, border-color 180ms;
	}

	.wpcf7-response-output{
		margin-top: 20px;
	}

	.wpcf7 .wpcf7-not-valid{
		position: relative;
		margin-bottom: 42px;
	}

	.wpcf7 .wpcf7-validates-as-email.wpcf7-not-valid{
		position: relative;
		margin-bottom: 10px;
	}

	.wpcf7 .wpcf7-not-valid:last-child{
		margin-bottom: 10px;
	}

	.wpcf7-not-valid-tip{
		width: auto !important;
		border: none !important;
		color: #fff !important;
		padding: 4px 8px !important;
		background: #858585 !important;
		position: absolute;
		top: -32px;
	}

	.wpcf7-validation-errors{
		margin-bottom: 40px !important;
		padding: 19px !important;
		background: #ffe9e9 !important;
		color: #d04544 !important;
		border: none !important;
		margin: 20px 0 40px 0 !important;
	}

	#Abdev_contact_form_submit{
		-webkit-appearance: none;
		width: 100%;
		background: #f1501a !important;
		height: 55px;
		margin-top: 0;
		-webkit-border-radius: 2px !important;
		-moz-border-radius: 2px !important;
		border-radius: 2px !important;
	}

	div.wpcf7 img.ajax-loader {
		top: -20px;
		position: relative;
		left: 50%;
		margin-left: -8px;
	}


/*-----------------------------------------------------------------*/
/* 08. Widgets
/*-----------------------------------------------------------------*/
	
	.widget{
		margin-bottom: 20px;
	}

	.sidebar_right{
		padding-left: 12px;
	}

	.sidebar_left{
		padding-right: 12px;
	}

	.sidebar_right .rpwe-title,
	.sidebar_left .rpwe-title{
		padding-left: 100px;
		color:  #93959d;
		font-size: 14px; 
	}

	.sidebar_right .rpwe-time,
	.sidebar_left .rpwe-time{
		padding-left: 20px;
		font-style: italic;
		color:  #acafb7;
		font-size: 13px !important;
	}

	aside.sidebar_right .rpwe-block li,
	aside.sidebar_left .rpwe-block li{
		border-bottom: none !important;
		margin-bottom: 5px !important;
	}

	aside.sidebar_right .rpwe-block .rpwe-thumb,
	aside.sidebar_left .rpwe-block .rpwe-thumb{
		border: none !important;
	}

	aside .widget{
		margin-bottom: 42px;
	}

	.sidebar-widget-heading h6{
		color:  #191b1f;
		font-weight: 700;
		position: relative;
		margin-bottom: 7px;
		display: block;
		text-align: left;
		padding-bottom: 10px;
	}

	.widget a{
		color: #939fa6;
	}

	.widget a:hover{
		color: #f1501a;
	}

	.widget ul{
		list-style: none;
		margin-left: 0;
	}

	.widget ul.children{
		padding-left: 20px;
	}

	.widget ul.children li{
		border-bottom: none;
	}

	.widget ul li{
		position: relative;
	}

	.widget input{
		margin-bottom: 0;
	}

	.widget_text .textwidget input{
		background: #0d0e11;
		border: none;
		color:  #93959d;
		font-size: 13px; 
		font-weight: 400;
		padding: 11px 29px 11px 18px;
		outline: none;
		margin: 0;
	}

	.widget_text .textwidget .ABss_form_wrapper,
	.widget_text .textwidget .ABss_form_wrapper .ABss_inline_form{
		height: 48px;
		margin-left: 0;
	}

	.widget_text .textwidget .ABss_form_wrapper .ABss_inline_form p{
		margin-right: 0;
		position: relative;
		width: 100%;
	}

	.widget_text .ABss_form_wrapper .ABss_subscriber_email{
		width: 100%;
		padding-right: 68px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.widget_text .ABss_subscriber_widget_submit{
		background: #32353b;
		display: inline-block;
		width: 48px;
		height: 48px;
		line-height: 48px;
		text-align: center;
		position: absolute;
		right: 0;
		top: 0;
	}

	.widget_text .ABss_subscriber_widget_submit:hover{
		background: #222;
	}

	.widget_text .ABss_subscriber_widget_submit i{
		color: #9d9d9d;
		position: relative;
		top: 2px;
	}


/*-------- 08.1. Search --------*/	
	.widget_search form{
		position: relative;
	}

	.widget_search a{
		cursor: pointer;
	}

	.widget_search i{
		color: #f1501a;
		position: absolute;
		top: 17px;
		right: 20px;
		font-size: 12px;
	}

	.widget_search i:hover{
		color: #858585;
		transition: all 180ms ease-in;
		-webkit-transition: all 180ms ease-in;
	}

	.widget_search input{
		padding-left: 20px;
		font-size: 13px;
		height: 48px;
		width: 100%;
		background: #fff;
		margin-bottom: 16px;
		position: relative;
	}

	.search_results_content_item{
		padding-left: 41px;
		position: relative;
	}

	.search_resuls_number{
		font-family: 'Titillium Web';
		font-size: 19px;
		font-weight: 300;
		position: absolute;
		top: 0;
		left: 0;
		line-height: 19px;
	}

	.search_results_content_item h4{
		margin-bottom: 12px;
	}

	#search_results_sum_title{
		margin-bottom: 50px;
	}

/*-------- 08.2. Categories --------*/	
	.widget_pages li,
	.widget_recent_entries li,
	.widget_archive li,
	.widget_nav_menu li,
	.widget_meta li,
	.widget_rss li,
	.widget_categories li{
		position: relative;
		padding: 6px 0 7px 0;
		border-bottom: 1px solid #e6ebed;
	}

	.widget_pages li:last-child,
	.widget_recent_entries li:last-child,
	.widget_archive li:last-child,
	.widget_nav_menu li:last-child,
	.widget_meta li:last-child,
	.widget_rss li:last-child,
	.widget_categories li:last-child{
		border-bottom: none;
	}

	.widget_nav_menu li.menu-item-has-children{
		border: none;
		padding-bottom: 0;
	}

	.widget_nav_menu li ul{
		border-top: 1px solid #e6ebed;
		margin-top: 7px;
		margin-bottom: 0;
	}

	.widget_nav_menu li ul li{
		padding-left: 20px;
	}

	.widget_rss .rsswidget{
		font-family: 'Titillium Web';
		color: #505558;
		font-size: 18px;
	}

	.widget_rss .rss-date{
		display: block;
	}
	.widget_rss .rssSummary{
		font-size: 13px;
	}

/*-------- 08.3. Tag Cloud --------*/	
	.tagcloud a{
		border: 1px solid #e6ebed;
		display: inline-block;
		margin: 0 7px 7px 0;
		padding: 7px 11px 8px 11px;
		float: left;
		color: #939fa6;
		font-size: 13px !important;
		line-height: 13px;
		text-transform: capitalize;
	}

	.tagcloud a:hover{
		background: #f1501a;
		color: #fff !important;
		border: 1px solid #f1501a;
	}

	.tagcloud:after{
		display: block;
		clear: both;
		content: "";
		height: 0;
	}

/*-------- 08.4. Flickr stream --------*/	
	.flickr_stream a{
		margin: 0 9px 9px 0;
		display: inline-block;
		position: relative;
	}

	aside.sidebar .flickr_stream a{
		margin: 0 10px 10px 0;
	}

	.flickr_stream a:nth-child(3n+0){
		margin-right: 0;
	}

	aside.sidebar .flickr_stream a:nth-child(3n+0){
		margin-right: 10px;
	}

	aside.sidebar .flickr_stream a:nth-child(4n+0){
		margin-right: 0;
	}

	.flickr_stream a:hover:after{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.2);
		transition: all 300ms ease-in;
		-webkit-transition: all 300ms ease-in;
	}

	.flickr_stream img{
		width: 79px;
		height: 79px;
	}

/*-------- 08.5. Contact Info Widget --------*/
	.contact_info_widget p{
		padding-left: 29px;
		position: relative;
		margin-bottom: 15px;
		font-size: 13px;
	}

	.contact_info_widget i{
		position: absolute;
		left: 0;
		top: -3px;
		display: inline-block;
		line-height: 32px;
		text-align: center;
		color: #545860;
	}


/*-------- 08.6. Recent Posts Widget Extended Widget --------*/
	.rpwe-block li{
		border-bottom: 1px solid #282a2f !important;
		margin-bottom: 19px !important;
		padding-bottom: 19px !important;
		position: relative;
		min-height: 50px;
		margin-bottom: 26px !important;
	}

	.rpwe-block li:last-child{
		border-bottom: none !important;
		margin-bottom: 0 !important;
		padding-bottom: 0 !important;
		position: relative;
		min-height: 50px;
		margin-bottom: 26px !important;
	}

	.rpwe-block a{
		font-family: 'Titillium Web';
		color:  #93959d;
		font-size: 13px;
		font-weight: 400;
	}

	.rpwe-thumb {
		border: 0 !important;
		box-shadow: none !important;
		margin: 0 !important;
		padding: 0 !important;
		width: 80px;
		height: 80px;
	}

	.rpwe-title{
		margin-bottom: 0 !important;
		font-family: 'Titillium Web';
		font-size: 13px !important;
		line-height: 20px;
		color: #939fa6;
		font-weight: normal;
	}

	.rpwe_widget .rpwe-block .rpwe-time{
		font-size: 13px;
		color: #61656e;
	}

	.rpwe-clearfix:before, 
	.rpwe-clearfix:after{
		display: none !important;
	}



/*-----------------------------------------------------------------*/
/* 09. Pages
/*-----------------------------------------------------------------*/

/*-------- 09.1. Portfolio --------*/
	.portfolio_item{
		color: #929292;
		border: 1px solid #fff;
	}

	.portfolio_item,
	.portfolio_item .overlayed{
		position: relative; 
		text-align: center;
	}

	.portfolio_item h4{
		margin: 0px 0px 27px 0px;
		position: relative;
		z-index: 1;
	}

	.portfolio_item span{
		z-index: 1;
		position: relative;
	}

	.portfolio_item h4 a{
		color: #fff;
		font-size: 30px;
		font-weight: 300;
		text-transform: uppercase;
		font-family: 'Titillium Web';
	}

	.portfolio_item h4 a:hover{
		color: #f1501a;
	}

	.portfolio_item .overlayed .overlay {
		width: 100%; 
		height: 100%; 
		position: absolute; 
		overflow: hidden; 
		top: 0; 
		left: 0; 
		filter: alpha(opacity=0); 
		opacity: 0; 
		background: none; 
		color: #fff;
		-webkit-transition: all 300ms ease-in-out; 
		-moz-transition: all 300ms ease-in-out; 
		-o-transition: all 300ms ease-in-out; 
		-ms-transition: all 300ms ease-in-out; 
		transition: all 300ms ease-in-out; 
	}
	
	.portfolio_item .overlayed .overlay .overlay_title{
		font-family: 'Titillium Web';
		font-size: 26px;
		color: #fff;
		font-weight: 700;
		margin-top: 30%;
		margin-bottom: 0;
	}
	
	.portfolio_item .overlayed .overlay .portfolio_item_tags{
		font-style: italic;
		margin-bottom: 0;
		font-size: 16px;
	}

	.portfolio_item:hover .overlayed .overlay {
		filter: alpha(opacity=100); 
		opacity: 1; 
		background:rgba(241, 80, 26, 0.9);
	}

	.portfolio_item:hover .overlayed .overlay:before{
		width: 69px;
		height: 1px;
		top: 15%;
		left: 50%;
		margin-left: -33px;
		margin-top: 33px;
	}

	.portfolio_item:hover .overlayed .overlay:after{
		width: 1px;
		height: 69px;
		left: 50%;
		top: 15%;
	}

	.portfolio_single_column_item{
		margin-bottom: 80px;
	}

	.portfolio_single_column_item .more-link{
		margin-top: 39px;
		text-align: left;
	}

	.single_portfolio_meta{
		color: #929292;
		margin-bottom: 33px;
	}

	.single_portfolio_meta .icon-calendar{
		margin-left: 30px;
	}

	#portfolio_item_meta h2{
		margin-bottom: 26px;
	}

	#portfolio_item_meta .portfolio_item_meta_label{
		color:#191b1f;
	}

	#portfolio_item_meta .portfolio_item_meta_data{
	}

	.portfolio_single_detail{
		margin-bottom: 6px;
	}

	#portfolio_item_meta p:last-child{
		border-bottom: none;
	}

	.portfolio_item_image{
		margin-bottom: 35px;
	}

	.portfolio_item_view_link{
		margin-top: 13px;
		margin-bottom: 34px;
	}

	.portfolio_item_view_link a{
		display: inline-block;
		color: #f1501a;
		padding: 5px 0;
		font-family: 'Open Sans';
		font-weight: 400;
	}

	.portfolio_item_view_link a:hover{
		color: #191b1f;
	}

	.portfolio_item_view_link i{
		font-size: 8px;
		padding-left: 5px;
	}

	.portfolio_share_social a:first-child{
		margin-left: 0;
	}

	.isotope-item {
	  z-index: 2;
	}

	.isotope-hidden.isotope-item {
	  pointer-events: none;
	  z-index: 1;
	}

	.isotope,
	.isotope .isotope-item {
	  -webkit-transition-duration: 0.8s;
	     -moz-transition-duration: 0.8s;
	      -ms-transition-duration: 0.8s;
	       -o-transition-duration: 0.8s;
	          transition-duration: 0.8s;
	}

	.isotope {
	  -webkit-transition-property: height, width;
	     -moz-transition-property: height, width;
	      -ms-transition-property: height, width;
	       -o-transition-property: height, width;
	          transition-property: height, width;
	}

	.isotope .isotope-item {
	  -webkit-transition-property: -webkit-transform, opacity;
	     -moz-transition-property:    -moz-transform, opacity;
	      -ms-transition-property:     -ms-transform, opacity;
	       -o-transition-property:      -o-transform, opacity;
	          transition-property:         transform, opacity;
	}

	.isotope.no-transition,
	.isotope.no-transition .isotope-item,
	.isotope .isotope-item.no-transition {
	  -webkit-transition-duration: 0s;
	     -moz-transition-duration: 0s;
	      -ms-transition-duration: 0s;
	       -o-transition-duration: 0s;
	          transition-duration: 0s;
	}

	#filters{
		list-style: none;
		margin: 0;
		text-align: center;
		margin-bottom: 39px;
	}

	#filters li{
		list-style: none;
		display: inline-block;
		margin-left: 4px;
	}

	#filters li a{
		color: #929ca4;
		font-family: 'Open Sans';
		font-size: 14px;
		font-weight: 400;
		border: 1px solid #e1e9e9;
		padding: 4px 20px 4px 20px;
		display: inline-block;
	}

	#filters li:first-child a{
		border-left: 1px solid #e1e9e9;
	}

	#filters li a.selected,
	#filters li a:hover{
		color: #fff;
		background-color:  #f1501a;
	}

	#filters i{
		margin-right: 10px;
		margin-left: 15px;
		font-size: 9px;
		top: 0px;
	}

	.portfolio_item_4{
		width: 24.98%;
		display: block;
		float: left;
	}

	.portfolio_item_3{
		width: 33.3%;
		display: block;
		float: left;
	}

	.portfolio_item_2{
		width: 50%;
		display: block;
		float: left;
	}

	#related_portfolio{
		padding: 0;
	}

	#related_portfolio .portfolio_item{
		border: none;
	}

	#Abdev_latest_portfolio{
		margin-bottom: 48px;
	}

	.more_portfolio_link{
		margin-bottom: 70px;
		text-align: center;
	}

	.more_portfolio_link a{
		border: 1px solid #e4e7e8;
		font-family: 'Titillium Web';
		font-size: 14px;
		font-weight: 700;
		color: #191b1f;
		padding: 13px 36px 14px 36px;
	}

	.more_portfolio_link a:hover{
		background: #191b1f;
		border: 1px solid #191b1f;
		color: #fff;
	}

	.portfolio-readmore{
		margin-top: 30px;
	}

	.portfolio-readmore .more-link{
		margin-top: 30px;
	}

	#single_portfolio_pagination{
		min-height: 42px;
		margin: 70px 0 40px 0;
	}

	#single_portfolio_pagination a{
		font-family: 'Open Sans';
		font-weight: 300;
		font-size: 16px;
		color: #505558;
		border: 1px solid #e6ebed;
		padding: 7px 20px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}

	#single_portfolio_pagination a i{
		font-size: 10px;
		color: #bec6cb;
	}

	#single_portfolio_pagination .prev i{
		margin-right: 8px;
	}

	#single_portfolio_pagination .next i{
		margin-left: 8px;
	}

	#single_portfolio_pagination a:hover{
		color: #fff;
		background: #505558;
		border: 1px solid #505558;
	}

	#single_portfolio_pagination .next{
		float: right;
	}

	/* Nivo Slider Gallery */
	
	.slider-wrapper{
        position: relative;        
    }

    #slider a {
        border:0;
        display:block;
    }
    
    .nivo-controlNav {
        padding: 20px 0;
        text-align: left;
    }

    .nivo-control img{
		width: 100px;
		margin-right: 10px;
		margin-bottom: 10px;
    }



/*-------- 09.2. Contact Page - Contact Info --------*/
	.contact_page_info{
		position: relative;
		margin-bottom: 19px;
		padding-left: 47px;
	}

	.contact_page_info span{
		position: absolute;
		left: 0;
		display: inline-block;
		line-height: 32px;
		text-align: center;
		background: transparent;
	}

	.contact_page_info i{
		position: relative;
		top: -2px;
		font-size: 12px;
		color: #acaeb7;
	}

	.contact_text{
		margin-bottom: 24px;
	}

/*-------- 09.3. About us page --------*/
	.section_stats{
		padding: 37px 0 0 0;
	}

/*-------- 09.4. 404 page --------*/
	#page404{
		text-align: center;
		padding-top: 85px;
	}

	#page404 .big_404{
		font-size: 170px;
		line-height: 170px;
		font-family: 'Titillium Web';
		font-weight: 700;
		color: #f1501a;
		margin-bottom: 9px;
	}

	#page404 h2{
		margin-bottom: 44px;
	}

	#page404 a:hover{
		color: #191b1f;
	}

	#page404 .dnd_search i{
		color:  #f1501a;
		position: absolute;
		top: 16px;
		right: 17px;
		cursor: pointer;
	}

	#page404 .dnd_search i:hover{
		color: #93959d;
		-webkit-transition: all 180ms ease-in;
 	   	transition: all 180ms ease-in;
	}

	#page404 .dnd_search form{
		position: relative;
		display: inline-block;
		width: 30%;
	}

	#page404 .dnd_search form input{
		height: 48px;
		padding-left: 17px;
		padding-right: 17px;
		width: 100%;	
	}


/*-----------------------------------------------------------------*/
/* 10. Other
/*-----------------------------------------------------------------*/

/*-------- 10.1. AB Testimonials --------*/
	.ABt_testimonials_wrapper{
		margin-bottom: 54px;
	}

	.ABt_testimonials_slide li{
		background: transparent;
	}

	.ABt_testimonials_slide	.testimonial_big {
		border-left: none;
		background: transparent;
	}

	.withBorderBottom .ABt_testimonials_slide .testimonial_big {
		border-left: none;
		background: none;
	}

	.ABt_testimonials_slide	.testimonial_big p{
		text-align: center;
		margin-bottom: 28px;
		display: block;
		font-family: 'Open Sans';
		color:  #73767e;
		font-size: 26px; 
		line-height: 36px;
		font-weight: 400;
		font-style: italic;
		padding: 0 10px;
	}

	.ABt_testimonials_slide	.testimonial_big .source{
		text-align: center;
		margin-bottom: 20px;
		display: block;
		font-family: 'Open Sans';
		color:  #191b1f;
		font-size: 17px; 
		font-weight: 400;
		margin-bottom: 34px;
		margin-left: -26px;
	}

	.ABt_testimonials_slide	.testimonial_big a{
		text-align: center;
		margin-bottom: 20px;
		font-family: 'Open Sans';
		color:  #93959d;
		font-size: 13px; 
		font-weight: 400;
		margin-bottom: 34px;
	}

	.ABt_testimonials_wrapper .ABt_pagination span{
		display: none;
	}

	.ABt_testimonials_wrapper .ABt_pagination a{
		font-size: 6px;
		border-radius: 50%;
		border: 2px solid #93959d;
		margin: 0 3px;
		padding: 0 4px;
	}

	.ABt_testimonials_wrapper .ABt_pagination .selected{
		background-color:  #f1501a;
		border: 2px solid #f1501a;
	}

	.ABt_testimonials_wrapper .ABt_pagination a:hover{
		background-color:  #f1501a;
		border: 2px solid #f1501a;
	}

	.ABt_testimonials_wrapper .caroufredsel_wrapper {
		margin: 0 !important;
		width: auto !important;
		margin-bottom: 18px !important;
	}

	.ABt_testimonials_wrapper.picture_top{
		position: relative;
		margin-bottom: 0;
	}

	.ABt_testimonials_wrapper.picture_top .ABt_pagination{
		margin-left: -43px;
		z-index: 1;
		position: absolute;
		left: 50%;
		bottom: 100px;
	}

	.ABt_testimonials_wrapper.picture_top .ABt_pagination a{
		margin-right: 13px;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		border: 2px solid #93959d;
		display: inline-block;
	}

	.ABt_testimonials_wrapper.picture_top .ABt_pagination a.selected{
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background: #f1501a;
		border: 0;
		display: inline-block;
	}

	.ABt_testimonials_wrapper.picture_top .ABt_pagination a:hover{
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background: #f1501a;
		border: 0;
	}

	.ABt_testimonials_wrapper.picture_top .ABt_pagination a span{
		display: none;
	}

	.ABt_testimonials_wrapper.picture_top .testimonial_small{
		border: 1px solid #e9eaec;
		border-radius: 5px;
		padding: 33px 50px 91px 118px;
		position: relative;
		background: #fff;
		margin-bottom: 30px;
	}

	.ABt_testimonials_wrapper.picture_top .testimonial_small .source{
		position: absolute;
		left: 118px;
		bottom: 91px;
		display: inline;
		text-align: left;
	}

	.ABt_testimonials_wrapper.picture_top .ABt_author{
		color: #3b4550;		
	}

	.ABt_testimonials_wrapper.picture_top .testimonial_small p{
		border-bottom: 0px;
		font-size: 14px;
		color: #848994;
		line-height: 26px;
	}

	.ABt_testimonials_wrapper.picture_top .testimonial_small p:after{
		display: none;
	}

	.ABt_testimonials_wrapper.picture_top .ABt_testimonials_slide li{
		border-radius: 5px;
		padding-bottom: 10px;
		background: transparent;
	}

	.ABt_testimonials_wrapper.picture_top .testimonial_small img{
		width: 70px;
		height: 70px;
		border-radius: 50%;
		position: absolute;
		top: 30px;
		left: 25px;
	}

/*-------- 10.2. Twitter scroller --------*/
	.ab-tweet-scroller {
		position: relative;
		border: 0;
	}

	.ab-tweet-scroller:before{
		content: '\e62b'; /*.ci_icon-twitter*/
		font-family: 'core_icomoon';
		background: none;
		width: auto;
		height: auto;
		font-style: normal;
		font-size: 38px;
		color: #f1501a;
		position: absolute;
		top: 10px;
		left: 50%;
		margin-left: -19px;
	}

	.ab-tweet-item{
		position: relative;
		padding-top: 90px;
		padding-bottom: 50px;
	}

	.ab-tweet-username{
		color: #f1501a;
		font-size: 16px;
		position: absolute;
		left: 50%;
		top: 53px;
		margin-left: -61px;
	}

	.ab-tweet-text{
		font-family: 'Titillium Web';
		font-size: 20px;
		color: #000;
	}

	.ab-tweet-text a{
		font-family: 'Titillium Web';
		font-size: 20px;
		color: #f1501a;
	}

	.ab-tweet-text a:hover{
		color: #acafb7;
	}

	.ab-tweet-date{
		color: #f1501a;
		font-family: 'Titillium Web';
		font-size: 14px;
		position: absolute;
		bottom: 12px;
		left: 50%;
		margin-left: -61px;
		z-index: 10;
	}

	.ab-tweet-date:hover{
		color: #acafb7;
	}

	.ab-tweet-prev{
		bottom: 50%;
		color: transparent;
	}

	.ab-tweet-next{
		color: transparent;
	}

	a.ab-tweet-prev:hover,
	a.ab-tweet-next:hover{
		color:transparent;
	}

	.ab-tweet-prev:after{
		content: '\e60d'; /*ci_icon-chevron-left*/
		font-family: 'core_icomoon';
		color: #f1501a;
		font-size: 20px;
		position: absolute;
		bottom: 50%;
		left: 0;
		right: auto;
		margin-bottom: -22px;
	}

	.ab-tweet-prev:hover:after,
	.ab-tweet-next:hover:after{
		color: #acafb7;
		-webkit-transition: all 180ms ease-in;
 	   transition: all 180ms ease-in;
	}

	.ab-tweet-next:after{
		content: '\e60c'; /*ci_icon-chevron-right*/
		font-family: 'core_icomoon';
		color: #f1501a;
		font-size: 20px;
		position: absolute;
		bottom: 50%;
		right: 0;
		left:auto;
		margin-bottom: -22px;
	}

/*-----------------------------------------------------------------*/
/* 11. Footer
/*-----------------------------------------------------------------*/
	#Abdev_main_footer{
		color: #939fa6;
	}

	#Abdev_main_footer h3{
		color: #fff;
		font-size: 18px;
		line-height: 18px;
		font-weight: 400;
		font-family: 'Titillium Web';
		margin-bottom: 34px;
	}

	#Abdev_main_footer a{
		color: #93959d;
		font-size: 13px;
	}

	#Abdev_main_footer a:hover{
		color: #fff;
	}

	#Abdev_main_footer .tagcloud a{
		border: 1px solid #5f5f5e;
	}

	#Abdev_main_footer .tagcloud a:hover{
		color: #434342;
		border-color: #929292;
	}

	.footer-widget-heading{
		color: #fff;
	}

	.textwidget{
		font-family: 'Open Sans';
		color:  #93959d;
		font-size: 13px;
		font-weight: 400;
		margin-bottom: 12px;
	}

	#footer_columns{
		background: #191b1f;
		padding: 118px 0 91px 0;
	}

	#footer_copyright{
		background: #0d0e11;
		color: #93959d;
		font-size: 13px;
		line-height: 30px;
		padding: 20px 0;
	}

	#jomelle_back_to_top{
		position: relative;
	}

	#jomelle_back_to_top:before{
		display: block;
		content: "";
		width: 15px;
		height: 15px;
		border-left: 1px solid #93959d;
		border-top: 1px solid #93959d;
		transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		-webkit-transform:rotate(45deg);
		position: absolute;
		left: 50%;
		top:13px;
		margin-left: -9px;
	}

	#jomelle_back_to_top:hover:before{
		border-left: 1px solid #fff;
		border-top: 1px solid #fff;
	}

	.footer_social{
		text-align: right;
	}

	.footer_social a{
		display: inline-block;
		width: 32px;
		height: 32px;
		line-height: 32px;
		text-align: center;
	}

	.footer_social i{
		color:#939fa6;
		font-size: 13px;
	}

	.footer_social a:hover i{
		color:#fff;
	}


