/********** Shortcode: Animation Box *************************************************************/
.dnd-animo,
.dnd-animo-children > *{
	visibility: hidden;
}

/********** Shortcode: Columns & sections *************************************************************/
.dnd_container{
	width: 100%;
}

.dnd_container:before,
.dnd_container:after{
	display: table;
	line-height: 0;
	content: "";
}

.dnd_container:after{
	clear: both;
}

.dnd_section_dd{
	position: relative;
	overflow:hidden;
	padding-top: 100px;
	padding-bottom: 40px;
}

.dnd_section_dd > *{
	z-index: 1;
	position: relative;
}

.dnd_video_background{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 0;
	visibility: hidden;
}

.dnd_video_background .mejs-container{
	background:none !important;
}

.dnd_video_background .mejs-overlay-loading{
	display: none !important;
}

.dnd-parallax{
	background-position: 50% top;
	background-attachment:fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

.dnd_container [class*="column_dd_span"]{
	display: block;
	float: left;
	min-height: 20px;
	margin-left: 2.564102564102564%;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

.section_no_column_margin .dnd_container [class*="column_dd_span"],
.dnd_container [class*="column_dd_span"]:first-child{
	margin-left: 0;
}

.dnd_column_dd_span12  {width: 100%;}
.dnd_column_dd_span11  {width: 91.45299145299145%;}
.dnd_column_dd_span10  {width: 82.90598290598291%;}
.dnd_column_dd_span9   {width: 74.35897435897436%;}
.dnd_column_dd_span8   {width: 65.81196581196581%;}
.dnd_column_dd_span7   {width: 57.26495726495726%;}
.dnd_column_dd_span6   {width: 48.71794871794872%;}
.dnd_column_dd_span5   {width: 40.17094017094017%;}
.dnd_column_dd_span4   {width: 31.62393162393162%;}
.dnd_column_dd_span3   {width: 23.07692307692308%;}
.dnd_column_dd_span2   {width: 14.52991452991453%;}
.dnd_column_dd_span1   {width: 5.982905982905983%;}

.section_no_column_margin .dnd_column_dd_span12  {width: 100%;}
.section_no_column_margin .dnd_column_dd_span11  {width: 91.6666666666665%;}
.section_no_column_margin .dnd_column_dd_span10  {width: 83.3333333333334%;}
.section_no_column_margin .dnd_column_dd_span9   {width: 74.9999999999999%;}
.section_no_column_margin .dnd_column_dd_span8   {width: 66.6666666666665%;}
.section_no_column_margin .dnd_column_dd_span7   {width: 58.3333333333332%;}
.section_no_column_margin .dnd_column_dd_span6   {width: 49.9999999999999%;}
.section_no_column_margin .dnd_column_dd_span5   {width: 41.6666666666665%;}
.section_no_column_margin .dnd_column_dd_span4   {width: 33.3333333333332%;}
.section_no_column_margin .dnd_column_dd_span3   {width: 24.9999999999999%;}
.section_no_column_margin .dnd_column_dd_span2   {width: 16.6666666666665%;}
.section_no_column_margin .dnd_column_dd_span1   {width:  8.3333333333332%;}

.section_equalize_5 .dnd_column_dd_span3,
.section_equalize_5 .dnd_column_dd_span2{
	width:  17.945%;
}

.section_equalize_5 .dnd_container [class*="column_dd_span"]{
	margin-left: 2.564102564102564%;
}

.section_no_column_margin.section_equalize_5 .dnd_container [class*="column_dd_span"],
.section_equalize_5 .dnd_container [class*="column_dd_span"]:first-child{
	margin-left: 0;
}

.section_no_column_margin.section_equalize_5 .dnd_column_dd_span3,
.section_no_column_margin.section_equalize_5 .dnd_column_dd_span2{
	width:  20%;
}

.section_no_column_margin.section_equalize_5 .portfolio_fullwidth{
	width:  20%;
}

.section_body_fullwidth .dnd_container,
.section_body_fullwidth .container{
	width: 100%;
}

.dnd_section_dd header,
.dnd_section_dd footer{
	text-align: center;
}

.dnd_section_dd header{
	padding-bottom: 30px;
}

.dnd_section_dd header h3{
	font-family: 'Titillium Web';
	font-weight: 700;
	display: inline-block;
	color: #191b1f;
	font-size: 34px;
	line-height: 34px;
	margin-bottom: 37px;
	position: relative;
}

.dnd_section_dd header h3:after{
	display: block;
	content: "";
	width: 38px;
	height: 2px;
	background: #f1501a;
	position: absolute;
	left: 50%;
	margin-left: -19px;
	bottom: -22px;
}

.dnd_section_dd.section_title_left header h3{
	display: block;
	text-align: left;
	font-size: 22px;
	padding-bottom: 21px;
}

.dnd_section_dd.section_title_left header h3:after{
	bottom: -2px;
	left: 0;
	margin-left: 0;
}

.column_title_left:after{
	display: block;
	content: "";
	width: 38px;
	height: 2px;
	background: #f1501a;
	margin-left: 0;
	margin-top: 20px;
}

.column_title_left{
	margin-bottom: 26px;
}

.column_title_center{
	text-align: center;
	margin-bottom: 35px;
}

.dnd_section_dd header p{
	font-family: Open Sans;
	margin-bottom: 5px;
	color:  #929ca4;
	font-size: 18px;
	font-weight: 300;
}

.dnd_section_dd.pattern_overlayed{
	color: #fff;
}

.dnd_section_dd.pattern_overlayed header h3{
	color: #fff;
}


/********** Shortcode: Abbreviation *************************************************************/
.dnd-abbr{
	border-bottom: 1px dotted #666;
	cursor: help;
}

/********** jQuery UI helpers *************************************************************/
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after { 
	content: "";
	display: table;
}

.ui-helper-clearfix:after { 
	clear: both;
}

.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0);
}


/********** Shortcode: Tabs *************************************************************/
.dnd-tabs {
	position: relative; 
	margin-bottom: 30px;
	clear: both;
} 

.dnd-tabs .ui-tabs-nav{
	margin: 0;
}

.dnd-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	display: block;
	white-space: nowrap;
	margin: 0;
	padding: 0;
	border-top: 1px solid #e6ebed;
	border-left: 1px solid #e6ebed;
	background: #fff;
	font-size: 16px;
	line-height: 16px;
	position: relative;
}

.dnd-tabs .ui-tabs-nav li a{
	text-decoration: none;
	text-align: center;
	clear:both;
	box-sizing: border-box;
	display: block;
	padding: 15px 25px;
	width: 100%;
	height: 100%;
	cursor: pointer;
	outline: none;
	color: #93959d;
}

.dnd-tabs .ui-tabs-nav li:hover a{
	color: #fff;
	background: #f1501a;
}

.dnd-tabs .ui-tabs-nav li.ui-tabs-active {
	position: relative;
	border-top: 2px solid #f1501a;
}

.dnd-tabs .ui-tabs-nav li.ui-tabs-active:after{
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background: #fff;
	position: absolute;
	bottom: -1px;
	left: 0;
}

.dnd-tabs .ui-tabs-nav li.ui-tabs-active a{
	color: #f1501a;
	cursor: default;
}

.dnd-tabs .ui-tabs-nav li.ui-tabs-active:hover a{
	color: #fff !important;
	cursor: default;
}

.dnd-tabs .ui-tabs-nav li:last-child{
	border-right: 1px solid #e6ebed;
}

.dnd-tabs .dnd-tabs-wrapper{
	border: 1px solid #e6ebed;
}

.dnd-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 25px 30px;
}

.ui-tabs-hide {
	display: none;
}

.dnd-tabs .ui-tabs-panel .tab_text_alternative{
	padding-bottom: 0px;
}


/* bottom positioned tabs */
.dnd-tabs-position-bottom .ui-tabs-nav{
	border-bottom: none;
	position: absolute;
	bottom: -48px;
}

.dnd-tabs-position-bottom .ui-tabs-nav li {
	border-top: none;
	border-bottom: 1px solid #e6ebed;
}

.dnd-tabs-position-bottom .ui-tabs-panel {
	padding: 30px 25px;
}

.dnd-tabs-position-bottom .ui-tabs-nav li.ui-tabs-active:after{
	top: -1px;
	bottom: auto;
}


/* left or right positioned tabs */

.dnd-tabs-vertical .ui-tabs-nav li a{
	padding: 15px;
	text-align: right;
}

/* left positioned tabs */
.dnd-tabs-position-left .dnd-tabs-wrapper{
	margin-left: 200px;
}

.dnd-tabs-position-left .ui-tabs-nav {
	width: 200px;
	float: left;
	margin-bottom: 30px;
}

.dnd-tabs-position-left .ui-tabs-nav li{
	float: none;
	line-height: 14px;
	border-right: none;
}

.dnd-tabs-position-left .ui-tabs-nav li:last-child{
	border-bottom: 1px solid #e6ebed;
	border-right: none;
}

.dnd-tabs-position-left .ui-tabs-nav li.ui-tabs-active{
	background: #fff;
}

.dnd-tabs-position-left .ui-tabs-nav li.ui-tabs-active:after{
	content: "";
	display: block;
	width: 1px;
	height: 100%;
	background: #fff;
	position: absolute;
	bottom: auto;
	left: auto;
	right: -1px;
	top: 0;
}

/* right positioned tabs */
.dnd-tabs-position-right .dnd-tabs-wrapper{
	margin-right: 200px;
}

.dnd-tabs-position-right .ui-tabs-nav {
	width: 200px;
	float: right;
	margin-bottom: 30px;
}

.dnd-tabs-position-right .ui-tabs-nav li{
	float: none;
	line-height: 14px;
	border-left: none;
	border-right: 1px solid #e6ebed;
}

.dnd-tabs-position-right .ui-tabs-nav li a{
	text-align: left;
}

.dnd-tabs-position-right .ui-tabs-nav li:last-child{
	border-bottom: 1px solid #e6ebed;
	border-left: none;
}

.dnd-tabs-position-right .ui-tabs-nav li.ui-tabs-active{
	background: #fff;
}

.dnd-tabs-position-right .ui-tabs-nav li.ui-tabs-active:after{
	content: "";
	display: block;
	width: 1px;
	height: 100%;
	background: #fff;
	position: absolute;
	bottom: auto;
	right: auto;
	left: -1px;
	top: 0;
}

/* Bellow width break point */
.dnd-tabs.dnd-tabs-fullwidthtabs .ui-tabs-nav li {
	margin-right: 0px;
	width: 100%;
	margin-left: 0;
	float: none;
	text-align: left;
	padding: 5px 15px;
	border: 1px solid #e6ebed;
	border-bottom:none;
}

.dnd-tabs.dnd-tabs-fullwidthtabs .ui-tabs-nav li.ui-tabs-active{
	background: #f9f9f9;
}

.dnd-tabs.dnd-tabs-fullwidthtabs .ui-tabs-nav li.ui-tabs-active:after{
	display: none;
}

.dnd-tabs-position-bottom.dnd-tabs-fullwidthtabs .ui-tabs-nav {
	position: relative;
	bottom: 0;
}

.dnd-tabs-position-bottom.dnd-tabs-fullwidthtabs .ui-tabs-nav li.ui-tabs-active:after{
	display: none;
}

.dnd-tabs-position-left.dnd-tabs-fullwidthtabs .ui-tabs-nav,
.dnd-tabs-position-right.dnd-tabs-fullwidthtabs .ui-tabs-nav {
	margin: 0;
	border-bottom:none;
	border-right: 1px solid #eeeeee;
	width: 100%;
	position: relative;
	padding-bottom: 20px;
}

.dnd-tabs-position-left.dnd-tabs-fullwidthtabs .ui-tabs-nav li,
.dnd-tabs-position-right.dnd-tabs-fullwidthtabs .ui-tabs-nav li{
	float: none;
	text-align: left;
	line-height: 37px;
	padding: 5px 15px;
	margin-right: 0;
	margin-left: 0;
}

.dnd-tabs-position-left.dnd-tabs-fullwidthtabs .ui-tabs-nav li.ui-tabs-active,
.dnd-tabs-position-right.dnd-tabs-fullwidthtabs .ui-tabs-nav li.ui-tabs-active{
	background: #f9f9f9;
}

.dnd-tabs-position-left.dnd-tabs-fullwidthtabs .ui-tabs-nav li.ui-tabs-active:after,
.dnd-tabs-position-right.dnd-tabs-fullwidthtabs .ui-tabs-nav li.ui-tabs-active:after{
	display: none;
}

.dnd-tabs-position-left.dnd-tabs-fullwidthtabs .ui-tabs-panel,
.dnd-tabs-position-right.dnd-tabs-fullwidthtabs .ui-tabs-panel{
	margin-left: 0px;
	margin-right: 0px;
	padding-top:0;
}

/* Timeline */

.dnd-tabs .dnd-tabs-timeline{
	list-style-type: none;
}

.dnd-tabs.dnd-tabs-timeline ul li{
	list-style: none;
	float: left;
	display: table-cell;
	white-space: nowrap;
	background: transparent;
	margin: 0;
	padding: 0;
	border: 0px ;
	font-size: 18px;
	line-height: 18px;
	position: relative;
	font-family: 'Titillium Web';
	font-weight: 700;
	color: #3b4550;
	position: relative;
}

.dnd-tabs.dnd-tabs-timeline ul li a{
	padding: 15px 0;
}

.dnd-tabs.dnd-tabs-timeline ul li:hover a{
	color: #f1501a;
	background: transparent;
}

.dnd-tabs .ui-tabs-nav li.ui-tabs-active:hover a{
	color: #f1501a;
}

.dnd-tabs.dnd-tabs-timeline .ui-tabs-nav li.ui-tabs-active{
	border-top: none;
}

.dnd-tabs.dnd-tabs-timeline .ui-tabs-nav li.ui-tabs-active:before{
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 3px solid #f1501a;
	background: #fff;
	position: absolute;
	bottom: -11px;
	left: 50%;
	margin-left: -8px;
}

.dnd-tabs.dnd-tabs-timeline .ui-tabs-nav{
	margin-bottom: 45px;
}

.dnd-tabs.dnd-tabs-timeline .ui-tabs-nav li.ui-tabs-active:after{
	content:" ";
	width: 15px;
	height: 15px;
	border-top: 1px solid #e9eaec;
	border-right: 1px solid #e9eaec;
	transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	background: #fff;
	position: absolute;
	bottom: -57px;
	left: 50%;
	margin-left: -7px;
	z-index: 1;
}

.dnd-tabs.dnd-tabs-timeline ul li:last-child{
	border-right: 0;
}

.dnd-tabs.dnd-tabs-timeline ul.ui-tabs-nav:after{
	content: " ";
	width: 100%;
	height: 4px;
	background: #e4e7e8;
	-moz-box-shadow:    inset 0 0 3px #b9bfca;
    -webkit-box-shadow: inset 0 0 3px #b9bfca;
    box-shadow:         inset 0 0 3px #b9bfca;
}

.dnd-tabs.dnd-tabs-timeline .dnd-tabs-wrapper{
	border: 1px solid #e9eaec;
	border-radius: 5px;
	position: relative;
	text-align: center;
}

.dnd-tabs.dnd-tabs-timeline .dnd-tabs-wrapper p{
	text-align: left; 
}

.dnd-tabs.dnd-tabs-timeline .timeline_title{
	font-size: 14px;
	color: #3b4550;
	font-family: 'Titillium Web';
	font-weight: 700;
}

.dnd-tabs.dnd-tabs-timeline .ui-tabs-anchor{
	margin-bottom: 8px;
}

.dnd-tabs.dnd-tabs-timeline .ui-tabs-panel{
	background: #fff;
}

.tab_par_1 {width: 100%;}
.tab_par_2 {width: 50%;}
.tab_par_3 {width: 33.33%;}
.tab_par_4 {width: 25%;}
.tab_par_5 {width: 20%;}
.tab_par_6 {width: 16.66%;}
.tab_par_7 {width: 14.28%;}
.tab_par_8 {width: 12.5%;}
.tab_par_9 {width: 11.11%;}
.tab_par_10 {width: 10%;}
.tab_par_11 {width: 9.09%;}
.tab_par_12 {width: 8.33%;}
.tab_par_13 {width: 7.69%;}
.tab_par_14 {width: 7.14%;}
.tab_par_15 {width: 6.66%;}



/********** Shortcode: Accordion *************************************************************/
.dnd-accordion{
	margin-bottom: 30px;
}

.dnd-accordion .ui-accordion-header { 
	display: block; 
	cursor: pointer; 
	position: relative;
	border: 1px solid #e6ebed;
	color:#93959d;
	font-weight:400;
	padding: 10px 5px 10px 47px;
	margin-top: 7px;
	font-size: 16px;
	background: #fff;
}

.dnd-accordion .ui-accordion-header-active { 
	color:#f1501a;
}

.dnd-accordion .ui-accordion-header:hover { 
	color:#ffffff;
	background-color:  #f1501a;
}

.dnd-accordion .ui-accordion-header:first-child{
	margin-top: 0;
}

.dnd-accordion .ui-accordion-content { 
	overflow: auto; 
	border: 1px solid #e6ebed;
	background: #fff;
	border-top: 0;
	padding: 25px 30px;
}

.dnd-accordion .ui-accordion-header-icon{
	display: block;
	width: 14px;
	height: 14px;
	position: absolute;
	left: 16px;
	top: 23px;
}

.dnd-accordion .ui-icon-triangle-1-s{
	height: 2px;
	width: 14px;
	background: #f1501a;
}

.dnd-accordion .ui-icon-triangle-1-e{
	height: 2px;
	width: 14px;
	background: #bec6cb;
}

.dnd-accordion .ui-icon-triangle-1-e:before{
	content: "";
	display: block;
	height: 14px;
	width: 2px;
	background: #bec6cb;
	position: relative;
	top: -6px;
	left: 6px;
}

.dnd-accordion .ui-accordion-header:hover .ui-icon-triangle-1-s,
.dnd-accordion .ui-accordion-header:hover .ui-icon-triangle-1-e:before,
.dnd-accordion .ui-accordion-header:hover .ui-icon-triangle-1-e{
	background: #fff;
}


/********** Shortcode: Toggle *************************************************************/
.dnd-toggle{
	margin-bottom: 20px;
}


/********** Shortcode: Tables *************************************************************/
.dnd-table table{
	margin-bottom: 10px;
	margin-top: 6px;
	border-collapse:collapse;
	border: 1px solid #e6ebed;
}

.dnd-table th{
	font-family: 'Titillium Web';
	font-weight: 400;
	font-size: 16px;
	color: #191b1f;
	text-align: left;
	border: 1px solid #e6ebed;
	background: #f7f9fa;
	padding: 7px 19px 7px 19px;
}

.dnd-table td{
	border: 1px solid #e6ebed;
	padding: 9px 32px 9px 19px;
}

.dnd-table.dnd-table-alternative th{
	color: #fff;
	background: #f1501a;
}

.dnd-table-condensed table{
}

.dnd-table-hover table tr,
.dnd-table-striped table tr,
.dnd-table-condensed table tr{
	border-top: 1px solid #eee !important;
}

.dnd-table-hover table th,
.dnd-table-striped table th,
.dnd-table-condensed table th,
.dnd-table-hover table td,
.dnd-table-striped table td,
.dnd-table-condensed table td{
	padding: 2px 10px;
}

.dnd-table-striped table tr:nth-child(2n+1){
	background: #f9f9f9;
}

.dnd-table-hover table tr:hover{
	background: #efefef;
}


/********** Shortcode: Alert boxes *************************************************************/
.dnd_alert_success,
.dnd_alert_info,
.dnd_alert_warning,
.dnd_alert_error{
	margin-bottom: 20px;
	padding: 12px 18px;
	position: relative;
	font-size: 14px;
	font-weight: 400;
}

.dnd_alert_success{
	margin-top: 6px;
}

.dnd_alert_success i,
.dnd_alert_info i,
.dnd_alert_warning i,
.dnd_alert_error i{
	margin: 10px;
}

.dnd_alert_success,
.dnd_alert_success .dnd_alert_box_close{
	background-color:  rgba(135, 187, 35, 0.1);
	color: #87bb23;
}

.dnd_alert_info,
.dnd_alert_info .dnd_alert_box_close{
	background-color:  rgba(58, 147, 216, 0.1);
	color: #3a93d8;
}

.dnd_alert_warning,
.dnd_alert_warning .dnd_alert_box_close{
	background-color:  rgba(237, 183, 17, 0.1);
	color: #dca809;
}

.dnd_alert_error,
.dnd_alert_error .dnd_alert_box_close{
	background-color:  rgba(237, 89, 65, 0.1);
	color: #ed5941;
}

.dnd_alert_success .dnd_alert_box_close,
.dnd_alert_info .dnd_alert_box_close,
.dnd_alert_warning .dnd_alert_box_close,
.dnd_alert_error .dnd_alert_box_close{
	border: none;
	background: none;
	cursor: pointer;
	position: absolute;
	top: 13px;
	right: 15px;
	margin: 0;
	font-size: 11px;
}


/********** Shortcode: Blockquote *************************************************************/
.dnd_blockquote_style1{
	font-size: 18px;
	font-style: italic;
	line-height: 28px;
	color:  #73767e;
	background-color:  #f7f9fa;
	padding: 33px 27px 5px 40px;
	border-left: 4px solid #f1501a;
}

.dnd_blockquote_style1 p>small{
	margin-top: 1px;
	margin-bottom: 24px;
}

.dnd_blockquote small::before{
	content: "";
	width: 12px;
	height: 1px;
	background: #93959d;
	display: inline-block;
	margin-bottom: 4px;
	margin-right:5px;
}	

.dnd_blockquote_style1 small{
	font-size: 13px;
	line-height: 32px;
	font-style: normal;
	display: block;
	color: #93959d;
}

.dnd_blockquote_style2{
	font-size: 18px;
	font-style: italic;
	line-height: 28px;
	color:  #73767e;
	background-color:  #f7f9fa;
	border-left: none;
	padding: 33px 27px 5px 27px;
}

.dnd_blockquote_style2::before{
	content: "\e630"; /*ci_icon-quoteup*/
	display: inline-block;
	font-family: 'core_icomoon';
	font-size: 22px;
	line-height: 22px;
	float: left;
	position: absolute;
}

.dnd_blockquote_style2 p{
	padding-left: 45px;
}

.dnd_blockquote_style2 p>small{
	margin-top: 1px;
}

.dnd_blockquote_style2 small{
	font-size: 13px;
	font-style: normal;
	display: block;
	color: #93959d;
}


/********** Shortcode: UL *************************************************************/
.dnd_shortcode_ul{
	list-style: none !important;
	margin-left: 0;
}

.dnd_shortcode_ul li{
	list-style: none !important;
	line-height: 14px;
	display: block;
	position: relative;
	padding-left: 30px;
	text-align: left;
	margin-bottom: 20px;
}

.dnd_shortcode_ul li i{
	font-size: 12px;
	position: absolute;	
	top: 0;
	left: 0;
}


/********** Shortcode: Follow us links *************************************************************/
.dnd_follow_us{
	font-size: 13px;
}

.dnd_follow_us a{
	margin-right: 10px;
	margin-bottom: 10px;
	text-decoration: none;
	display: inline-block;
	background: #f7f9fa;
	width: 36px;
	height: 36px;
	line-height: 38px;
	text-align: center;
	color:#acafb7;
}

.dnd_follow_us a:hover{
	color: #fff;
}

.white_social .dnd_follow_us a{
	margin-right: 10px;
	text-decoration: none;
	display: inline-block;
	background: #fff;
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color:#c5c9d2;
	margin-bottom: 20px;
	font-size: 13px;
}

.white_social .dnd_follow_us a:hover i{
	color: #fff;
}

.dnd_follow_us .top_social_icon{
	padding: 0 12px;
	color: #acaeb7;;
	font-size: 13px;
	margin-bottom: 0;
}

.dnd_section_dd.big_social_icons .dnd_follow_us .dnd_socialicon{
	width: 72px;
	height: 72px;
	background: -webkit-linear-gradient(#fff, #f5f6f8); 
    background: -o-linear-gradient(#fff, #f5f6f8); 
    background: -moz-linear-gradient(#fff, #f5f6f8);
    background: linear-gradient(#fff, #f5f6f8);
    border: 1px solid #e9eaec;
    position: relative;
    top: -7px;
    margin-right: 12px;
    margin-bottom: 10px;
}

.dnd_section_dd.big_social_icons .dnd_follow_us .dnd_socialicon i {
	font-size: 32px;
	color: #9fa4af;
	position: absolute;
	left: 50%;
	margin-left: -16px;
	line-height: 66px;
}


.dnd_section_dd.big_social_icons .dnd_follow_us .dnd_socialicon_facebook:hover i{color: #3B5998;}
.dnd_section_dd.big_social_icons .dnd_follow_us .dnd_socialicon_twitter:hover i{color: #4099FF;}
.dnd_section_dd.big_social_icons .dnd_follow_us .dnd_socialicon_googleplus:hover i{color: #d34836;}
.dnd_section_dd.big_social_icons .dnd_follow_us .dnd_socialicon_linkedin:hover i{color: #0e76a8;}
.dnd_section_dd.big_social_icons .dnd_follow_us .dnd_socialicon_youtube:hover i{color: #c4302b;}
.dnd_section_dd.big_social_icons .dnd_follow_us .dnd_socialicon_pinterest:hover i{color: #c8232c;}
.dnd_section_dd.big_social_icons .dnd_follow_us .dnd_socialicon_github:hover i{color: #171515;}
.dnd_section_dd.big_social_icons .dnd_follow_us .dnd_socialicon_feed:hover i{color: #ee802f;}
.dnd_section_dd.big_social_icons .dnd_follow_us .dnd_socialicon_behance:hover i{color: #1769ff;}
.dnd_section_dd.big_social_icons .dnd_follow_us .dnd_socialicon_blogger_blog:hover i{color: #f57d00;}
.dnd_section_dd.big_social_icons .dnd_follow_us .dnd_socialicon_delicious:hover i{color: #3399ff;}
.dnd_section_dd.big_social_icons .dnd_follow_us .dnd_socialicon_designcontest:hover i{color: #5faad2;}
.dnd_section_dd.big_social_icons .dnd_follow_us .dnd_socialicon_deviantart:hover i{color: #4e6252;}
.dnd_section_dd.big_social_icons .dnd_follow_us .dnd_socialicon_digg:hover i{color: #000;}
.dnd_section_dd.big_social_icons .dnd_follow_us .dnd_socialicon_dribbble:hover i{color: #ea4c89;}
.dnd_section_dd.big_social_icons .dnd_follow_us .dnd_socialicon_dropbox:hover i{color: #007ee5;}
.dnd_section_dd.big_social_icons .dnd_follow_us .dnd_socialicon_emailalt:hover i{color: #ed1c16;}
.dnd_section_dd.big_social_icons .dnd_follow_us .dnd_socialicon_flickr:hover i{color: #ff0084;}
.dnd_section_dd.big_social_icons .dnd_follow_us .dnd_socialicon_forrst:hover i{color: #5b9a68;}
.dnd_section_dd.big_social_icons .dnd_follow_us .dnd_socialicon_instagram:hover i{color: #3f729b;}
.dnd_section_dd.big_social_icons .dnd_follow_us .dnd_socialicon_lastfm:hover i{color: #c3000d;}
.dnd_section_dd.big_social_icons .dnd_follow_us .dnd_socialicon_myspace:hover i{color: #313131;}
.dnd_section_dd.big_social_icons .dnd_follow_us .dnd_socialicon_picasa:hover i{color: #9a45a0;}
.dnd_section_dd.big_social_icons .dnd_follow_us .dnd_socialicon_skype:hover i{color: #00aff0;}
.dnd_section_dd.big_social_icons .dnd_follow_us .dnd_socialicon_stumbleupon:hover i{color: #f74425;}
.dnd_section_dd.big_social_icons .dnd_follow_us .dnd_socialicon_vimeo:hover i{color: #44bbff;}
.dnd_section_dd.big_social_icons .dnd_follow_us .dnd_socialicon_zerply:hover i{color: #9dcc7a;}

.dnd_team_member .dnd_socialicon_facebook,
.dnd_follow_us .dnd_socialicon_facebook:hover{background: #3B5998;}
.dnd_team_member .dnd_socialicon_twitter,
.dnd_follow_us .dnd_socialicon_twitter:hover{background: #4099FF;}
.dnd_team_member .dnd_socialicon_googleplus,
.dnd_follow_us .dnd_socialicon_googleplus:hover{background: #d34836;}
.dnd_team_member .dnd_socialicon_linkedin,
.dnd_follow_us .dnd_socialicon_linkedin:hover{background: #0e76a8;}
.dnd_team_member .dnd_socialicon_youtube,
.dnd_follow_us .dnd_socialicon_youtube:hover{background: #c4302b;}
.dnd_team_member .dnd_socialicon_pinterest,
.dnd_follow_us .dnd_socialicon_pinterest:hover{background: #c8232c;}
.dnd_team_member .dnd_socialicon_github,
.dnd_follow_us .dnd_socialicon_github:hover{background: #171515;}
.dnd_team_member .dnd_socialicon_feed,
.dnd_follow_us .dnd_socialicon_feed:hover{background: #ee802f;}
.dnd_team_member .dnd_socialicon_behance,
.dnd_follow_us .dnd_socialicon_behance:hover{background: #1769ff;}
.dnd_team_member .dnd_socialicon_blogger_blog,
.dnd_follow_us .dnd_socialicon_blogger_blog:hover{background: #f57d00;}
.dnd_team_member .dnd_socialicon_delicious,
.dnd_follow_us .dnd_socialicon_delicious:hover{background: #3399ff;}
.dnd_team_member .dnd_socialicon_designcontest,
.dnd_follow_us .dnd_socialicon_designcontest:hover{background: #5faad2;}
.dnd_team_member .dnd_socialicon_deviantart,
.dnd_follow_us .dnd_socialicon_deviantart:hover{background: #4e6252;}
.dnd_team_member .dnd_socialicon_digg,
.dnd_follow_us .dnd_socialicon_digg:hover{background: #000;}
.dnd_team_member .dnd_socialicon_dribbble,
.dnd_follow_us .dnd_socialicon_dribbble:hover{background: #ea4c89;}
.dnd_team_member .dnd_socialicon_dropbox
.dnd_follow_us .dnd_socialicon_dropbox:hover{background: #007ee5;}
.dnd_team_member .dnd_socialicon_emailalt,
.dnd_follow_us .dnd_socialicon_emailalt:hover{background: #ed1c16;}
.dnd_team_member .dnd_socialicon_flickr,
.dnd_follow_us .dnd_socialicon_flickr:hover{background: #ff0084;}
.dnd_team_member .dnd_socialicon_forrst,
.dnd_follow_us .dnd_socialicon_forrst:hover{background: #5b9a68;}
.dnd_team_member .dnd_socialicon_instagram,
.dnd_follow_us .dnd_socialicon_instagram:hover{background: #3f729b;}
.dnd_team_member .dnd_socialicon_lastfm,
.dnd_follow_us .dnd_socialicon_lastfm:hover{background: #c3000d;}
.dnd_team_member .dnd_socialicon_myspace,
.dnd_follow_us .dnd_socialicon_myspace:hover{background: #313131;}
.dnd_team_member .dnd_socialicon_picasa,
.dnd_follow_us .dnd_socialicon_picasa:hover{background: #9a45a0;}
.dnd_team_member .dnd_socialicon_skype,
.dnd_follow_us .dnd_socialicon_skype:hover{background: #00aff0;}
.dnd_team_member .dnd_socialicon_stumbleupon,
.dnd_follow_us .dnd_socialicon_stumbleupon:hover{background: #f74425;}
.dnd_team_member .dnd_socialicon_vimeo,
.dnd_follow_us .dnd_socialicon_vimeo:hover{background: #44bbff;}
.dnd_team_member .dnd_socialicon_zerply,
.dnd_follow_us .dnd_socialicon_zerply:hover{background: #9dcc7a;}

.dnd_team_member .dnd_socialicon:hover{background: #777777;}



/********** Shortcode: Stats Excerpt *************************************************************/
.dnd_stats_excerpt{
	color: #f1501a;
	text-align: center;
	position: relative;
	margin-bottom: 40px;
}

.dnd_stats_excerpt i{
	color: #acaeb7;
	font-size: 64px;
	line-height: 64px;
	top: 0;
	display: block;
	margin-bottom: 40px;
}

.dnd_stats_excerpt .dnd_stats_number,
.dnd_stats_excerpt .dnd_stats_number_sign{
	font-size: 50px;
	line-height: 50px;
	font-weight: 100;
	font-family: 'Titillium Web';
}



.dnd_stats_excerpt p{
	font-size: 24px;
	font-weight: 300;
	font-family: 'Titillium Web';
	margin-top: 32px;
}

.pattern_overlayed .dnd_stats_excerpt{
	color: #fff;
}

.pattern_overlayed .dnd_stats_excerpt i{
	color: #fff;
}


/********** Shortcode: Knob *************************************************************/
.dnd_knob_wrapper{
	text-align: center;
	margin-bottom: 30px;
}

.dnd_knob_inner_wrap{
	position: relative;
	text-align: center;
	margin-bottom: 17px;
}

.dnd_knob_wrapper input{
	display: none;
}

.dnd_knob_wrapper h3{
	font-size: 20px;
	margin-bottom: 0;
}

.dnd_knob_wrapper .dnd_knob_number_sign{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	visibility: hidden;
	font-size: 32px;
	font-family: 'Titillium Web';
	font-weight: 300;
	z-index: 2;
}


/********** Shortcode: Team *************************************************************/
.dnd_team_member{
	text-align: center;
	margin-bottom: 21px;
}

.dnd_team_member .dnd_overlayed{
	position: relative; 
	line-height: 1;
	overflow: hidden;
}

.dnd_team_member_style1 .dnd_overlayed{
	margin-bottom: 15px;
}

.dnd_team_member .dnd_overlayed .dnd_overlay {
	width: 100%; 
	height: 100%; 
	position: absolute; 
	overflow: hidden; 
	top: 0; 
	left: 0; 
	filter: alpha(opacity=0); 
	opacity: 0; 
	-webkit-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}

.dnd_team_member .dnd_overlayed:hover .dnd_overlay {
	filter: alpha(opacity=100); 
	opacity: 1; 
	background: rgba(255, 255, 255, 0.9);
}

.dnd_team_member .dnd_overlayed .dnd_overlay p{
	position: absolute;
	width: 100%;
	top: 50%;
	margin-top: -20px;
	height: 40px;
	line-height: 40px;
}

.dnd_team_member_style2 .dnd_overlayed .dnd_overlay p{
	margin-top: -50px;
	margin-bottom: 0;
	height: 22px;
	line-height: 22px;
}

.dnd_team_member .dnd_overlayed .dnd_overlay a{
	padding: 8px 11px;
	margin-right: 5px;
}

.dnd_team_member .dnd_overlayed .dnd_overlay i{
	font-size: 14px;
	color: #fff;
}

.dnd_team_member .dnd_team_member_link:hover span{
	color: #f1501a;
	-webkit-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}

.dnd_team_member .dnd_team_member_name{
	display: block;
	font-weight: 300;
	font-size: 20px;
	color: #505558;
}

.dnd_team_member_style2 .dnd_team_member_name{
	color:  #191b1f;
	font-size: 18px;
	font-weight: 700;
}

.dnd_team_member .dnd_team_member_position{
	display: block;
	font-size: 13px;
	color: #a4b1b8;
}

.dnd_team_member_style2 .dnd_team_member_position{
	font-family: OpenSansLight;
	color:  #93959d;
	font-size: 13px;
	font-style: italic;
	margin-bottom: 20px;
}

.dnd_team_member_modal{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	background: #fff;
	z-index: 9999;
	overflow-y: auto;
	padding-top: 80px;
	text-align: left;
	width: 100%;
}

.dnd_team_member_modal h4,
.dnd_team_member_modal .dnd_team_member_position{
	text-align: center;
}

.dnd_team_member_modal .dnd_container{
	max-width: 960px;
	width:90%;
	margin-left: auto;
	margin-right: auto;
}

.dnd_team_member_modal_close{
	width: 32px;
	height: 32px;
	font-size: 32px;
	line-height: 32px;
	position: absolute;
	top: 60px;
	right: 60px;
	cursor: pointer;
}


/********** Shortcode: Posts *************************************************************/
.dnd_posts_shortcode{
	margin-bottom: 50px;
	position: relative;
}

.dnd_latest_news_shortcode_thumb{
	float: left;
	margin-right: 30px;
}

.dnd_latest_news_shortcode_thumb img{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.dnd_latest_news_time{
	display: block;
	position: absolute;
	top: 0px;
	left: 0;
	width: 57px;
	height: 57px;
	text-align: center;
	color: #fff;
	background: #f1501a;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.dnd_latest_news_time .day{
	display: block;
	font-size: 21px;
}

.dnd_latest_news_time .month{
	display: block;
	text-transform: lowercase;
	font-size: 13px;
}

.dnd_latest_news_time .year{
	display: none;
}

.dnd_posts_shortcode.without_thumbnail .dnd_latest_news_shortcode_content{
	padding-left: 87px;
}

.dnd_latest_news_shortcode_content h5 a{
	color: #191b1f;
}

.dnd_latest_news_shortcode_content h5 a:hover{
	color: #f1501a;
}

/********** Shortcode: Search *************************************************************/
.dnd_search{
	position: relative;
}

.dnd_search i{
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}

/********** Shortcode: Priceboxes *************************************************************/
.dnd_pricing-table-1,
.dnd_pricing-table-2{
	text-align: center;
} 

.dnd_pricing-table-1 .dnd_pricebox_header{
	background: #cee6e6;
	color: #191b1f;
	text-align: center;
	padding: 35px 0 45px 0;
	margin-bottom: 20px;
}

.dnd_pricing-table-1 .dnd_pricebox_featured_text{
	margin-bottom: 3px;
	min-height: 30px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	line-height: 30px;
}

.dnd_pricing-table-1 .dnd_popular-plan .dnd_pricebox_featured_text{
	background: #434342;
}

.dnd_pricing-table-1 .dnd_pricebox_name{
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
	margin-bottom: 36px;
	color: #191b1f;
}

.dnd_pricing-table-1 .dnd_pricebox_currency{
	font-size: 30px;
	position: relative;
	top: -20px;
	color: #191b1f;
}

.dnd_pricing-table-1 .dnd_pricebox_price{
	font-size: 36px;
	line-height: 60px;
	margin-bottom: 42px;
	display: inline-block;
	color: #191b1f;
}

.dnd_pricing-table-1 .dnd_pricebox_monthly{
	font-size: 15px;
	color: #93959d;
}

.dnd_pricing-table-1 .dnd_pricebox_decsription{
	display: block;
	font-style: italic;
}

.dnd_pricing-table-1 .dnd_pricebox_feature{
	border-bottom: 1px solid #d9d9d9;
	display: block;
	padding: 14px 40px 15px 40px;
	text-align: left;
}

.dnd_pricing-table-1 .dnd_pricebox_feature:last-child{
	border-bottom: none;
}

.dnd_pricing-table-2{
	border: 1px solid #e6ebed;
	background: #fff;
	margin-bottom: 20px;
}

.dnd_pricing-table-2 .dnd_pricebox_header{
	color: #191b1f;
	text-align: center;
	background: #f7f9fa;
}

.dnd_pricing-table-2 .dnd_popular-plan .dnd_pricebox_header{
	background: #f7f9fa;
}

.dnd_pricing-table-2 .dnd_pricebox_name{
	font-size: 20px;
	font-family: 'Titillium Web';
	font-weight: 700;
	background: #fff;
	color: #191b1f;
	display: block;
	padding: 17px;
	border-bottom: 1px solid #e4e7e8;
}

.dnd_pricing-table-2 .dnd_pricebox_currency{
	font-size: 30px;
	position: relative;
	font-family: 'Titillium Web';
	color: #191b1f;
}

.dnd_pricing-table-2 .dnd_pricebox_price{
	font-size: 36px;
	line-height: 36px;
	display: inline-block;
	font-family: 'Titillium Web';
	color: #191b1f;
	padding-top: 28px;
	font-weight: 400;
}

.dnd_pricing-table-2 .dnd_popular-plan{
	top: -21px;
	position: relative;
}

.dnd_pricing-table-2 .dnd_popular-plan .dnd_pricebox_name{
	color: #fff;
	background: #f1501a;
	line-height: 46px;
}

.dnd_pricing-table-2 .dnd_popular-plan .dnd_pricebox_feature_button{
	padding: 20px 0 0px 0;
}
.dnd_pricing-table-2 .dnd_pricebox_monthly{
	font-size: 15px;
	color: #93959d;
	font-style: italic;
	display: block;
	padding-bottom: 28px; 
}

.dnd_pricing-table-2 .dnd_pricebox_decsription{
	display: block;
	font-style: italic;
	padding-bottom: 30px;
}

.dnd_pricing-table-2 .dnd_pricebox_feature{
	display: block;
	border-top: 1px solid #e4e7e8;
	padding: 11px 0;
	text-align: center;
}

.dnd_pricing-table-2 .dnd_button{
	margin-top: 40px;
	margin-right: 0;
}

.dnd_pricebox_feature .ABdev_icon-ok{
	color:#01f001;
}

.dnd_pricebox_feature .ABdev_icon-remove{
	color:red;
}

.dnd_pricebox_feature_button .dnd-button{
	margin: 19px 0 !important;
	font-weight: 700;
}

/********** Shortcode: Progress bar *************************************************************/
.dnd_meter {
	margin-bottom: 21px;
	background: #f7f9fa;
	height: 8px;
	position: relative;
}

.dnd_meter_label{
	margin-bottom: 16px;
	display: inline-block;
	line-height: 16px;
	color: #191b1f;
	font-family: 'Titillium Web';
	font-weight: 400;
	font-size: 16px;
}

.dnd_meter .dnd_meter_percentage {
	display: block;
	background: #f1501a;
	height: 8px;
}

.dnd_meter .dnd_meter_percentage span{
	line-height: 16px;
	position: absolute;
	display: block;
	width: 42px;
	text-align: right;
	top: -26px;
	right: 0;
	color: #191b1f;
	font-family: 'Titillium Web';
	font-weight: 400;
	font-size: 16px;
}

/********** Shortcode: Progress bar Vertical *************************************************************/
.dnd_progress_bar_vertical .dnd_meter_vertical{
	position: relative;
	background: #f7f9fa;
	bottom: 0;
}

.dnd_progress_bar_vertical .dnd_meter_percentage_vertical{
	position: absolute;
	width: 100% !important;
	bottom: 0;
}

.dnd_progress_bar_vertical .dnd_meter_percentage_vertical span{
	line-height: 16px;
	font-size: 16px;
	position: absolute;
	display: block;
	right: 0;
	top: -26px;
	text-align: right;
	margin-right: 10px;
	color: #191b1f;
	font-family: 'Titillium Web';
	font-weight: 400;
}

/********** Shortcode: Service boxes *************************************************************/
.dnd_service_box{
	text-align: center;
	margin-bottom: 35px;
	padding-top: 0;
}

.dnd_service_box h3{
	font-size: 18px;
	margin-bottom: 10px;
}

.dnd_service_box h3:hover{
	color: #f1501a;
	-webkit-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}

.dnd_service_box p{
	margin-bottom: 28px;
}

.dnd_service_box .dnd_icon_boxed{
	display: inline-block;
	width: 84px;
	height: 84px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #f7f9fa;
	position: relative;
	margin-bottom: 26px;
	text-decoration: none;
}

.dnd_service_box .dnd_icon_boxed i{
	color: #f1501a;
	font-size: 32px;
	line-height: 88px;
	position: relative;
	top: -2px;
}

.dnd_service_box:hover .dnd_icon_boxed{
	background: #f1501a;
}

.dnd_service_box:hover .dnd_icon_boxed i{
	color: #fff;
}

.dnd_service_box .dnd_icon_boxed:hover:after{
	border-top: 9px solid #f1501a;
	transition: all 300ms ease-in;
	-webkit-transition: all 300ms ease-in;
}

.dnd_service_box.dnd_service_box_round_stroke .dnd_icon_boxed{
	background: none;
	border: 2px solid #f1501a;
}

.dnd_service_box.dnd_service_box_round_stroke .dnd_icon_boxed i{
	color: #f1501a;
}

.dnd_service_box.dnd_service_box_round_stroke:hover .dnd_icon_boxed{
	background: #f1501a;
	border: 2px solid #f1501a;
}

.dnd_service_box.dnd_service_box_round_stroke:hover .dnd_icon_boxed i{
	color: #fff;
}

.dnd_service_box.dnd_service_box_round_aside{
	text-align: left;
	padding-left: 52px;
	position: relative;
	margin-bottom: 55px;
}

.dnd_service_box.dnd_service_box_round_aside h3:hover{
	color: #f1501a;
}

.dnd_service_box.dnd_service_box_round_aside .dnd_icon_boxed{
	position: absolute;
	left: 0;
	top: 0px;
	text-align: center;
	width: 36px;
	height: 36px;
	background: transparent;
	margin-bottom: 0;
}

.dnd_service_box.dnd_service_box_round_aside .dnd_icon_boxed i{
	line-height: 38px;
	font-size: 22px;
}

.dnd_service_box.dnd_service_box_round_aside:hover .dnd_icon_boxed{
	background: transparent;
}

.dnd_service_box.dnd_service_box_round_aside:hover .dnd_icon_boxed i{
	color: #191b1f;
	-webkit-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
}

.dnd_service_box.dnd_service_box_round_aside_white{
	text-align: left;
	padding-left: 100px;
	position: relative;
	-webkit-transition: all 300ms ease-in;
    transition: all 300ms ease-in; 
}

.dnd_service_box.dnd_service_box_round_aside_white h3{
	color: #fff;
}

.dnd_service_box.dnd_service_box_round_aside_white h3:hover{
	color: #f1501a;
}

.dnd_service_box.dnd_service_box_round_aside_white .dnd_icon_boxed{
	width: 54px;
	height: 54px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	border: 2px solid #f1501a;
	background: transparent;
}

.dnd_service_box.dnd_service_box_round_aside_white .dnd_icon_boxed i{
	line-height: 50px;
	font-size: 22px;
	color: #fff;
}

.dnd_service_box.dnd_service_box_round_aside_white:hover .dnd_icon_boxed{
	background-color: #f1501a;
}

.dnd_service_box_square .dnd_icon_boxed{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

/********** Shortcode: Metro Box *************************************************************/

.dnd_metro_box{
	padding: 50px 35px 45px;
	text-align: center;
	margin-bottom: 60px;
}

.dnd_metro_box:hover{
	background: #333!important;
	transition: all 180ms ease-in;
	-webkit-transition: all 180ms ease-in;
}

.dnd_metro_box:hover p,
.dnd_metro_box:hover h3{
	color: #fff;
}

.dnd_metro_box p{
	margin-bottom: 0px;
}

.dnd_metro_box.white_text p,
.dnd_metro_box.white_text h3{
	color: #fff;
}

.dnd_metro_box .dnd_icon_boxed{
	margin-bottom: 10px;
	margin-top: 11px;
}

.dnd_metro_box i{
	font-size: 48px;
}

.dnd_metro_box h3{
	font-size: 14px;
}


/********** Shortcode: Divider *************************************************************/
.dnd_divider{
	clear: both;
	text-align: right;
	border-top: 1px solid #ececec;
	margin-top: 35px;
	margin-bottom: 33px;
	position: relative;
}

.dnd_divider a{
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	float: right;
	position: absolute;
	top: -12px;
	right: 0px;
	background: #fff;
	padding-left: 19px;
}

.dnd_divider a:hover{
	text-decoration: none;
}

.dnd_divider i{
	position: relative;
	font-size: 10px;
}

.dnd_divider_dashed{
	border-top: 1px dashed #eeeeee;
}

.dnd_divider_dotted{
	border-top: 1px dotted #eeeeee;
}


/********** Shortcode: Pullquote *************************************************************/
.dnd_pullquote{
	padding: 20px 20px 20px 0;
	font-size: 1.6em;
	float: left;
}

.dnd_pullquote_right{
	padding: 20px 0 20px 20px;
	font-size: 1.6em;
	float: right;
}


/********** Shortcode: Tooltip *************************************************************/
.dnd_tooltip{
	cursor: pointer;
}


/********** Shortcode: Source Code *************************************************************/
.dnd_prettyprint{
	padding: 24px !important;
}

.dnd_prettyprint ol{
	margin: 0 !important;
	padding: 0 !important;
	list-style: decimal outside !important;
}

.dnd_prettyprint li{
	margin-left: 20px !important;
	list-style: decimal outside !important;
}


/********** Shortcode: RSS Feed *************************************************************/
.dnd_rss,
.dnd_rss li{
	list-style: none !important;
	margin-left: 0 !important;
}


/********** Shortcode: Children *************************************************************/
.dnd_children,
.dnd_children li{
	list-style: none !important;
	margin-left: 0 !important;
}


/********** Shortcode: Sitemap *************************************************************/
.dnd_sitemap,
.dnd_sitemap li{
	list-style: none !important;
}

.dnd_sitemap{
	margin-bottom: 20px;
}


/********** Shortcode: Google Map *************************************************************/
.dnd_google_map img{
	max-width: none !important;
	border: none !important;
	border-radius: 0px !important;
	box-shadow: none !important;
}


/********** Shortcode: Dropcap *************************************************************/
.dnd_dropcap{
	position: relative;
	top: 6px;
	background: #f1501a;
}

.dnd_dropcap.dnd_dropcap_style2{
	font-family: 'Titillium Web';
	display: block;
	width: 32px;
	height: 32px;
	font-size: 18px;
	font-weight: 700;
	line-height: 32px;
	background: #f1501a;
	text-align: center;
	color: #fff;
	float: left;
	margin-right: 10px;
	margin-bottom: 9px;
}

.dnd_dropcap.dnd_dropcap_style1{
	display: block;
	width: 33px;
	height: 30px;
	font-family: 'Titillium Web';
	font-size: 46px;
	font-weight: 700;
	line-height: 37px;
	background: none;
	text-align: center;
	color: #191b1f;
	float: left;
	margin-right: 13px;
	margin-bottom: 9px;
}


/********** Shortcode: Videos *************************************************************/
.dnd-videoWrapper-youtube{
	position:relative;
	padding-bottom:56.25%;
	padding-top:0px;
	height:0;
	overflow:hidden;
}

.dnd-videoWrapper-youtube iframe,
.dnd-videoWrapper-youtube object,
.dnd-videoWrapper-youtube embed{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.dnd-videoWrapper-vimeo{
	position:relative;
	padding-bottom:53%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.dnd-videoWrapper-vimeo iframe,
.dnd-videoWrapper-vimeo object,
.dnd-videoWrapper-vimeo embed{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}


/********** Shortcode: Clear *************************************************************/
.dnd_clear{
	clear:both;
}


/********** Shortcode: Callout Boxes *************************************************************/
.dnd-callout_box{
	padding: 52px 0 44px 0;
}

.dnd-callout_box_title{
	font-size: 28px;
	line-height: 28px;
	font-family: 'Titillium Web';
	display: block;
	font-weight: 300;
	margin-bottom: 13px;
	color: #505558;
}

.white_text .dnd-callout_box_title{
	color: #fff;
}

.dnd-callout_box p{
	margin-bottom: 0;
}

.dnd-callout_box .dnd_column_dd_span3{
	text-align: center;
	padding-top: 3px;
}

.dnd-callout_box .dnd-button{
	margin: 0;
}

.dnd-callout_box .dnd-button i{
	font-size: 10px;
}

.dnd-callout_box.color_white .dnd-callout_box_title,
.dnd-callout_box.color_white p{
	color: #fff;
}


/********** Shortcode: Buttons *************************************************************/
.dnd-button{
	display: inline-block;
	white-space: nowrap;
	font-size: 14px;
	line-height: 24px;
	margin-right: 0px;
	margin-bottom: 30px;
	text-decoration: none;
	font-family: 'Titillium Web';
	font-weight: 700;
	text-align: center;
}

.dnd-button i{
	margin-left: 10px;
}

.dnd-button_light{
	background: #ffffff;	
	color: #61636a !important;
	border: 1px solid #e4e7e8;
}

.dnd-button_yellow{
	background: #edb711;
	border: 1px solid #edb711;
	color: #fff !important;
}

.dnd-button_green{
	background: #87bb23;
	border: 1px solid #87bb23;
	color: #fff !important;
}

.dnd-button_orange{
	background: #f1501a;
	border: 1px solid #f1501a;
	color: #fff !important;
}

.dnd-button_blue{
	background: #3a93d8;
	border: 1px solid #3a93d8;
	color: #fff !important;
}

.dnd-button_purple{
	background: #8d2bdb;
	border: 1px solid #8d2bdb;
	color: #fff !important;
}

.dnd-button_cyan{
	background: #49d3cb;
	border: 1px solid #49d3cb;
	color: #fff !important;
}

.dnd-button:hover{
	background: #191b1f;
	border: 1px solid #505558;
	color: #fff !important;
}


.dnd-button_small{
	padding: 7px 20px;
	width: 126px;
	font-size: 11px; 
	font-weight: 400;
	line-height: 20px;
}

.dnd-button_medium{
	padding: 10px 20px;
	width: 152px;
	font-size: 13px; 
	font-weight: 400;
	line-height: 18px;
	text-align: center;
}

.dnd-button_large{
	padding: 15px 25px;
	width: 170px;
	font-size: 14px; 
	font-weight: 700;
	line-height: 16px;
	text-transform: uppercase;
}

.dnd-button_xlarge{
	padding: 20px 30px;
	width: 190px;
	font-size: 16px; 
	font-weight: 700;
	line-height: 16px;
	text-transform: uppercase;
}

.dnd-button_rounded.dnd-button_small{
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}

.dnd-button_rounded.dnd-button_medium{
	-webkit-border-radius: 48px;
	-moz-border-radius: 48px;
	border-radius: 48px;
}

.dnd-button_rounded.dnd-button_large{
	-webkit-border-radius: 54px;
	-moz-border-radius: 54px;
	border-radius: 54px;
}

.dnd-button_rounded.dnd-button_xlarge{
	-webkit-border-radius: 66px;
	-moz-border-radius: 66px;
	border-radius: 66px;
}


/********** Custom Section Classes *************************************************************/
.process_section .dnd_container>div{
	position: relative;
}

.process_section .dnd_container>div:after{
	content: '\e60c'; /*ci_icon-chevron-right*/
	font-family: 'core_icomoon';
	font-size: 11px;
	display: block;
	position: absolute;
	text-align: center;
	top: 30px;
	right: -27px;
	border: 1px solid #61636b;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 22px;
	height: 22px;
}

.process_section .dnd_container>div:last-child:after{
	display: none;
}

.process_section .dnd_section_content{
	margin-bottom: 42px;
}

.process_section .dnd_icon_boxed{
	width: 80px;
	height: 80px;
	line-height: 105px;
	background-color:  #121417;
}

.process_section .dnd_icon_boxed i{
	font-size: 32px;
	line-height: 32px;
	color: #f1501a;
}

.process_section .dnd_icon_boxed:hover{
	background: #f1501a;
	cursor: pointer;
}

.process_section .dnd_icon_boxed:hover i{
	color: #fff;
}

.process_section header h3 {
	margin-bottom: 46px;
}

.process_section .dnd_service_box h3{
	color: #fff;
}

.process_section .dnd_service_box h3:hover{
	color: #f1501a;
}

.section_with_alternative_header{
	padding-bottom: 60px;
}

.section_with_alternative_header header {
	background-color:  #f1501a;
	width: 100%;
	margin-bottom: 102px;
	padding: 63px 0 0 0;
}

.section_with_alternative_header header:after {
	border-top: 21px solid #f1501a;
	border-left: 21px solid transparent;
	border-right: 21px solid transparent;
	content: "";
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	bottom: -21px;
	left: 50%;
	margin-left: -21px;
}

.section_with_alternative_header header h3{
	color: #fff;
	margin-bottom: 59px;
}

.section_with_alternative_header header h3:after {
	display: none;
}

.column_title_text_margin:after,
.column_title_margin:after{
	display: block;
	content: "";
	width: 38px;
	height: 2px;
	background: #f1501a;
	position: absolute;
	margin: 20px 0 0 0;
}

.column_title_text_margin{
	margin-bottom: 45px;
}

.column_title_margin{
	margin-bottom: 62px;
}

.are_you_impressed{
	padding-top: 80px;
	padding-bottom: 80px;
}

.are_you_impressed header p{
	margin-bottom: -9px;
	font-size: 16px;
	font-weight: 400;
}

.are_you_impressed .dnd-button{
	margin-bottom: 0;
}


.tipsy { font-size: 10px; position: absolute; padding: 5px; z-index: 100000; }
.tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }
.tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
/*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/
.tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }
.tipsy-arrow-n { border-bottom-color: #000; }
.tipsy-arrow-s { border-top-color: #000; }
.tipsy-arrow-e { border-left-color: #000; }
.tipsy-arrow-w { border-right-color: #000; }
.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
.tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }