@media only screen and (min-width: 980px) and (max-width: 1190px) {
	.container,
	.dnd_container,
	.sf-mega{
		width: 960px;
	}

	.timeline_post,
	.timeline_post_first{
		width: 430px;
	}

	.portfolio_item_4 {
		width: 33.3%;
	}

	.dnd-tabs .ui-tabs-nav li{
		width: 100%;
		border-right: 1px solid #e6ebed;
	}

	.dnd-tabs.dnd-tabs-timeline .ui-tabs-nav li.ui-tabs-active:before{
		bottom: 0;
	}

	.dnd-tabs-position-right .dnd-tabs-wrapper{
		margin-right: 0px;
	}

	.dnd-tabs-position-left .dnd-tabs-wrapper{
		margin-left: 0px;
	}

	.dnd-tabs-vertical .ui-tabs-nav li a{
		text-align: center;
	}

	.dnd-tabs-position-left.dnd-tabs-fullwidthtabs .ui-tabs-nav, 
	.dnd-tabs-position-right.dnd-tabs-fullwidthtabs .ui-tabs-nav{
		border-right: none; 
	}

}

@media only screen and (min-width: 768px) and (max-width: 979px) {
	.container,
	.dnd_container,
	.sf-mega,
	.dnd_team_member_modal .dnd_container{
		width: 748px;
	}

	nav > ul{
		/*right: -10px;*/
	}

	nav > ul ul{
		min-width: 0;
	}

	nav > ul > li > a{
		/*margin: 0 5px;*/
		/*padding: 0 5px;*/
	}

	#logo{
		display: block;
		text-align: center;
		margin-bottom: 40px;
		float: none;
	}

	#header_phone_email_info span{
		display: block;
	}

	.timeline_post,
	.timeline_post_first{
		width: 324px;
	}

	.flickr_stream a:nth-child(3n+0){
		margin-right: 9px;
	}

	.flickr_stream img{
		width: 77px;
		height: 77px;
	}

	aside.sidebar .flickr_stream img{
		width: 64px;
		height: 64px;
	}

	aside.sidebar .flickr_stream a:nth-child(4n+0){
		margin-right: 10px;
	}

	.split_cols_788 > [class*="span"]{
		width: 100%;
		margin-left: 0;
		margin-bottom: 40px;
	}

	.dnd-tabs .ui-tabs-nav li{
		width: 100%;
		border-right: 1px solid #e6ebed;
	}

	.section_equalize_5 .dnd_pricing-table-2 .dnd-button{
		width: auto;
	}

	.dnd-tabs.dnd-tabs-timeline .ui-tabs-nav li.ui-tabs-active:before{
		bottom: 0;
	}

	.dnd_shortcode_ul{
		margin-bottom: 40px;
	}

	.ab-tweet-navigation{
		margin: 0;
	}

	.dnd-tabs-position-right .dnd-tabs-wrapper{
		margin-right: 0px;
	}

	.dnd-tabs-position-left .dnd-tabs-wrapper{
		margin-left: 0px;
	}

	.dnd-tabs-vertical .ui-tabs-nav li a{
		text-align: center;
	}

	.dnd-tabs-position-left.dnd-tabs-fullwidthtabs .ui-tabs-nav, 
	.dnd-tabs-position-right.dnd-tabs-fullwidthtabs .ui-tabs-nav{
		border-right: none; 
	}

}


@media only screen and (max-width: 767px){

	.container,
	.dnd_container{
		width: 95%;
	}

	header{
		position: static;
		height: auto;
		margin-top: 0 !important;
	}

	header .container{
		position: relative;
	}

	header .logo img{
		position: static;
	}

	header .row > [class*="span"],
	.title_bar .row > [class*="span"]{
		margin-bottom: 0px;
	}

	.row > [class*="span"]{
		width: 100%;
		margin-left: 0;
	}

	.dnd_container [class*="column_dd_span"]{
		width: 100%;
		margin-left: 0;
	}

	#top_bar{
		display: none;
	}

	#top_bar .quick_contact_tel,
	#top_bar .quick_contact_mail{
		display: block;
		padding: 0;
	}

	.search-toggle{
		display: none;
	}

	#ABdev_menu_toggle{
		display: block;
		height: 50px;
		width: 50px;
		color: #fff;
		position: fixed;
		right: 5px;
		top: 20px;
		font-size: 22px;
		z-index: 9999999;
		line-height: 50px;
		text-align: center;
		background: rgba(0,0,0,0.5);
	}

	#Abdev_main_header nav{
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		background: #222;
		z-index: 100000;
		overflow-y: scroll;
		overflow-x: hidden;
		display: none;
	}

	#Abdev_main_header nav .menu_social{
		display: none;
	}

	#Abdev_main_header nav > ul{
		clear: both;
		padding-left: 30px;
		padding-bottom: 30px;
	}

	#Abdev_main_header nav > ul > li{
		display: block;
		float: none;
		text-align: left;
	}

	#Abdev_main_header nav > ul ul{
		display: block;
		background: #222;
		position: static;
		border: none;
		margin: 0;
		padding: 0 0 0 15px;
		box-shadow: none;
	}

	nav > ul > .menu-item-has-children:hover > a:after{
		display: none;
	}

	#Abdev_main_header nav > ul ul li{
		border-bottom: none;
		background: transparent;
		line-height: 26px;
	}

	#Abdev_main_header nav > ul ul:before{
		display: none;
	}

	#Abdev_main_header nav li:hover{
		background: none;
	}

	#Abdev_main_header nav a{
		color: #fff;
		margin: 0;
		padding: 0;
	}

	#Abdev_main_header nav a:hover,
	#Abdev_main_header nav .current-menu-item > a{
		color: #ff3b30;
		background: none;
	}

	.sf-arrows .sf-with-ul:after{
		display: none;
	}

	nav > ul > .current-menu-item > a,
	nav > ul > .current-menu-ancestor > a{
		color: #505050;
	}



	/*-------- Mega Menu --------*/
	.sf-mega {
		width: 100%;
		position: static;
		display: block;
		z-index: inherit;
		padding-top: 0px;
		box-shadow: none;
	}

	.sf-mega-inner{
		border-top: none;
		background: none;
	}

	nav > ul .sf-mega-inner{
		display: block !important;
	}

	nav > ul .sf-mega-inner > ul {
		display: block !important;
	}

	nav > ul .sf-mega-inner > ul > li,
	nav > ul .sf-mega-inner > ul > li > ul > li{
		border-right: none;
		padding: 0 0 0 0;
		display: block !important;
	}

	nav > ul .sf-mega-inner > ul > li > a{
		font-size: 16px;
		font-weight: inherit;
		color: inherit;
		text-transform: none;
		margin-bottom: 0px;
		padding: 5px 0 0 0;
	}
		
	nav > ul .sf-mega-inner > ul > li > ul > li a{
		font-size: 14px;
		color: inherit;
		padding: 5px 0 0 0;
	}

	nav > ul .sf-mega-inner a{
		text-transform: none;
		padding: inherit;
		margin-bottom: 0px;
	}
		
	nav > ul .sf-mega-inner a:hover{
		background: none;
	}
		
	nav > ul > .mega1 .sf-mega-inner > ul > li,
	nav > ul > .mega2 .sf-mega-inner > ul > li,
	nav > ul > .mega3 .sf-mega-inner > ul > li,
	nav > ul > .mega4 .sf-mega-inner > ul > li,
	nav > ul > .mega5 .sf-mega-inner > ul > li,
	nav > ul > .mega6 .sf-mega-inner > ul > li,
	nav > ul > .mega7 .sf-mega-inner > ul > li{
		width: 100%;
	}


	nav > ul .sf-mega-inner .description_menu_item,
	nav > ul .use_desc{
		display: none !important;
	}

	.row{
		margin-bottom: 0;
	}

	.timeline_post,
	.timeline_post_first{
		width: 100%;
		margin-bottom: 20px;
	}

	#timeline_posts{
		background: none;
	}

	.timeline_post_left:after,
	.timeline_post_right:after{
		display: none;
	}

	#Abdev_main_footer .rpwe-title{
		text-align: center;
	}

	#footer_columns{
		padding-bottom: 40px;
		padding-top: 40px;
		text-align: center;
	}

	.contact_info_widget p{
		margin-bottom: 0;
		padding-left: 0;
	}

	.contact_info_widget i{
		display: inline-block;
		position: relative;
		margin-right: 10px;
		top: 1px;
	}

	.ABss_inline_form p{
		margin-right: 0;
	}

	footer #footer_copyright,
	footer #footer_copyright .footer_social{
		text-align: center;
	}

	footer #footer_copyright .footer_copyright,
	footer #footer_copyright .footer_social{
		margin-bottom: 15px;
	}

	aside.sidebar_right,
	aside.sidebar_left{
		padding-left: 0;
		padding-right: 0;
	}

	.flickr_stream{
		text-align: center;
	}

	.flickr_stream a:nth-child(3n+0),
	aside.sidebar .flickr_stream a:nth-child(4n+0){
		margin-right: 10px;
	}

	.content_with_right_sidebar{
		padding-right: 0;
	}

	.content_with_left_sidebar{
		padding-left: 0;
	}

	.section_equalize_5 .dnd_container [class*="column_dd_span"]{
		margin-left: 0;
		width: 100%;
	}

	.section_no_column_margin.section_equalize_5 .portfolio_fullwidth{
		width: 100%;
		margin-bottom: 1px;
	}

	.portfolio_item_4,
	.portfolio_item_3,
	.portfolio_item_2{
		width: 100%;
	}

	#filters li {
		margin: 5px;
	}

	#page404 .big_404{
		font-size: 100px;
	}

	#page404 .dnd_search form{
		width: 50%;	
	}

	.comment{
		padding-left: 0;
	}

	.comment .avatar{
		display: none;
	}

	.comment .reply,
	.comment .edit-link{
		display: inline-block;
	}

	.post_content .post_badges{
		display: none;
	}

	.post_content .post_main{
		padding-left: 0;
	}

	.blog_category_index .post_main, 
	.blog_category_index .post_main{
		margin-left: 0px;
	}

	.post_main .postmeta-above .post_meta_comments{
		float: none;
	}

	.post_meta_tags i{
		margin-left: 0 !important;
	}

	.wpcf7 .span6:first-child{
		margin-bottom: 0;
	}

	.dnd-button{
		margin-left: 25%;
		margin-right: 25%;
	}

	.button_aligned_center{
		display: block;
    	margin: 0 auto;
    	margin-bottom: 30px !important;
	}

	.dnd-callout_box .dnd-button{
		margin-top: 30px;
	}

	.dnd_stats_excerpt{
		margin-bottom: 60px;
	}

	.process_section .dnd_container>div:after{
		content: '\e60f'; /*ci_icon-chevron-down*/
		font-family: 'core_icomoon';
		top: auto;
		bottom: 8px;
		right: 50%;
		margin-right: -12px;
	}

	.dnd_pricing-table-1,
	.dnd_pricing-table-2{
		margin-bottom: 40px;
	}

	.dnd_pricing-table-1 .dnd_plan,
	.dnd_pricing-table-2 .dnd_plan{
		margin-top: 0;
	}

	.dnd_progress_bar_vertical .dnd_meter_vertical{
		width: 70% !important;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}

	.dnd_team_member{
		padding-bottom: 0;
	}

	.dnd_team_member_modal img{
		margin-bottom: 10px;
	}

	.dnd_metro_box{
		margin-bottom: 20px;
	}

	.dnd-animo, 
	.dnd-animo-children > *{
		text-align: center;
		margin-bottom: 20px;
	}

	.dnd_blockquote{
		margin-bottom: 10px;
	}

	.dnd-tabs-position-left.dnd-tabs-fullwidthtabs .ui-tabs-nav, 
	.dnd-tabs-position-right.dnd-tabs-fullwidthtabs .ui-tabs-nav{
		border-right: none; 
	}

	.dnd-tabs-position-right .dnd-tabs-wrapper{
		margin-right: 0px;
	}

	.dnd-tabs-position-left .dnd-tabs-wrapper{
		margin-left: 0px;
	}

	.dnd-tabs-vertical .ui-tabs-nav li a{
		text-align: center;
	}

	.ABt_testimonials_slide	.testimonial_big{
		padding-left: 0;
	}

	.ABt_testimonials_slide	.testimonial_small{
		margin-bottom: 20px;
	}

	.ABt_testimonials_wrapper{
		margin-bottom: 0;
	}

	.images_section_alternative .dnd_column_dd_span2 {
		margin: 0;
		text-align: center;
	}

	.dnd_shortcode_ul{
		margin-bottom: 40px;
	}

	.ab-tweet-navigation{
		margin: 0;
	}

	.column_title_margin{
		text-align: center;
	}

	.column_title_margin:after{
		margin-left: 50%;
		left: -19px;
	}

	.process_section .dnd_section_content{
		margin-bottom: 0;
	}

	.our_team_section .dnd_follow_us{
		margin-bottom: 30px;
	}

	.margin_bottom{
		margin-bottom: 20px;
	}

	.spacer_responsive_hide{
		display: none !important;
	}

	#jomelle_back_to_top{
		margin-bottom: 40px;
		display: inline-block;
	}

	#footer_columns .row > div {
		margin-bottom: 40px;
	}

	.rpwe-block li{
		border-bottom: none !important;
		margin-bottom: 0 !important;
	}

}

