@font-face {
	font-family: 'core_icomoon';
	src:url('fonts/core_icomoon.eot?-cbt13j');
	src:url('fonts/core_icomoon.eot?#iefix-cbt13j') format('embedded-opentype'),
		url('fonts/core_icomoon.woff?-cbt13j') format('woff'),
		url('fonts/core_icomoon.ttf?-cbt13j') format('truetype'),
		url('fonts/core_icomoon.svg?-cbt13j#core_icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ci_icon-"], [class*=" ci_icon-"] {
	font-family: 'core_icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ci_icon-remove:before {
	content: "\e600";
}
.ci_icon-home:before {
	content: "\e601";
}
.ci_icon-ok:before {
	content: "\e602";
}
.ci_icon-zerply:before {
	content: "\e603";
}
.ci_icon-instagram:before {
	content: "\e604";
}
.ci_icon-picasa:before {
	content: "\e605";
}
.ci_icon-pinterest:before {
	content: "\e606";
}
.ci_icon-deviantart:before {
	content: "\e607";
}
.ci_icon-behance:before {
	content: "\e608";
}
.ci_icon-digg:before {
	content: "\e609";
}
.ci_icon-dropbox:before {
	content: "\e60a";
}
.ci_icon-tags:before {
	content: "\e60b";
}
.ci_icon-chevron-right:before {
	content: "\e60c";
}
.ci_icon-chevron-left:before {
	content: "\e60d";
}
.ci_icon-chevron-up:before {
	content: "\e60e";
}
.ci_icon-chevron-down:before {
	content: "\e60f";
}
.ci_icon-stumbleupon:before {
	content: "\e610";
}
.ci_icon-designcontest:before {
	content: "\e611";
}
.ci_icon-lastfm:before {
	content: "\e612";
}
.ci_icon-globe:before {
	content: "\e613";
}
.ci_icon-email:before {
	content: "\e614";
}
.ci_icon-warning-sign:before {
	content: "\e615";
}
.ci_icon-github:before {
	content: "\e616";
}
.ci_icon-search:before {
	content: "\e617";
}
.ci_icon-download-alt:before {
	content: "\e618";
}
.ci_icon-menu:before {
	content: "\e619";
}
.ci_icon-comment:before {
	content: "\e61a";
}
.ci_icon-user:before {
	content: "\e61b";
}
.ci_icon-emailalt:before {
	content: "\e61c";
}
.ci_icon-facebook:before {
	content: "\e61d";
}
.ci_icon-skype:before {
	content: "\e61e";
}
.ci_icon-youtube:before {
	content: "\e61f";
}
.ci_icon-flickr:before {
	content: "\e620";
}
.ci_icon-dribbble:before {
	content: "\e621";
}
.ci_icon-forrst:before {
	content: "\e622";
}
.ci_icon-delicious:before {
	content: "\e623";
}
.ci_icon-myspace:before {
	content: "\e624";
}
.ci_icon-phonealt:before {
	content: "\e625";
}
.ci_icon-chat:before {
	content: "\e626";
}
.ci_icon-googleplus:before {
	content: "\e627";
}
.ci_icon-linkedin:before {
	content: "\e628";
}
.ci_icon-blogger-blog:before {
	content: "\e629";
}
.ci_icon-vimeo:before {
	content: "\e62a";
}
.ci_icon-twitter:before {
	content: "\e62b";
}
.ci_icon-draft:before {
	content: "\e62c";
}
.ci_icon-rss:before {
	content: "\e62d";
}
.ci_icon-time:before {
	content: "\e62e";
}
.ci_icon-zoom-in:before {
	content: "\e62f";
}
.ci_icon-quoteup:before {
	content: "\e630";
}
.ci_icon-linkalt:before {
	content: "\e631";
}
