<table width="100%" border="0" cellspacing="1" cellpadding="0">    
    <tr bgcolor="#FFFFFF">
		<td>Dear Site Administrator,<br /><br />Following has been received :<br></td>
    </tr>
	<tr bgcolor="#FFFFFF">
		<td>
			<table width="100%" border="0" cellpadding="1" cellspacing="1" bgcolor="#395849">
				<tr bgcolor="#FFFFFF">
					<td width="32%">&nbsp;<b>Name:</b></td>
					<td width="68%">&nbsp;{Name_contact}</td>
			  	</tr>
				
                <tr bgcolor="#FFFFFF">
					<td><b>&nbsp;Email:</b></td>
					<td>&nbsp;{EmailId}</td>
				</tr>
                  <tr bgcolor="#FFFFFF">
					<td><b>&nbsp;Contact Number:</b></td>
					<td>&nbsp;{contact_no}</td>
				</tr>
              
                <tr bgcolor="#FFFFFF">
					<td><b>&nbsp;Subject:</b></td>
					<td>&nbsp;{subject}</td>
				</tr>
              
                <tr bgcolor="#FFFFFF">
					<td height="23" valign="top">&nbsp;<b>Message:</b></td>
					<td>&nbsp;{msg}</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr><td><br>Thank You,<br><b>Real Estate</b><br></td></tr>
	<tr>
		<td valign="middle" align="center" height="20"><font color="#005177">Copyright &copy; Real Estate. All Rights Reserved.</font></td>
	</tr>
</table>