<table width="100%" border="0" cellspacing="1" cellpadding="0">    
    <tr bgcolor="#FFFFFF">
		<td>Dear Site Administrator,<br /><br />Following has been received :<br></td>
    </tr>
	<tr bgcolor="#FFFFFF">
		<td>
			<table width="100%" border="0" cellpadding="1" cellspacing="1" bgcolor="#395849">
				
                <tr bgcolor="#FFFFFF">
					<td><b>&nbsp;Email:</b></td>
					<td>&nbsp;{emailnewsletter}</td>
				</tr>
                
			</table>
		</td>
	</tr>
	<tr><td><br>Thank You,<br><b>Reat Estate</b><br></td></tr>
	<tr>
		<td valign="middle" align="center" height="20"><font color="#005177">Copyright &copy; Real Estate. All Rights Reserved.</font></td>
	</tr>
</table>