/* Demo mockups */
.mockup-content {
	text-align: center;
}

.demo-4 .mockup-content {
	padding: 1em 0 3em;
}

.demo-5 .mockup-content {
	padding: 1em 0 6em;
}

.mockup-content > span {
	display: block;
	background: rgba(0,0,0,0.1);
	height: 50px;
	width: 100%;
	margin: 0 0 10px;
	clear: both;
}

.mockup-content > span:nth-child(2),
.mockup-content > span:nth-child(3),
.mockup-content > span:nth-last-child(2) {
	width: calc(50% - 5px);
	float: left;
	clear: none;
	height: 80px;
}

.mockup-content > span:nth-child(3),
.mockup-content > span:nth-last-child(2) {
	float: right;
}

.mockup-content > span:nth-last-child(2) {
	width: calc(100% - 310px);
}

.no-js .mockup-content > span:nth-last-child(2) {
	width: 100%;
}

.mockup-content h2 {
	font-size: 2em;
	margin: 0;
}

.mockup-content > p {
	font-family: 'Blokk', sans-serif;
	font-size: 0.85em;
	text-align: center;
	opacity: 0.5;
	margin: 0;
	overflow: hidden;
}

.no-js .joiner {
	display: block;
}

.demo-5 .mockup-content > p {
	font-size: 1.4em;
	margin: 0;
	padding: 0.5em 0;
	text-align: justify;
	font-family: 'Lato', Arial, sans-serif;
}

.js .fixed-block {
	min-height: 300px;
	position: relative;
}

.mockup-left {
	float: left;
	max-width: 100%;
	overflow: hidden;
	width: 300px;
	margin: 0 40px 50px 0;
	background: rgba(0,0,0,0.1);
	height: 400px;
	position: relative;
}

.mockup-left::after {
	content:'\2234';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	color: rgba(0,0,0,0.05);
	font-size: 15em;
}

.mockup-right {
	text-align: left;
}

html.demo-7, .demo-7 body {
	overflow-x: hidden;
	height: 100%;
}

.demo-7 .container {
	width: 100%;
	position: absolute;
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0.1s;
	transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0.1s;
}

.no-js.demo-7 .container {
	width: calc(100% - 300px);
	right: 0;
}

.pushed.container {
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transform: translateX(300px);
	transform: translateX(300px);
}

@media screen and (max-width: 770px) {
	.mockup-left {
		float: none;
		margin: 0 auto 20px;
	}

	.mockup-right {
		text-align: center;
	}

	.joiner {
		display: block;
	}
}

@media screen and (max-width: 400px) {
	.mockup-content > span:nth-last-child(2) {
		width: calc(100% - 210px);
	}
}

@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}