@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?30aulf');
	src:url('fonts/icomoon.eot?#iefix30aulf') format('embedded-opentype'),
		url('fonts/icomoon.woff?30aulf') format('woff'),
		url('fonts/icomoon.ttf?30aulf') format('truetype'),
		url('fonts/icomoon.svg?30aulf#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-dollar:before {
	content: "\e600";
}
.icon-percent:before {
	content: "\e601";
}
.icon-asterisk:before {
	content: "\e602";
}
.icon-plus:before {
	content: "\e603";
}
.icon-yen:before {
	content: "\e604";
}
.icon-copyright:before {
	content: "\e605";
}
.icon-pilcrow:before {
	content: "\e606";
}
.icon-multiply:before {
	content: "\e607";
}
.icon-divide:before {
	content: "\e608";
}
.icon-pipe:before {
	content: "\e609";
}
.icon-ring:before {
	content: "\e60a";
}
.icon-dagger:before {
	content: "\e60b";
}
.icon-business:before {
	content: "\e60c";
}
.icon-euro:before {
	content: "\e60d";
}
.icon-home:before {
	content: "\e60e";
}
.icon-capslock:before {
	content: "\e60f";
}
.icon-gradient:before {
	content: "\e610";
}
.icon-minus:before {
	content: "\e611";
}
.icon-infinity:before {
	content: "\e612";
}
.icon-intersection:before {
	content: "\e613";
}
.icon-image:before {
	content: "\e614";
}
.icon-fork:before {
	content: "\e615";
}
.icon-bell:before {
	content: "\e616";
}
.icon-chair:before {
	content: "\e617";
}
.icon-rectangle:before {
	content: "\e618";
}
.icon-triangle:before {
	content: "\e619";
}
.icon-yinyang:before {
	content: "\e61a";
}
.icon-smile:before {
	content: "\e61b";
}
.icon-compass:before {
	content: "\e61c";
}
.icon-checkmark:before {
	content: "\e61d";
}
.icon-wallet:before {
	content: "\e61e";
}
.icon-kimai:before {
	content: "\e61f";
}
.icon-livejournal:before {
	content: "\e620";
}
.icon-livejournalalt:before {
	content: "\e621";
}
.icon-tagged:before {
	content: "\e622";
}
.icon-temple:before {
	content: "\e623";
}
.icon-mayanpyramid:before {
	content: "\e624";
}
.icon-egyptpyramid:before {
	content: "\e625";
}
.icon-tampermonkey:before {
	content: "\e626";
}
.icon-pushbullet:before {
	content: "\e627";
}
.icon-currents:before {
	content: "\e628";
}
.icon-communitysmall:before {
	content: "\e629";
}
.icon-squaregithub:before {
	content: "\e62a";
}
.icon-projectfork:before {
	content: "\e62b";
}
.icon-projectmerge:before {
	content: "\e62c";
}
.icon-projectcompare:before {
	content: "\e62d";
}
.icon-history:before {
	content: "\e62e";
}
.icon-notebook:before {
	content: "\e62f";
}
.icon-issue:before {
	content: "\e630";
}
.icon-issueclosed:before {
	content: "\e631";
}
.icon-issuereopened:before {
	content: "\e632";
}
.icon-rubyalt:before {
	content: "\e633";
}
.icon-lighton:before {
	content: "\e634";
}
.icon-lightoff:before {
	content: "\e635";
}
.icon-bellalt:before {
	content: "\e636";
}
.icon-versions:before {
	content: "\e637";
}
.icon-twog:before {
	content: "\e638";
}
.icon-threeg:before {
	content: "\e639";
}
.icon-fourg:before {
	content: "\e63a";
}
.icon-gpsalt:before {
	content: "\e63b";
}
.icon-circleloaderfull:before {
	content: "\e63c";
}
.icon-circleloaderseven:before {
	content: "\e63d";
}
.icon-circleloadersix:before {
	content: "\e63e";
}
.icon-circleloaderfive:before {
	content: "\e63f";
}
.icon-circleloaderfour:before {
	content: "\e640";
}
.icon-circleloaderthree:before {
	content: "\e641";
}
.icon-circleloadertwo:before {
	content: "\e642";
}
.icon-circleloaderone:before {
	content: "\e643";
}
.icon-circleloaderempty:before {
	content: "\e644";
}
.icon-whatsapp:before {
	content: "\e645";
}
.icon-whatsappalt:before {
	content: "\e646";
}
.icon-viber:before {
	content: "\e647";
}
.icon-squareviber:before {
	content: "\e648";
}
.icon-teamviewer:before {
	content: "\e649";
}
.icon-tunein:before {
	content: "\e64a";
}
.icon-tuneinalt:before {
	content: "\e64b";
}
.icon-weightscale:before {
	content: "\e64c";
}
.icon-boxing:before {
	content: "\e64d";
}
.icon-speedalt:before {
	content: "\e64e";
}
.icon-scriptalt:before {
	content: "\e64f";
}
.icon-splitthree:before {
	content: "\e650";
}
.icon-mergethree:before {
	content: "\e651";
}
.icon-layersthree:before {
	content: "\e652";
}
.icon-mutemic:before {
	content: "\e653";
}
.icon-zerply:before {
	content: "\e654";
}
.icon-circlegoogleplus:before {
	content: "\e655";
}
.icon-circletwitter:before {
	content: "\e656";
}
.icon-circlefacebook:before {
	content: "\e657";
}
.icon-circleyahoo:before {
	content: "\e658";
}
.icon-circlegithub:before {
	content: "\e659";
}
.icon-forumsalt:before {
	content: "\e65a";
}
.icon-circlepath:before {
	content: "\e65b";
}
.icon-circlevimeo:before {
	content: "\e65c";
}
.icon-circlevine:before {
	content: "\e65d";
}
.icon-instagramtwo:before {
	content: "\e65e";
}
.icon-instagramthree:before {
	content: "\e65f";
}
.icon-flickrthree:before {
	content: "\e660";
}
.icon-quora:before {
	content: "\e661";
}
.icon-squarequora:before {
	content: "\e662";
}
.icon-circlequora:before {
	content: "\e663";
}
.icon-picasa:before {
	content: "\e664";
}
.icon-branch:before {
	content: "\e665";
}
.icon-ingress:before {
	content: "\e666";
}
.icon-squarezerply:before {
	content: "\e667";
}
.icon-circlezerply:before {
	content: "\e668";
}
.icon-squarevimeo:before {
	content: "\e669";
}
.icon-squaretwitter:before {
	content: "\e66a";
}
.icon-brightnessalt:before {
	content: "\e66b";
}
.icon-brightnessalthalf:before {
	content: "\e66c";
}
.icon-brightnessaltfull:before {
	content: "\e66d";
}
.icon-brightnessaltauto:before {
	content: "\e66e";
}
.icon-shirtbuttonthree:before {
	content: "\e66f";
}
.icon-openshare:before {
	content: "\e670";
}
.icon-copyapp:before {
	content: "\e671";
}
.icon-bowl:before {
	content: "\e672";
}
.icon-cloudalt:before {
	content: "\e673";
}
.icon-cloudaltdownload:before {
	content: "\e674";
}
.icon-cloudaltupload:before {
	content: "\e675";
}
.icon-cloudaltsync:before {
	content: "\e676";
}
.icon-cloudaltprivate:before {
	content: "\e677";
}
.icon-flipboard:before {
	content: "\e678";
}
.icon-octoloaderempty:before {
	content: "\e679";
}
.icon-octoloaderone:before {
	content: "\e67a";
}
.icon-octoloadertwo:before {
	content: "\e67b";
}
.icon-octoloaderthree:before {
	content: "\e67c";
}
.icon-octoloaderfour:before {
	content: "\e67d";
}
.icon-octoloaderfive:before {
	content: "\e67e";
}
.icon-octoloadersix:before {
	content: "\e67f";
}
.icon-octoloaderseven:before {
	content: "\e680";
}
.icon-octoloaderfull:before {
	content: "\e681";
}
.icon-selectionsymbol:before {
	content: "\e682";
}
.icon-infinityalt:before {
	content: "\e683";
}
.icon-pullrequest:before {
	content: "\e684";
}
.icon-projectforkdelete:before {
	content: "\e685";
}
.icon-projectforkprivate:before {
	content: "\e686";
}
.icon-commit:before {
	content: "\e687";
}
.icon-htmlfile:before {
	content: "\e688";
}
.icon-pushalt:before {
	content: "\e689";
}
.icon-pullalt:before {
	content: "\e68a";
}
.icon-photonineframes:before {
	content: "\e68b";
}
.icon-wetfloor:before {
	content: "\e68c";
}
.icon-instagramfour:before {
	content: "\e68d";
}
.icon-circleinstagram:before {
	content: "\e68e";
}
.icon-videocamerathree:before {
	content: "\e68f";
}
.icon-subtitles:before {
	content: "\e690";
}
.icon-subtitlesoff:before {
	content: "\e691";
}
.icon-compress:before {
	content: "\e692";
}
.icon-baby:before {
	content: "\e693";
}
.icon-ducky:before {
	content: "\e694";
}
.icon-handswipe:before {
	content: "\e695";
}
.icon-swipeup:before {
	content: "\e696";
}
.icon-swipedown:before {
	content: "\e697";
}
.icon-twofingerswipedown:before {
	content: "\e698";
}
.icon-twofingerswipeup:before {
	content: "\e699";
}
.icon-doubletap:before {
	content: "\e69a";
}
.icon-dribbblealt:before {
	content: "\e69b";
}
.icon-circlecallmissed:before {
	content: "\e69c";
}
.icon-circlecallincoming:before {
	content: "\e69d";
}
.icon-circlecalloutgoing:before {
	content: "\e69e";
}
.icon-circledownload:before {
	content: "\e69f";
}
.icon-circleupload:before {
	content: "\e6a0";
}
.icon-minismile:before {
	content: "\e6a1";
}
.icon-minisad:before {
	content: "\e6a2";
}
.icon-minilaugh:before {
	content: "\e6a3";
}
.icon-minigrin:before {
	content: "\e6a4";
}
.icon-miniangry:before {
	content: "\e6a5";
}
.icon-minitongue:before {
	content: "\e6a6";
}
.icon-minitonguealt:before {
	content: "\e6a7";
}
.icon-miniwink:before {
	content: "\e6a8";
}
.icon-minitonguewink:before {
	content: "\e6a9";
}
.icon-miniconfused:before {
	content: "\e6aa";
}
.icon-soundright:before {
	content: "\e6ab";
}
.icon-soundleft:before {
	content: "\e6ac";
}
.icon-savetodrive:before {
	content: "\e6ad";
}
.icon-layerorderup:before {
	content: "\e6ae";
}
.icon-layerorderdown:before {
	content: "\e6af";
}
.icon-layerorder:before {
	content: "\e6b0";
}
.icon-circledribbble:before {
	content: "\e6b1";
}
.icon-squaredribbble:before {
	content: "\e6b2";
}
.icon-handexpand:before {
	content: "\e6b3";
}
.icon-handpinch:before {
	content: "\e6b4";
}
.icon-fontserif:before {
	content: "\e6b5";
}
.icon-fontsansserif:before {
	content: "\e6b6";
}
.icon-fontrounded:before {
	content: "\e6b7";
}
.icon-fonthandwriting:before {
	content: "\e6b8";
}
.icon-fonttypewriter:before {
	content: "\e6b9";
}
.icon-fontcomic:before {
	content: "\e6ba";
}
.icon-fontcaligraphy:before {
	content: "\e6bb";
}
.icon-fontgothic:before {
	content: "\e6bc";
}
.icon-fontstencil:before {
	content: "\e6bd";
}
.icon-moonorbit:before {
	content: "\e6be";
}
.icon-shuttle:before {
	content: "\e6bf";
}
.icon-meteor:before {
	content: "\e6c0";
}
.icon-galaxy:before {
	content: "\e6c1";
}
.icon-observatory:before {
	content: "\e6c2";
}
.icon-astronaut:before {
	content: "\e6c3";
}
.icon-asteroid:before {
	content: "\e6c4";
}
.icon-sunrise:before {
	content: "\e6c5";
}
.icon-sunset:before {
	content: "\e6c6";
}
.icon-tiderise:before {
	content: "\e6c7";
}
.icon-tidefall:before {
	content: "\e6c8";
}
.icon-mushroomcloud:before {
	content: "\e6c9";
}
.icon-galaxyalt:before {
	content: "\e6ca";
}
.icon-sputnik:before {
	content: "\e6cb";
}
.icon-sextant:before {
	content: "\e6cc";
}
.icon-spock:before {
	content: "\e6cd";
}
.icon-meteorite:before {
	content: "\e6ce";
}
.icon-deathstar:before {
	content: "\e6cf";
}
.icon-deathstarbuilding:before {
	content: "\e6d0";
}
.icon-fallingstar:before {
	content: "\e6d1";
}
.icon-windmill:before {
	content: "\e6d2";
}
.icon-windmillalt:before {
	content: "\e6d3";
}
.icon-pumpjack:before {
	content: "\e6d4";
}
.icon-nuclearplant:before {
	content: "\e6d5";
}
.icon-solarpanel:before {
	content: "\e6d6";
}
.icon-barrel:before {
	content: "\e6d7";
}
.icon-canister:before {
	content: "\e6d8";
}
.icon-railtunnel:before {
	content: "\e6d9";
}
.icon-roadtunnel:before {
	content: "\e6da";
}
.icon-pickaxe:before {
	content: "\e6db";
}
.icon-cow:before {
	content: "\e6dc";
}
.icon-sheep:before {
	content: "\e6dd";
}
.icon-fountain:before {
	content: "\e6de";
}
.icon-circlezero:before {
	content: "\e6df";
}
.icon-circleone:before {
	content: "\e6e0";
}
.icon-circletwo:before {
	content: "\e6e1";
}
.icon-circlethree:before {
	content: "\e6e2";
}
.icon-circlefour:before {
	content: "\e6e3";
}
.icon-circlefive:before {
	content: "\e6e4";
}
.icon-circlesix:before {
	content: "\e6e5";
}
.icon-circleseven:before {
	content: "\e6e6";
}
.icon-circleeight:before {
	content: "\e6e7";
}
.icon-circlenine:before {
	content: "\e6e8";
}
.icon-circlea:before {
	content: "\e6e9";
}
.icon-circleb:before {
	content: "\e6ea";
}
.icon-circlec:before {
	content: "\e6eb";
}
.icon-circled:before {
	content: "\e6ec";
}
.icon-circlee:before {
	content: "\e6ed";
}
.icon-circlef:before {
	content: "\e6ee";
}
.icon-circleg:before {
	content: "\e6ef";
}
.icon-circleh:before {
	content: "\e6f0";
}
.icon-circlei:before {
	content: "\e6f1";
}
.icon-circlej:before {
	content: "\e6f2";
}
.icon-circlek:before {
	content: "\e6f3";
}
.icon-circlel:before {
	content: "\e6f4";
}
.icon-circlem:before {
	content: "\e6f5";
}
.icon-circlen:before {
	content: "\e6f6";
}
.icon-circleo:before {
	content: "\e6f7";
}
.icon-circlep:before {
	content: "\e6f8";
}
.icon-circleq:before {
	content: "\e6f9";
}
.icon-circler:before {
	content: "\e6fa";
}
.icon-circles:before {
	content: "\e6fb";
}
.icon-circlet:before {
	content: "\e6fc";
}
.icon-circleu:before {
	content: "\e6fd";
}
.icon-circlev:before {
	content: "\e6fe";
}
.icon-circlew:before {
	content: "\e6ff";
}
.icon-circlex:before {
	content: "\e700";
}
.icon-circlez:before {
	content: "\e701";
}
.icon-circlez2:before {
	content: "\e702";
}
.icon-creeper:before {
	content: "\e703";
}
.icon-minecraft:before {
	content: "\e704";
}
.icon-minecraftalt:before {
	content: "\e705";
}
.icon-pixelsword:before {
	content: "\e706";
}
.icon-pixelbroadsword:before {
	content: "\e707";
}
.icon-pixelwand:before {
	content: "\e708";
}
.icon-pixelpotion:before {
	content: "\e709";
}
.icon-pixelpotionalt:before {
	content: "\e70a";
}
.icon-pixelpickaxe:before {
	content: "\e70b";
}
.icon-pixelbow:before {
	content: "\e70c";
}
.icon-pixelarrow:before {
	content: "\e70d";
}
.icon-pixelaxe:before {
	content: "\e70e";
}
.icon-pixeldagger:before {
	content: "\e70f";
}
.icon-pixelbastardsword:before {
	content: "\e710";
}
.icon-pixellance:before {
	content: "\e711";
}
.icon-pixelbattleaxe:before {
	content: "\e712";
}
.icon-pixelshovel:before {
	content: "\e713";
}
.icon-pixelsphere:before {
	content: "\e714";
}
.icon-pixelelixir:before {
	content: "\e715";
}
.icon-pixelchest:before {
	content: "\e716";
}
.icon-pixelshield:before {
	content: "\e717";
}
.icon-pixelheart:before {
	content: "\e718";
}
.icon-rudder:before {
	content: "\e719";
}
.icon-folderalt:before {
	content: "\e71a";
}
.icon-removefolderalt:before {
	content: "\e71b";
}
.icon-addfolderalt:before {
	content: "\e71c";
}
.icon-deletefolderalt:before {
	content: "\e71d";
}
.icon-openfolderalt:before {
	content: "\e71e";
}
.icon-clipboardalt:before {
	content: "\e71f";
}
.icon-pastealt:before {
	content: "\e720";
}
.icon-loadingflowccw:before {
	content: "\e721";
}
.icon-loadingflowcw:before {
	content: "\e722";
}
.icon-code:before {
	content: "\e723";
}
.icon-cloveralt:before {
	content: "\e724";
}
.icon-lips:before {
	content: "\e725";
}
.icon-kiss:before {
	content: "\e726";
}
.icon-manualshift:before {
	content: "\e727";
}
.icon-simcardthree:before {
	content: "\e728";
}
.icon-parthenon:before {
	content: "\e729";
}
.icon-addcomment:before {
	content: "\e72a";
}
.icon-deletecomment:before {
	content: "\e72b";
}
.icon-gender:before {
	content: "\e72c";
}
.icon-callalt:before {
	content: "\e72d";
}
.icon-outgoingcallalt:before {
	content: "\e72e";
}
.icon-incomingcallalt:before {
	content: "\e72f";
}
.icon-missedcallalt:before {
	content: "\e730";
}
.icon-export:before {
	content: "\e731";
}
.icon-import:before {
	content: "\e732";
}
.icon-cherryalt:before {
	content: "\e733";
}
.icon-panties:before {
	content: "\e734";
}
.icon-poop:before {
	content: "\e735";
}
.icon-poopalt:before {
	content: "\e736";
}
.icon-kiwi:before {
	content: "\e737";
}
.icon-kiwifruit:before {
	content: "\e738";
}
.icon-lemon:before {
	content: "\e739";
}
.icon-pear:before {
	content: "\e73a";
}
.icon-watermelon:before {
	content: "\e73b";
}
.icon-onion:before {
	content: "\e73c";
}
.icon-turnip:before {
	content: "\e73d";
}
.icon-eggplant:before {
	content: "\e73e";
}
.icon-avocado:before {
	content: "\e73f";
}
.icon-perfume:before {
	content: "\e740";
}
.icon-arch:before {
	content: "\e741";
}
.icon-pluspages:before {
	content: "\e742";
}
.icon-community:before {
	content: "\e743";
}
.icon-pluscircles:before {
	content: "\e744";
}
.icon-googleplusold:before {
	content: "\e745";
}
.icon-plusgames:before {
	content: "\e746";
}
.icon-event:before {
	content: "\e747";
}
.icon-miui:before {
	content: "\e748";
}
.icon-hot:before {
	content: "\e749";
}
.icon-flowdown:before {
	content: "\e74a";
}
.icon-flowup:before {
	content: "\e74b";
}
.icon-moustache:before {
	content: "\e74c";
}
.icon-angle:before {
	content: "\e74d";
}
.icon-sleep:before {
	content: "\e74e";
}
.icon-acorn:before {
	content: "\e74f";
}
.icon-steam:before {
	content: "\e750";
}
.icon-resizeupleft:before {
	content: "\e751";
}
.icon-resizeupright:before {
	content: "\e752";
}
.icon-resizedownright:before {
	content: "\e753";
}
.icon-resizedownleft:before {
	content: "\e754";
}
.icon-hammeralt:before {
	content: "\e755";
}
.icon-bamboo:before {
	content: "\e756";
}
.icon-mypictures:before {
	content: "\e757";
}
.icon-mymusic:before {
	content: "\e758";
}
.icon-myvideos:before {
	content: "\e759";
}
.icon-systemfolder:before {
	content: "\e75a";
}
.icon-bookthree:before {
	content: "\e75b";
}
.icon-compile:before {
	content: "\e75c";
}
.icon-report:before {
	content: "\e75d";
}
.icon-fliphorizontal:before {
	content: "\e75e";
}
.icon-flipvertical:before {
	content: "\e75f";
}
.icon-construction:before {
	content: "\e760";
}
.icon-counteralt:before {
	content: "\e761";
}
.icon-counter:before {
	content: "\e762";
}
.icon-papercutter:before {
	content: "\e763";
}
.icon-snaptodot:before {
	content: "\e764";
}
.icon-snaptogrid:before {
	content: "\e765";
}
.icon-caligraphy:before {
	content: "\e766";
}
.icon-icecreamthree:before {
	content: "\e767";
}
.icon-skitch:before {
	content: "\e768";
}
.icon-archlinux:before {
	content: "\e769";
}
.icon-elementaryos:before {
	content: "\e76a";
}
.icon-loadingone:before {
	content: "\e76b";
}
.icon-loadingtwo:before {
	content: "\e76c";
}
.icon-loadingthree:before {
	content: "\e76d";
}
.icon-loadingfour:before {
	content: "\e76e";
}
.icon-loadingfive:before {
	content: "\e76f";
}
.icon-loadingsix:before {
	content: "\e770";
}
.icon-loadingseven:before {
	content: "\e771";
}
.icon-loadingeight:before {
	content: "\e772";
}
.icon-brokenheart:before {
	content: "\e773";
}
.icon-heartarrow:before {
	content: "\e774";
}
.icon-heartsparkle:before {
	content: "\e775";
}
.icon-cell:before {
	content: "\e776";
}
.icon-panda:before {
	content: "\e777";
}
.icon-refreshalt:before {
	content: "\e778";
}
.icon-mirror:before {
	content: "\e779";
}
.icon-headphonesthree:before {
	content: "\e77a";
}
.icon-fan:before {
	content: "\e77b";
}
.icon-tornado:before {
	content: "\e77c";
}
.icon-hangout:before {
	content: "\e77d";
}
.icon-beaker:before {
	content: "\e77e";
}
.icon-beakeralt:before {
	content: "\e77f";
}
.icon-phonescreensize:before {
	content: "\e780";
}
.icon-tabletscreensize:before {
	content: "\e781";
}
.icon-notification:before {
	content: "\e782";
}
.icon-googleglass:before {
	content: "\e783";
}
.icon-pinterest:before {
	content: "\e784";
}
.icon-soundcloud:before {
	content: "\e785";
}
.icon-alarmclock:before {
	content: "\e786";
}
.icon-addalarm:before {
	content: "\e787";
}
.icon-deletealarm:before {
	content: "\e788";
}
.icon-turnoffalarm:before {
	content: "\e789";
}
.icon-snooze:before {
	content: "\e78a";
}
.icon-bringforward:before {
	content: "\e78b";
}
.icon-sendbackward:before {
	content: "\e78c";
}
.icon-bringtofront:before {
	content: "\e78d";
}
.icon-sendtoback:before {
	content: "\e78e";
}
.icon-tectile:before {
	content: "\e78f";
}
.icon-grave:before {
	content: "\e790";
}
.icon-gravetwo:before {
	content: "\e791";
}
.icon-gravethree:before {
	content: "\e792";
}
.icon-gravefour:before {
	content: "\e793";
}
.icon-textlayer:before {
	content: "\e794";
}
.icon-vectoralt:before {
	content: "\e795";
}
.icon-drmanhattan:before {
	content: "\e796";
}
.icon-foursquarealt:before {
	content: "\e797";
}
.icon-hashtag:before {
	content: "\e798";
}
.icon-enteralt:before {
	content: "\e799";
}
.icon-exitalt:before {
	content: "\e79a";
}
.icon-cartalt:before {
	content: "\e79b";
}
.icon-vaultthree:before {
	content: "\e79c";
}
.icon-fatundo:before {
	content: "\e79d";
}
.icon-fatredo:before {
	content: "\e79e";
}
.icon-feedly:before {
	content: "\e79f";
}
.icon-feedlyalt:before {
	content: "\e7a0";
}
.icon-squareheart:before {
	content: "\e7a1";
}
.icon-squarestar:before {
	content: "\e7a2";
}
.icon-squarecomment:before {
	content: "\e7a3";
}
.icon-squarelike:before {
	content: "\e7a4";
}
.icon-squarebookmark:before {
	content: "\e7a5";
}
.icon-squaresearch:before {
	content: "\e7a6";
}
.icon-squaresettings:before {
	content: "\e7a7";
}
.icon-squarevoice:before {
	content: "\e7a8";
}
.icon-google:before {
	content: "\e7a9";
}
.icon-emojigrinalt:before {
	content: "\e7aa";
}
.icon-emojigrin:before {
	content: "\e7ab";
}
.icon-constellation:before {
	content: "\e7ac";
}
.icon-emojisurprise:before {
	content: "\e7ad";
}
.icon-emojidead:before {
	content: "\e7ae";
}
.icon-emojiangry:before {
	content: "\e7af";
}
.icon-emojidevil:before {
	content: "\e7b0";
}
.icon-emojiwink:before {
	content: "\e7b1";
}
.icon-emojismile:before {
	content: "\e7b2";
}
.icon-emojisorry:before {
	content: "\e7b3";
}
.icon-emojiconfused:before {
	content: "\e7b4";
}
.icon-emojisleep:before {
	content: "\e7b5";
}
.icon-emojicry:before {
	content: "\e7b6";
}
.icon-circlefork:before {
	content: "\e7b7";
}
.icon-circlespoon:before {
	content: "\e7b8";
}
.icon-circleknife:before {
	content: "\e7b9";
}
.icon-circlepencil:before {
	content: "\e7ba";
}
.icon-circlehammer:before {
	content: "\e7bb";
}
.icon-circlescrewdriver:before {
	content: "\e7bc";
}
.icon-middlefinger:before {
	content: "\e7bd";
}
.icon-heavymetal:before {
	content: "\e7be";
}
.icon-turnright:before {
	content: "\e7bf";
}
.icon-turnleft:before {
	content: "\e7c0";
}
.icon-vineapp:before {
	content: "\e7c1";
}
.icon-vineappalt:before {
	content: "\e7c2";
}
.icon-finance:before {
	content: "\e7c3";
}
.icon-survey:before {
	content: "\e7c4";
}
.icon-hangouts:before {
	content: "\e7c5";
}
.icon-squarezero:before {
	content: "\e7c6";
}
.icon-squareone:before {
	content: "\e7c7";
}
.icon-squaretwo:before {
	content: "\e7c8";
}
.icon-squarethree:before {
	content: "\e7c9";
}
.icon-squarefour:before {
	content: "\e7ca";
}
.icon-squarefive:before {
	content: "\e7cb";
}
.icon-squaresix:before {
	content: "\e7cc";
}
.icon-squareseven:before {
	content: "\e7cd";
}
.icon-squareeight:before {
	content: "\e7ce";
}
.icon-squarenine:before {
	content: "\e7cf";
}
.icon-squarea:before {
	content: "\e7d0";
}
.icon-squareb:before {
	content: "\e7d1";
}
.icon-squarec:before {
	content: "\e7d2";
}
.icon-squared:before {
	content: "\e7d3";
}
.icon-squaree:before {
	content: "\e7d4";
}
.icon-squaref:before {
	content: "\e7d5";
}
.icon-squareg:before {
	content: "\e7d6";
}
.icon-squareh:before {
	content: "\e7d7";
}
.icon-squarei:before {
	content: "\e7d8";
}
.icon-squarej:before {
	content: "\e7d9";
}
.icon-squarek:before {
	content: "\e7da";
}
.icon-squarel:before {
	content: "\e7db";
}
.icon-squarem:before {
	content: "\e7dc";
}
.icon-squaren:before {
	content: "\e7dd";
}
.icon-squareo:before {
	content: "\e7de";
}
.icon-squarep:before {
	content: "\e7df";
}
.icon-squareq:before {
	content: "\e7e0";
}
.icon-squarer:before {
	content: "\e7e1";
}
.icon-squares:before {
	content: "\e7e2";
}
.icon-squaret:before {
	content: "\e7e3";
}
.icon-squareu:before {
	content: "\e7e4";
}
.icon-squarev:before {
	content: "\e7e5";
}
.icon-squarew:before {
	content: "\e7e6";
}
.icon-squarex:before {
	content: "\e7e7";
}
.icon-squarey:before {
	content: "\e7e8";
}
.icon-squarez:before {
	content: "\e7e9";
}
.icon-dollarsquare:before {
	content: "\e7ea";
}
.icon-poundsquare:before {
	content: "\e7eb";
}
.icon-yensquare:before {
	content: "\e7ec";
}
.icon-eurosquare:before {
	content: "\e7ed";
}
.icon-bitcoinsquare:before {
	content: "\e7ee";
}
.icon-roublesquare:before {
	content: "\e7ef";
}
.icon-roublealt:before {
	content: "\e7f0";
}
.icon-bitcoinalt:before {
	content: "\e7f1";
}
.icon-gavel:before {
	content: "\e7f2";
}
.icon-barchartasc:before {
	content: "\e7f3";
}
.icon-barchartdesc:before {
	content: "\e7f4";
}
.icon-house:before {
	content: "\e7f5";
}
.icon-garage:before {
	content: "\e7f6";
}
.icon-milk:before {
	content: "\e7f7";
}
.icon-hryvnia:before {
	content: "\e7f8";
}
.icon-hryvniasquare:before {
	content: "\e7f9";
}
.icon-hryvniaalt:before {
	content: "\e7fa";
}
.icon-beeralt:before {
	content: "\e7fb";
}
.icon-trolleyfull:before {
	content: "\e7fc";
}
.icon-trolleyload:before {
	content: "\e7fd";
}
.icon-trolleyunload:before {
	content: "\e7fe";
}
.icon-trolleyempty:before {
	content: "\e7ff";
}
.icon-mootools:before {
	content: "\e800";
}
.icon-mootoolstwo:before {
	content: "\e801";
}
.icon-mootoolsthree:before {
	content: "\e802";
}
.icon-mysqlthree:before {
	content: "\e803";
}
.icon-mysqltwo:before {
	content: "\e804";
}
.icon-pgsql:before {
	content: "\e805";
}
.icon-mongodb:before {
	content: "\e806";
}
.icon-neofourj:before {
	content: "\e807";
}
.icon-nosql:before {
	content: "\e808";
}
.icon-catface:before {
	content: "\e809";
}
.icon-polaroid:before {
	content: "\e80a";
}
.icon-clouderror:before {
	content: "\e80b";
}
.icon-camcorder:before {
	content: "\e80c";
}
.icon-projector:before {
	content: "\e80d";
}
.icon-sdvideo:before {
	content: "\e80e";
}
.icon-fx:before {
	content: "\e80f";
}
.icon-gramophone:before {
	content: "\e810";
}
.icon-speakeralt:before {
	content: "\e811";
}
.icon-harddrivealt:before {
	content: "\e812";
}
.icon-usbflash:before {
	content: "\e813";
}
.icon-manillaenvelope:before {
	content: "\e814";
}
.icon-stickynote:before {
	content: "\e815";
}
.icon-stickynotealt:before {
	content: "\e816";
}
.icon-torch:before {
	content: "\e817";
}
.icon-flashlightalt:before {
	content: "\e818";
}
.icon-campfire:before {
	content: "\e819";
}
.icon-cctv:before {
	content: "\e81a";
}
.icon-drill:before {
	content: "\e81b";
}
.icon-lampalt:before {
	content: "\e81c";
}
.icon-flowerpot:before {
	content: "\e81d";
}
.icon-defragment:before {
	content: "\e81e";
}
.icon-panoramio:before {
	content: "\e81f";
}
.icon-panorama:before {
	content: "\e820";
}
.icon-photosphere:before {
	content: "\e821";
}
.icon-panoramaalt:before {
	content: "\e822";
}
.icon-timer:before {
	content: "\e823";
}
.icon-burstmode:before {
	content: "\e824";
}
.icon-cameraflash:before {
	content: "\e825";
}
.icon-autoflash:before {
	content: "\e826";
}
.icon-noflash:before {
	content: "\e827";
}
.icon-threetofour:before {
	content: "\e828";
}
.icon-sixteentonine:before {
	content: "\e829";
}
.icon-cat:before {
	content: "\e82a";
}
.icon-dog:before {
	content: "\e82b";
}
.icon-rabbit:before {
	content: "\e82c";
}
.icon-koala:before {
	content: "\e82d";
}
.icon-butterflyalt:before {
	content: "\e82e";
}
.icon-butterfly:before {
	content: "\e82f";
}
.icon-wwf:before {
	content: "\e830";
}
.icon-opensource:before {
	content: "\e831";
}
.icon-redaxscript:before {
	content: "\e832";
}
.icon-mahara:before {
	content: "\e833";
}
.icon-forkcms:before {
	content: "\e834";
}
.icon-pimcore:before {
	content: "\e835";
}
.icon-bigace:before {
	content: "\e836";
}
.icon-aef:before {
	content: "\e837";
}
.icon-punbb:before {
	content: "\e838";
}
.icon-phorum:before {
	content: "\e839";
}
.icon-fluxbb:before {
	content: "\e83a";
}
.icon-minibb:before {
	content: "\e83b";
}
.icon-zenphoto:before {
	content: "\e83c";
}
.icon-fourimages:before {
	content: "\e83d";
}
.icon-plogger:before {
	content: "\e83e";
}
.icon-jcow:before {
	content: "\e83f";
}
.icon-elgg:before {
	content: "\e840";
}
.icon-etano:before {
	content: "\e841";
}
.icon-openclassifieds:before {
	content: "\e842";
}
.icon-osclass:before {
	content: "\e843";
}
.icon-openx:before {
	content: "\e844";
}
.icon-phplist:before {
	content: "\e845";
}
.icon-roundcube:before {
	content: "\e846";
}
.icon-pommo:before {
	content: "\e847";
}
.icon-webinsta:before {
	content: "\e848";
}
.icon-limesurvey:before {
	content: "\e849";
}
.icon-fengoffice:before {
	content: "\e84a";
}
.icon-eyeos:before {
	content: "\e84b";
}
.icon-dotproject:before {
	content: "\e84c";
}
.icon-collabtive:before {
	content: "\e84d";
}
.icon-projectpier:before {
	content: "\e84e";
}
.icon-taskfreak:before {
	content: "\e84f";
}
.icon-eventum:before {
	content: "\e850";
}
.icon-traq:before {
	content: "\e851";
}
.icon-mantisbugtracker:before {
	content: "\e852";
}
.icon-oscommerce:before {
	content: "\e853";
}
.icon-zencart:before {
	content: "\e854";
}
.icon-tomatocart:before {
	content: "\e855";
}
.icon-boxbilling:before {
	content: "\e856";
}
.icon-zurmo:before {
	content: "\e857";
}
.icon-orangehrm:before {
	content: "\e858";
}
.icon-vtiger:before {
	content: "\e859";
}
.icon-mibew:before {
	content: "\e85a";
}
.icon-phpmyfaq:before {
	content: "\e85b";
}
.icon-yiiframework:before {
	content: "\e85c";
}
.icon-zendframework:before {
	content: "\e85d";
}
.icon-fuelphp:before {
	content: "\e85e";
}
.icon-kohana:before {
	content: "\e85f";
}
.icon-smarty:before {
	content: "\e860";
}
.icon-sidu:before {
	content: "\e861";
}
.icon-simplepie:before {
	content: "\e862";
}
.icon-projectsend:before {
	content: "\e863";
}
.icon-extjs:before {
	content: "\e864";
}
.icon-raphael:before {
	content: "\e865";
}
.icon-sizzle:before {
	content: "\e866";
}
.icon-yui:before {
	content: "\e867";
}
.icon-scissorsalt:before {
	content: "\e868";
}
.icon-cuthere:before {
	content: "\e869";
}
.icon-coinsalt:before {
	content: "\e86a";
}
.icon-parkingmeter:before {
	content: "\e86b";
}
.icon-treethree:before {
	content: "\e86c";
}
.icon-packarchive:before {
	content: "\e86d";
}
.icon-unpackarchive:before {
	content: "\e86e";
}
.icon-terminalalt:before {
	content: "\e86f";
}
.icon-jersey:before {
	content: "\e870";
}
.icon-vial:before {
	content: "\e871";
}
.icon-noteslist:before {
	content: "\e872";
}
.icon-notestasks:before {
	content: "\e873";
}
.icon-notesdate:before {
	content: "\e874";
}
.icon-noteslocation:before {
	content: "\e875";
}
.icon-noteslistalt:before {
	content: "\e876";
}
.icon-notestasksalt:before {
	content: "\e877";
}
.icon-notesdatealt:before {
	content: "\e878";
}
.icon-noteslocationalt:before {
	content: "\e879";
}
.icon-useralt:before {
	content: "\e87a";
}
.icon-adduseralt:before {
	content: "\e87b";
}
.icon-removeuseralt:before {
	content: "\e87c";
}
.icon-banuseralt:before {
	content: "\e87d";
}
.icon-banuser:before {
	content: "\e87e";
}
.icon-paintrollalt:before {
	content: "\e87f";
}
.icon-textcursor:before {
	content: "\e880";
}
.icon-textfield:before {
	content: "\e881";
}
.icon-precisecursor:before {
	content: "\e882";
}
.icon-brokenlink:before {
	content: "\e883";
}
.icon-bookmarkthree:before {
	content: "\e884";
}
.icon-bookmarkfour:before {
	content: "\e885";
}
.icon-warmedalalt:before {
	content: "\e886";
}
.icon-thinking:before {
	content: "\e887";
}
.icon-commentlove:before {
	content: "\e888";
}
.icon-commentsmiley:before {
	content: "\e889";
}
.icon-phpnuke:before {
	content: "\e88a";
}
.icon-modx:before {
	content: "\e88b";
}
.icon-oneohseven:before {
	content: "\e88c";
}
.icon-subrion:before {
	content: "\e88d";
}
.icon-typothree:before {
	content: "\e88e";
}
.icon-tikiwiki:before {
	content: "\e88f";
}
.icon-pligg:before {
	content: "\e890";
}
.icon-pyrocms:before {
	content: "\e891";
}
.icon-mambo:before {
	content: "\e892";
}
.icon-contao:before {
	content: "\e893";
}
.icon-crackedegg:before {
	content: "\e894";
}
.icon-coffeecupalt:before {
	content: "\e895";
}
.icon-reademailalt:before {
	content: "\e896";
}
.icon-train:before {
	content: "\e897";
}
.icon-shoebox:before {
	content: "\e898";
}
.icon-bathtub:before {
	content: "\e899";
}
.icon-ninegag:before {
	content: "\e89a";
}
.icon-pebble:before {
	content: "\e89b";
}
.icon-musicthree:before {
	content: "\e89c";
}
.icon-stairsup:before {
	content: "\e89d";
}
.icon-stairsdown:before {
	content: "\e89e";
}
.icon-bookalt:before {
	content: "\e89f";
}
.icon-programclose:before {
	content: "\e8a0";
}
.icon-programok:before {
	content: "\e8a1";
}
.icon-splitalt:before {
	content: "\e8a2";
}
.icon-solarsystem:before {
	content: "\e8a3";
}
.icon-honeycomb:before {
	content: "\e8a4";
}
.icon-tools:before {
	content: "\e8a5";
}
.icon-xoops:before {
	content: "\e8a6";
}
.icon-pixie:before {
	content: "\e8a7";
}
.icon-dotclear:before {
	content: "\e8a8";
}
.icon-impresscms:before {
	content: "\e8a9";
}
.icon-saurus:before {
	content: "\e8aa";
}
.icon-impresspages:before {
	content: "\e8ab";
}
.icon-monstra:before {
	content: "\e8ac";
}
.icon-snews:before {
	content: "\e8ad";
}
.icon-jcore:before {
	content: "\e8ae";
}
.icon-silverstripe:before {
	content: "\e8af";
}
.icon-btwoevolution:before {
	content: "\e8b0";
}
.icon-nucleus:before {
	content: "\e8b1";
}
.icon-modxalt:before {
	content: "\e8b2";
}
.icon-symphony:before {
	content: "\e8b3";
}
.icon-vanillacms:before {
	content: "\e8b4";
}
.icon-bbpress:before {
	content: "\e8b5";
}
.icon-phpbbalt:before {
	content: "\e8b6";
}
.icon-chyrp:before {
	content: "\e8b7";
}
.icon-pivotx:before {
	content: "\e8b8";
}
.icon-pagecookery:before {
	content: "\e8b9";
}
.icon-moviereelalt:before {
	content: "\e8ba";
}
.icon-cassettealt:before {
	content: "\e8bb";
}
.icon-photobucket:before {
	content: "\e8bc";
}
.icon-technorati:before {
	content: "\e8bd";
}
.icon-theverge:before {
	content: "\e8be";
}
.icon-stacks:before {
	content: "\e8bf";
}
.icon-dotlist:before {
	content: "\e8c0";
}
.icon-numberlist:before {
	content: "\e8c1";
}
.icon-indentleftalt:before {
	content: "\e8c2";
}
.icon-indentrightalt:before {
	content: "\e8c3";
}
.icon-fblike:before {
	content: "\e8c4";
}
.icon-fbdislike:before {
	content: "\e8c5";
}
.icon-sale:before {
	content: "\e8c6";
}
.icon-sharetronix:before {
	content: "\e8c7";
}
.icon-rouble:before {
	content: "\e8c8";
}
.icon-markerdown:before {
	content: "\e8c9";
}
.icon-markerup:before {
	content: "\e8ca";
}
.icon-markerleft:before {
	content: "\e8cb";
}
.icon-markerright:before {
	content: "\e8cc";
}
.icon-bookmarkalt:before {
	content: "\e8cd";
}
.icon-calendarthree:before {
	content: "\e8ce";
}
.icon-wineglass:before {
	content: "\e8cf";
}
.icon-slidersoff:before {
	content: "\e8d0";
}
.icon-slidersmiddle:before {
	content: "\e8d1";
}
.icon-slidersfull:before {
	content: "\e8d2";
}
.icon-slidersdesc:before {
	content: "\e8d3";
}
.icon-sliderasc:before {
	content: "\e8d4";
}
.icon-slideronefull:before {
	content: "\e8d5";
}
.icon-slidertwofull:before {
	content: "\e8d6";
}
.icon-sliderthreefull:before {
	content: "\e8d7";
}
.icon-noborders:before {
	content: "\e8d8";
}
.icon-bottomborder:before {
	content: "\e8d9";
}
.icon-topborder:before {
	content: "\e8da";
}
.icon-leftborder:before {
	content: "\e8db";
}
.icon-rightborder:before {
	content: "\e8dc";
}
.icon-horizontalborder:before {
	content: "\e8dd";
}
.icon-verticalborder:before {
	content: "\e8de";
}
.icon-outerborders:before {
	content: "\e8df";
}
.icon-innerborders:before {
	content: "\e8e0";
}
.icon-fullborders:before {
	content: "\e8e1";
}
.icon-networksignalalt:before {
	content: "\e8e2";
}
.icon-resizeverticalalt:before {
	content: "\e8e3";
}
.icon-resizehorizontalalt:before {
	content: "\e8e4";
}
.icon-moneyalt:before {
	content: "\e8e5";
}
.icon-fontcase:before {
	content: "\e8e6";
}
.icon-playstation:before {
	content: "\e8e7";
}
.icon-cube:before {
	content: "\e8e8";
}
.icon-sphere:before {
	content: "\e8e9";
}
.icon-ceilinglight:before {
	content: "\e8ea";
}
.icon-chandelier:before {
	content: "\e8eb";
}
.icon-details:before {
	content: "\e8ec";
}
.icon-detailsalt:before {
	content: "\e8ed";
}
.icon-bullet:before {
	content: "\e8ee";
}
.icon-gun:before {
	content: "\e8ef";
}
.icon-cputhree:before {
	content: "\e8f0";
}
.icon-world:before {
	content: "\e8f1";
}
.icon-statistics:before {
	content: "\e8f2";
}
.icon-shoppingcartalt:before {
	content: "\e8f3";
}
.icon-microphonealt:before {
	content: "\e8f4";
}
.icon-routeralt:before {
	content: "\e8f5";
}
.icon-shell:before {
	content: "\e8f6";
}
.icon-squareplay:before {
	content: "\e8f7";
}
.icon-squarestop:before {
	content: "\e8f8";
}
.icon-squarepause:before {
	content: "\e8f9";
}
.icon-squarerecord:before {
	content: "\e8fa";
}
.icon-squareforward:before {
	content: "\e8fb";
}
.icon-squareback:before {
	content: "\e8fc";
}
.icon-squarenext:before {
	content: "\e8fd";
}
.icon-squareprevious:before {
	content: "\e8fe";
}
.icon-mega:before {
	content: "\e8ff";
}
.icon-charliechaplin:before {
	content: "\e900";
}
.icon-popcorn:before {
	content: "\e901";
}
.icon-fatarrowright:before {
	content: "\e902";
}
.icon-fatarrowleft:before {
	content: "\e903";
}
.icon-fatarrowdown:before {
	content: "\e904";
}
.icon-fatarrowup:before {
	content: "\e905";
}
.icon-shirtbutton:before {
	content: "\e906";
}
.icon-shirtbuttonalt:before {
	content: "\e907";
}
.icon-cuckooclock:before {
	content: "\e908";
}
.icon-lens:before {
	content: "\e909";
}
.icon-voltage:before {
	content: "\e90a";
}
.icon-planealt:before {
	content: "\e90b";
}
.icon-busalt:before {
	content: "\e90c";
}
.icon-lipstick:before {
	content: "\e90d";
}
.icon-plantalt:before {
	content: "\e90e";
}
.icon-paperboat:before {
	content: "\e90f";
}
.icon-texture:before {
	content: "\e910";
}
.icon-dominoone:before {
	content: "\e911";
}
.icon-dominotwo:before {
	content: "\e912";
}
.icon-dominothree:before {
	content: "\e913";
}
.icon-dominofour:before {
	content: "\e914";
}
.icon-dominofive:before {
	content: "\e915";
}
.icon-dominosix:before {
	content: "\e916";
}
.icon-dominoseven:before {
	content: "\e917";
}
.icon-dominoeight:before {
	content: "\e918";
}
.icon-dominonine:before {
	content: "\e919";
}
.icon-connected:before {
	content: "\e91a";
}
.icon-connectedpc:before {
	content: "\e91b";
}
.icon-musicsheet:before {
	content: "\e91c";
}
.icon-rdio:before {
	content: "\e91d";
}
.icon-spotify:before {
	content: "\e91e";
}
.icon-deviantart:before {
	content: "\e91f";
}
.icon-yelp:before {
	content: "\e920";
}
.icon-behance:before {
	content: "\e921";
}
.icon-nfc:before {
	content: "\e922";
}
.icon-earbudsalt:before {
	content: "\e923";
}
.icon-earbuds:before {
	content: "\e924";
}
.icon-amazon:before {
	content: "\e925";
}
.icon-openid:before {
	content: "\e926";
}
.icon-digg:before {
	content: "\e927";
}
.icon-apple:before {
	content: "\e928";
}
.icon-moonnew:before {
	content: "\e929";
}
.icon-moonwaxingcrescent:before {
	content: "\e92a";
}
.icon-moonfirstquarter:before {
	content: "\e92b";
}
.icon-moonwaxinggibbous:before {
	content: "\e92c";
}
.icon-moonfull:before {
	content: "\e92d";
}
.icon-moonwaninggibbous:before {
	content: "\e92e";
}
.icon-moonthirdquarter:before {
	content: "\e92f";
}
.icon-moonwaningcrescent:before {
	content: "\e930";
}
.icon-planet:before {
	content: "\e931";
}
.icon-sodacup:before {
	content: "\e932";
}
.icon-cocktail:before {
	content: "\e933";
}
.icon-church:before {
	content: "\e934";
}
.icon-mosque:before {
	content: "\e935";
}
.icon-comedy:before {
	content: "\e936";
}
.icon-tragedy:before {
	content: "\e937";
}
.icon-bacon:before {
	content: "\e938";
}
.icon-trailor:before {
	content: "\e939";
}
.icon-tshirt:before {
	content: "\e93a";
}
.icon-design:before {
	content: "\e93b";
}
.icon-spiderweb:before {
	content: "\e93c";
}
.icon-fireplace:before {
	content: "\e93d";
}
.icon-tallglass:before {
	content: "\e93e";
}
.icon-grapes:before {
	content: "\e93f";
}
.icon-biohazard:before {
	content: "\e940";
}
.icon-directions:before {
	content: "\e941";
}
.icon-equalizerthree:before {
	content: "\e942";
}
.icon-mountains:before {
	content: "\e943";
}
.icon-bing:before {
	content: "\e944";
}
.icon-windowseight:before {
	content: "\e945";
}
.icon-microsoftoffice:before {
	content: "\e946";
}
.icon-salealt:before {
	content: "\e947";
}
.icon-purse:before {
	content: "\e948";
}
.icon-chickenalt:before {
	content: "\e949";
}
.icon-podium:before {
	content: "\e94a";
}
.icon-findfriends:before {
	content: "\e94b";
}
.icon-microphonethree:before {
	content: "\e94c";
}
.icon-workshirt:before {
	content: "\e94d";
}
.icon-donotdisturb:before {
	content: "\e94e";
}
.icon-addtags:before {
	content: "\e94f";
}
.icon-removetags:before {
	content: "\e950";
}
.icon-carbattery:before {
	content: "\e951";
}
.icon-debug:before {
	content: "\e952";
}
.icon-trojan:before {
	content: "\e953";
}
.icon-molecule:before {
	content: "\e954";
}
.icon-safetygoggles:before {
	content: "\e955";
}
.icon-leather:before {
	content: "\e956";
}
.icon-teddybear:before {
	content: "\e957";
}
.icon-stroller:before {
	content: "\e958";
}
.icon-circleplay:before {
	content: "\e959";
}
.icon-circlestop:before {
	content: "\e95a";
}
.icon-circlepause:before {
	content: "\e95b";
}
.icon-circlerecord:before {
	content: "\e95c";
}
.icon-circleforward:before {
	content: "\e95d";
}
.icon-circlebackward:before {
	content: "\e95e";
}
.icon-circlenext:before {
	content: "\e95f";
}
.icon-circleprevious:before {
	content: "\e960";
}
.icon-circleplayempty:before {
	content: "\e961";
}
.icon-circlestopempty:before {
	content: "\e962";
}
.icon-circlepauseempty:before {
	content: "\e963";
}
.icon-circlerecordempty:before {
	content: "\e964";
}
.icon-circleforwardempty:before {
	content: "\e965";
}
.icon-circlebackwardempty:before {
	content: "\e966";
}
.icon-circlenextempty:before {
	content: "\e967";
}
.icon-circlepreviousempty:before {
	content: "\e968";
}
.icon-belt:before {
	content: "\e969";
}
.icon-bait:before {
	content: "\e96a";
}
.icon-manalt:before {
	content: "\e96b";
}
.icon-womanalt:before {
	content: "\e96c";
}
.icon-clover:before {
	content: "\e96d";
}
.icon-pacifier:before {
	content: "\e96e";
}
.icon-calcplus:before {
	content: "\e96f";
}
.icon-calcminus:before {
	content: "\e970";
}
.icon-calcmultiply:before {
	content: "\e971";
}
.icon-calcdivide:before {
	content: "\e972";
}
.icon-calcequals:before {
	content: "\e973";
}
.icon-city:before {
	content: "\e974";
}
.icon-hdvideo:before {
	content: "\e975";
}
.icon-horizontalcontract:before {
	content: "\e976";
}
.icon-horizontalexpand:before {
	content: "\e977";
}
.icon-radar:before {
	content: "\e978";
}
.icon-threed:before {
	content: "\e979";
}
.icon-flickralt:before {
	content: "\e97a";
}
.icon-pattern:before {
	content: "\e97b";
}
.icon-elevator:before {
	content: "\e97c";
}
.icon-escalator:before {
	content: "\e97d";
}
.icon-portrait:before {
	content: "\e97e";
}
.icon-cigar:before {
	content: "\e97f";
}
.icon-dropbox:before {
	content: "\e980";
}
.icon-origami:before {
	content: "\e981";
}
.icon-removecircle:before {
	content: "\e982";
}
.icon-okcircle:before {
	content: "\e983";
}
.icon-circlearrowleft:before {
	content: "\e984";
}
.icon-circlearrowright:before {
	content: "\e985";
}
.icon-circlearrowup:before {
	content: "\e986";
}
.icon-circlearrowdown:before {
	content: "\e987";
}
.icon-plussign:before {
	content: "\e988";
}
.icon-minussign:before {
	content: "\e989";
}
.icon-removesign:before {
	content: "\e98a";
}
.icon-oksign:before {
	content: "\e98b";
}
.icon-upload:before {
	content: "\e98c";
}
.icon-download:before {
	content: "\e98d";
}
.icon-edit:before {
	content: "\e98e";
}
.icon-share:before {
	content: "\e98f";
}
.icon-fastbackward:before {
	content: "\e990";
}
.icon-fastforward:before {
	content: "\e991";
}
.icon-listalt:before {
	content: "\e992";
}
.icon-eyeclose:before {
	content: "\e993";
}
.icon-tags:before {
	content: "\e994";
}
.icon-folderopen:before {
	content: "\e995";
}
.icon-adjust:before {
	content: "\e996";
}
.icon-fullscreen:before {
	content: "\e997";
}
.icon-retweet:before {
	content: "\e998";
}
.icon-flag:before {
	content: "\e999";
}
.icon-chevronright:before {
	content: "\e99a";
}
.icon-chevronleft:before {
	content: "\e99b";
}
.icon-chevronup:before {
	content: "\e99c";
}
.icon-chevrondown:before {
	content: "\e99d";
}
.icon-pigpena:before {
	content: "\e99e";
}
.icon-pigpenb:before {
	content: "\e99f";
}
.icon-pigpenc:before {
	content: "\e9a0";
}
.icon-pigpend:before {
	content: "\e9a1";
}
.icon-pigpene:before {
	content: "\e9a2";
}
.icon-pigpenf:before {
	content: "\e9a3";
}
.icon-pigpeng:before {
	content: "\e9a4";
}
.icon-pigpenh:before {
	content: "\e9a5";
}
.icon-pigpeni:before {
	content: "\e9a6";
}
.icon-pigpenj:before {
	content: "\e9a7";
}
.icon-pigpenk:before {
	content: "\e9a8";
}
.icon-pigpenl:before {
	content: "\e9a9";
}
.icon-pigpenm:before {
	content: "\e9aa";
}
.icon-pigpenn:before {
	content: "\e9ab";
}
.icon-pigpeno:before {
	content: "\e9ac";
}
.icon-pigpenp:before {
	content: "\e9ad";
}
.icon-pigpenq:before {
	content: "\e9ae";
}
.icon-pigpenr:before {
	content: "\e9af";
}
.icon-pigpens:before {
	content: "\e9b0";
}
.icon-pigpent:before {
	content: "\e9b1";
}
.icon-pigpenu:before {
	content: "\e9b2";
}
.icon-pigpenv:before {
	content: "\e9b3";
}
.icon-pigpenw:before {
	content: "\e9b4";
}
.icon-pigpenx:before {
	content: "\e9b5";
}
.icon-pigpeny:before {
	content: "\e9b6";
}
.icon-pigpenz:before {
	content: "\e9b7";
}
.icon-braillea:before {
	content: "\e9b8";
}
.icon-brailleb:before {
	content: "\e9b9";
}
.icon-braillec:before {
	content: "\e9ba";
}
.icon-brailled:before {
	content: "\e9bb";
}
.icon-braillee:before {
	content: "\e9bc";
}
.icon-braillef:before {
	content: "\e9bd";
}
.icon-brailleg:before {
	content: "\e9be";
}
.icon-brailleh:before {
	content: "\e9bf";
}
.icon-braillei:before {
	content: "\e9c0";
}
.icon-braillej:before {
	content: "\e9c1";
}
.icon-braillek:before {
	content: "\e9c2";
}
.icon-braillel:before {
	content: "\e9c3";
}
.icon-braillem:before {
	content: "\e9c4";
}
.icon-braillen:before {
	content: "\e9c5";
}
.icon-brailleo:before {
	content: "\e9c6";
}
.icon-braillep:before {
	content: "\e9c7";
}
.icon-brailleq:before {
	content: "\e9c8";
}
.icon-brailler:before {
	content: "\e9c9";
}
.icon-brailles:before {
	content: "\e9ca";
}
.icon-braillet:before {
	content: "\e9cb";
}
.icon-brailleu:before {
	content: "\e9cc";
}
.icon-braillev:before {
	content: "\e9cd";
}
.icon-braillew:before {
	content: "\e9ce";
}
.icon-braillex:before {
	content: "\e9cf";
}
.icon-brailley:before {
	content: "\e9d0";
}
.icon-braillez:before {
	content: "\e9d1";
}
.icon-braillezero:before {
	content: "\e9d2";
}
.icon-brailleone:before {
	content: "\e9d3";
}
.icon-brailletwo:before {
	content: "\e9d4";
}
.icon-braillethree:before {
	content: "\e9d5";
}
.icon-braillefour:before {
	content: "\e9d6";
}
.icon-braillefive:before {
	content: "\e9d7";
}
.icon-braillesix:before {
	content: "\e9d8";
}
.icon-brailleseven:before {
	content: "\e9d9";
}
.icon-brailleeight:before {
	content: "\e9da";
}
.icon-braillenine:before {
	content: "\e9db";
}
.icon-braillespace:before {
	content: "\e9dc";
}
.icon-hydrant:before {
	content: "\e9dd";
}
.icon-fort:before {
	content: "\e9de";
}
.icon-cannon:before {
	content: "\e9df";
}
.icon-route:before {
	content: "\e9e0";
}
.icon-gameboy:before {
	content: "\e9e1";
}
.icon-nintendods:before {
	content: "\e9e2";
}
.icon-baloon:before {
	content: "\e9e3";
}
.icon-greenlightbulb:before {
	content: "\e9e4";
}
.icon-egg:before {
	content: "\e9e5";
}
.icon-pasta:before {
	content: "\e9e6";
}
.icon-dna:before {
	content: "\e9e7";
}
.icon-broom:before {
	content: "\e9e8";
}
.icon-speed:before {
	content: "\e9e9";
}
.icon-stumbleupon:before {
	content: "\e9ea";
}
.icon-fridge:before {
	content: "\e9eb";
}
.icon-davidstar:before {
	content: "\e9ec";
}
.icon-christiancross:before {
	content: "\e9ed";
}
.icon-islam:before {
	content: "\e9ee";
}
.icon-torigate:before {
	content: "\e9ef";
}
.icon-desklamp:before {
	content: "\e9f0";
}
.icon-aaabattery:before {
	content: "\e9f1";
}
.icon-sharethree:before {
	content: "\e9f2";
}
.icon-danger:before {
	content: "\e9f3";
}
.icon-razor:before {
	content: "\e9f4";
}
.icon-safetypin:before {
	content: "\e9f5";
}
.icon-cricket:before {
	content: "\e9f6";
}
.icon-searchdocument:before {
	content: "\e9f7";
}
.icon-searchfolder:before {
	content: "\e9f8";
}
.icon-wind:before {
	content: "\e9f9";
}
.icon-breakable:before {
	content: "\e9fa";
}
.icon-thissideup:before {
	content: "\e9fb";
}
.icon-pictureframe:before {
	content: "\e9fc";
}
.icon-alienship:before {
	content: "\e9fd";
}
.icon-firefox:before {
	content: "\e9fe";
}
.icon-blackberry:before {
	content: "\e9ff";
}
.icon-travel:before {
	content: "\ea00";
}
.icon-tank:before {
	content: "\ea01";
}
.icon-windleft:before {
	content: "\ea02";
}
.icon-windright:before {
	content: "\ea03";
}
.icon-screw:before {
	content: "\ea04";
}
.icon-nut:before {
	content: "\ea05";
}
.icon-nail:before {
	content: "\ea06";
}
.icon-stiletto:before {
	content: "\ea07";
}
.icon-foursquare:before {
	content: "\ea08";
}
.icon-fishbone:before {
	content: "\ea09";
}
.icon-teapot:before {
	content: "\ea0a";
}
.icon-candy:before {
	content: "\ea0b";
}
.icon-microwave:before {
	content: "\ea0c";
}
.icon-bread:before {
	content: "\ea0d";
}
.icon-weight:before {
	content: "\ea0e";
}
.icon-superman:before {
	content: "\ea0f";
}
.icon-greenlantern:before {
	content: "\ea10";
}
.icon-captainamerica:before {
	content: "\ea11";
}
.icon-avengers:before {
	content: "\ea12";
}
.icon-punisher:before {
	content: "\ea13";
}
.icon-spawn:before {
	content: "\ea14";
}
.icon-xmen:before {
	content: "\ea15";
}
.icon-spider:before {
	content: "\ea16";
}
.icon-spiderman:before {
	content: "\ea17";
}
.icon-batman:before {
	content: "\ea18";
}
.icon-ironman:before {
	content: "\ea19";
}
.icon-darthvader:before {
	content: "\ea1a";
}
.icon-tetrisone:before {
	content: "\ea1b";
}
.icon-tetristwo:before {
	content: "\ea1c";
}
.icon-tetristhree:before {
	content: "\ea1d";
}
.icon-vk:before {
	content: "\ea1e";
}
.icon-tron:before {
	content: "\ea1f";
}
.icon-residentevil:before {
	content: "\ea20";
}
.icon-designcontest:before {
	content: "\ea21";
}
.icon-spaceinvaders:before {
	content: "\ea22";
}
.icon-xbox:before {
	content: "\ea23";
}
.icon-pokemon:before {
	content: "\ea24";
}
.icon-quake:before {
	content: "\ea25";
}
.icon-aperture:before {
	content: "\ea26";
}
.icon-robocop:before {
	content: "\ea27";
}
.icon-rorschach:before {
	content: "\ea28";
}
.icon-chicken:before {
	content: "\ea29";
}
.icon-fish:before {
	content: "\ea2a";
}
.icon-cupcake:before {
	content: "\ea2b";
}
.icon-pizza:before {
	content: "\ea2c";
}
.icon-cherry:before {
	content: "\ea2d";
}
.icon-mushroom:before {
	content: "\ea2e";
}
.icon-bone:before {
	content: "\ea2f";
}
.icon-steak:before {
	content: "\ea30";
}
.icon-bottle:before {
	content: "\ea31";
}
.icon-restaurantmenu:before {
	content: "\ea32";
}
.icon-muffin:before {
	content: "\ea33";
}
.icon-pepperoni:before {
	content: "\ea34";
}
.icon-sunnysideup:before {
	content: "\ea35";
}
.icon-coffeebean:before {
	content: "\ea36";
}
.icon-chocolate:before {
	content: "\ea37";
}
.icon-raspberry:before {
	content: "\ea38";
}
.icon-raspberrypi:before {
	content: "\ea39";
}
.icon-fries:before {
	content: "\ea3a";
}
.icon-birthday:before {
	content: "\ea3b";
}
.icon-globealt:before {
	content: "\ea3c";
}
.icon-glue:before {
	content: "\ea3d";
}
.icon-eightball:before {
	content: "\ea3e";
}
.icon-rim:before {
	content: "\ea3f";
}
.icon-lego:before {
	content: "\ea40";
}
.icon-stove:before {
	content: "\ea41";
}
.icon-speaker:before {
	content: "\ea42";
}
.icon-submarine:before {
	content: "\ea43";
}
.icon-metronome:before {
	content: "\ea44";
}
.icon-trumpet:before {
	content: "\ea45";
}
.icon-knob:before {
	content: "\ea46";
}
.icon-cassette:before {
	content: "\ea47";
}
.icon-watch:before {
	content: "\ea48";
}
.icon-viking:before {
	content: "\ea49";
}
.icon-mickeymouse:before {
	content: "\ea4a";
}
.icon-christmasstree:before {
	content: "\ea4b";
}
.icon-snowman:before {
	content: "\ea4c";
}
.icon-candycane:before {
	content: "\ea4d";
}
.icon-treeornament:before {
	content: "\ea4e";
}
.icon-bowtie:before {
	content: "\ea4f";
}
.icon-lifehacker:before {
	content: "\ea50";
}
.icon-favoritefile:before {
	content: "\ea51";
}
.icon-favoritefolder:before {
	content: "\ea52";
}
.icon-crayon:before {
	content: "\ea53";
}
.icon-toiletbrush:before {
	content: "\ea54";
}
.icon-toothbrush:before {
	content: "\ea55";
}
.icon-bluetoothconnected:before {
	content: "\ea56";
}
.icon-handdown:before {
	content: "\ea57";
}
.icon-handright:before {
	content: "\ea58";
}
.icon-handleft:before {
	content: "\ea59";
}
.icon-satellite:before {
	content: "\ea5a";
}
.icon-harrypotter:before {
	content: "\ea5b";
}
.icon-jason:before {
	content: "\ea5c";
}
.icon-skull:before {
	content: "\ea5d";
}
.icon-raceflag:before {
	content: "\ea5e";
}
.icon-doghouse:before {
	content: "\ea5f";
}
.icon-birdhouse:before {
	content: "\ea60";
}
.icon-phonemic:before {
	content: "\ea61";
}
.icon-island:before {
	content: "\ea62";
}
.icon-handcuffs:before {
	content: "\ea63";
}
.icon-addtocart:before {
	content: "\ea64";
}
.icon-emptycart:before {
	content: "\ea65";
}
.icon-lasso:before {
	content: "\ea66";
}
.icon-polygonlasso:before {
	content: "\ea67";
}
.icon-finder:before {
	content: "\ea68";
}
.icon-dialpad:before {
	content: "\ea69";
}
.icon-tictactoe:before {
	content: "\ea6a";
}
.icon-washer:before {
	content: "\ea6b";
}
.icon-theather:before {
	content: "\ea6c";
}
.icon-glassesalt:before {
	content: "\ea6d";
}
.icon-skypeonline:before {
	content: "\ea6e";
}
.icon-skypeaway:before {
	content: "\ea6f";
}
.icon-skypebusy:before {
	content: "\ea70";
}
.icon-skypeoffline:before {
	content: "\ea71";
}
.icon-grooveshark:before {
	content: "\ea72";
}
.icon-lastfm:before {
	content: "\ea73";
}
.icon-taxi:before {
	content: "\ea74";
}
.icon-macpro:before {
	content: "\ea75";
}
.icon-keyboarddelete:before {
	content: "\ea76";
}
.icon-gearfour:before {
	content: "\ea77";
}
.icon-flowernew:before {
	content: "\ea78";
}
.icon-networksignal:before {
	content: "\ea79";
}
.icon-zodiacaries:before {
	content: "\ea7a";
}
.icon-zodiactaurus:before {
	content: "\ea7b";
}
.icon-zodiacgemini:before {
	content: "\ea7c";
}
.icon-zodiaccancer:before {
	content: "\ea7d";
}
.icon-zodiacleo:before {
	content: "\ea7e";
}
.icon-zodiacvirgo:before {
	content: "\ea7f";
}
.icon-zodiaclibra:before {
	content: "\ea80";
}
.icon-zodiacscorpio:before {
	content: "\ea81";
}
.icon-zodiacsagitarius:before {
	content: "\ea82";
}
.icon-zodiaccapricorn:before {
	content: "\ea83";
}
.icon-zodiacaquarius:before {
	content: "\ea84";
}
.icon-zodiacpisces:before {
	content: "\ea85";
}
.icon-oneupalt:before {
	content: "\ea86";
}
.icon-oneup:before {
	content: "\ea87";
}
.icon-zelda:before {
	content: "\ea88";
}
.icon-atari:before {
	content: "\ea89";
}
.icon-halflife:before {
	content: "\ea8a";
}
.icon-halo:before {
	content: "\ea8b";
}
.icon-walle:before {
	content: "\ea8c";
}
.icon-monstersinc:before {
	content: "\ea8d";
}
.icon-alienware:before {
	content: "\ea8e";
}
.icon-warcraft:before {
	content: "\ea8f";
}
.icon-drwho:before {
	content: "\ea90";
}
.icon-angrybirds:before {
	content: "\ea91";
}
.icon-visa:before {
	content: "\ea92";
}
.icon-webplatform:before {
	content: "\ea93";
}
.icon-parentheses:before {
	content: "\ea94";
}
.icon-vendetta:before {
	content: "\ea95";
}
.icon-circleleft:before {
	content: "\ea96";
}
.icon-circledown:before {
	content: "\ea97";
}
.icon-circleup:before {
	content: "\ea98";
}
.icon-circleright:before {
	content: "\ea99";
}
.icon-donut:before {
	content: "\ea9a";
}
.icon-tea:before {
	content: "\ea9b";
}
.icon-hotdog:before {
	content: "\ea9c";
}
.icon-taco:before {
	content: "\ea9d";
}
.icon-chef:before {
	content: "\ea9e";
}
.icon-pretzel:before {
	content: "\ea9f";
}
.icon-foodtray:before {
	content: "\eaa0";
}
.icon-soup:before {
	content: "\eaa1";
}
.icon-bowlingpins:before {
	content: "\eaa2";
}
.icon-bat:before {
	content: "\eaa3";
}
.icon-dart:before {
	content: "\eaa4";
}
.icon-domino:before {
	content: "\eaa5";
}
.icon-stadium:before {
	content: "\eaa6";
}
.icon-curling:before {
	content: "\eaa7";
}
.icon-whistle:before {
	content: "\eaa8";
}
.icon-hockey:before {
	content: "\eaa9";
}
.icon-addfriend:before {
	content: "\eaaa";
}
.icon-removefriend:before {
	content: "\eaab";
}
.icon-ticket:before {
	content: "\eaac";
}
.icon-marvin:before {
	content: "\eaad";
}
.icon-tooth:before {
	content: "\eaae";
}
.icon-lungs:before {
	content: "\eaaf";
}
.icon-kidney:before {
	content: "\eab0";
}
.icon-stomach:before {
	content: "\eab1";
}
.icon-liver:before {
	content: "\eab2";
}
.icon-brain:before {
	content: "\eab3";
}
.icon-helicopter:before {
	content: "\eab4";
}
.icon-invoice:before {
	content: "\eab5";
}
.icon-lighthouse:before {
	content: "\eab6";
}
.icon-diode:before {
	content: "\eab7";
}
.icon-capacitator:before {
	content: "\eab8";
}
.icon-dcsource:before {
	content: "\eab9";
}
.icon-acsource:before {
	content: "\eaba";
}
.icon-resistor:before {
	content: "\eabb";
}
.icon-antenna:before {
	content: "\eabc";
}
.icon-filmstrip:before {
	content: "\eabd";
}
.icon-lollypop:before {
	content: "\eabe";
}
.icon-telescope:before {
	content: "\eabf";
}
.icon-tophat:before {
	content: "\eac0";
}
.icon-fedora:before {
	content: "\eac1";
}
.icon-carrot:before {
	content: "\eac2";
}
.icon-strawberry:before {
	content: "\eac3";
}
.icon-banana:before {
	content: "\eac4";
}
.icon-sticker:before {
	content: "\eac5";
}
.icon-ink:before {
	content: "\eac6";
}
.icon-dieone:before {
	content: "\eac7";
}
.icon-dietwo:before {
	content: "\eac8";
}
.icon-diethree:before {
	content: "\eac9";
}
.icon-diefour:before {
	content: "\eaca";
}
.icon-diefive:before {
	content: "\eacb";
}
.icon-diesix:before {
	content: "\eacc";
}
.icon-scales:before {
	content: "\eacd";
}
.icon-wheelchair:before {
	content: "\eace";
}
.icon-bitcoin:before {
	content: "\eacf";
}
.icon-analytics:before {
	content: "\ead0";
}
.icon-analyticsalt:before {
	content: "\ead1";
}
.icon-cpu:before {
	content: "\ead2";
}
.icon-cpualt:before {
	content: "\ead3";
}
.icon-backup:before {
	content: "\ead4";
}
.icon-backupalt:before {
	content: "\ead5";
}
.icon-bandwidth:before {
	content: "\ead6";
}
.icon-cloudhosting:before {
	content: "\ead7";
}
.icon-controlpanel:before {
	content: "\ead8";
}
.icon-controlpanelalt:before {
	content: "\ead9";
}
.icon-cooling:before {
	content: "\eada";
}
.icon-database:before {
	content: "\eadb";
}
.icon-databaseadd:before {
	content: "\eadc";
}
.icon-databasedelete:before {
	content: "\eadd";
}
.icon-dedicatedserver:before {
	content: "\eade";
}
.icon-cog:before {
	content: "\eadf";
}
.icon-shopping:before {
	content: "\eae0";
}
.icon-box:before {
	content: "\eae1";
}
.icon-drawer:before {
	content: "\eae2";
}
.icon-support:before {
	content: "\eae3";
}
.icon-supportalt:before {
	content: "\eae4";
}
.icon-lifepreserver:before {
	content: "\eae5";
}
.icon-reliability:before {
	content: "\eae6";
}
.icon-uptime:before {
	content: "\eae7";
}
.icon-coins:before {
	content: "\eae8";
}
.icon-windows:before {
	content: "\eae9";
}
.icon-linux:before {
	content: "\eaea";
}
.icon-globe:before {
	content: "\eaeb";
}
.icon-website:before {
	content: "\eaec";
}
.icon-domain:before {
	content: "\eaed";
}
.icon-affiliate:before {
	content: "\eaee";
}
.icon-intel:before {
	content: "\eaef";
}
.icon-amd:before {
	content: "\eaf0";
}
.icon-firewall:before {
	content: "\eaf1";
}
.icon-link:before {
	content: "\eaf2";
}
.icon-greekcolumn:before {
	content: "\eaf3";
}
.icon-colocationalt:before {
	content: "\eaf4";
}
.icon-colocation:before {
	content: "\eaf5";
}
.icon-vps:before {
	content: "\eaf6";
}
.icon-server:before {
	content: "\eaf7";
}
.icon-servers:before {
	content: "\eaf8";
}
.icon-envelope:before {
	content: "\eaf9";
}
.icon-ftp:before {
	content: "\eafa";
}
.icon-harddisk:before {
	content: "\eafb";
}
.icon-homealt:before {
	content: "\eafc";
}
.icon-ram:before {
	content: "\eafd";
}
.icon-security:before {
	content: "\eafe";
}
.icon-securityalt:before {
	content: "\eaff";
}
.icon-barchart:before {
	content: "\eb00";
}
.icon-seo:before {
	content: "\eb01";
}
.icon-webhostinghub:before {
	content: "\eb02";
}
.icon-price:before {
	content: "\eb03";
}
.icon-webpage:before {
	content: "\eb04";
}
.icon-websitebuilder:before {
	content: "\eb05";
}
.icon-shoppingcart:before {
	content: "\eb06";
}
.icon-cms:before {
	content: "\eb07";
}
.icon-sharedhosting:before {
	content: "\eb08";
}
.icon-managedhosting:before {
	content: "\eb09";
}
.icon-greenhosting:before {
	content: "\eb0a";
}
.icon-resellerhosting:before {
	content: "\eb0b";
}
.icon-socialnetwork:before {
	content: "\eb0c";
}
.icon-wizard:before {
	content: "\eb0d";
}
.icon-playvideo:before {
	content: "\eb0e";
}
.icon-password:before {
	content: "\eb0f";
}
.icon-passwordalt:before {
	content: "\eb10";
}
.icon-businesscard:before {
	content: "\eb11";
}
.icon-style:before {
	content: "\eb12";
}
.icon-language:before {
	content: "\eb13";
}
.icon-shortcut:before {
	content: "\eb14";
}
.icon-mailbox:before {
	content: "\eb15";
}
.icon-webmail:before {
	content: "\eb16";
}
.icon-boxtrapper:before {
	content: "\eb17";
}
.icon-spam:before {
	content: "\eb18";
}
.icon-spamalt:before {
	content: "\eb19";
}
.icon-emailforwarders:before {
	content: "\eb1a";
}
.icon-exclamationsign:before {
	content: "\eb1b";
}
.icon-logprograms:before {
	content: "\eb1c";
}
.icon-awstats:before {
	content: "\eb1d";
}
.icon-protecteddirectory:before {
	content: "\eb1e";
}
.icon-ssh:before {
	content: "\eb1f";
}
.icon-sslmanager:before {
	content: "\eb20";
}
.icon-hotlinkprotection:before {
	content: "\eb21";
}
.icon-authentication:before {
	content: "\eb22";
}
.icon-subdomain:before {
	content: "\eb23";
}
.icon-domainaddon:before {
	content: "\eb24";
}
.icon-redirect:before {
	content: "\eb25";
}
.icon-parkeddomain:before {
	content: "\eb26";
}
.icon-apache:before {
	content: "\eb27";
}
.icon-mimetype:before {
	content: "\eb28";
}
.icon-certificatealt:before {
	content: "\eb29";
}
.icon-certificatethree:before {
	content: "\eb2a";
}
.icon-erroralt:before {
	content: "\eb2b";
}
.icon-wrench:before {
	content: "\eb2c";
}
.icon-filter:before {
	content: "\eb2d";
}
.icon-userfilter:before {
	content: "\eb2e";
}
.icon-accountfilter:before {
	content: "\eb2f";
}
.icon-backupwizard:before {
	content: "\eb30";
}
.icon-opencart:before {
	content: "\eb31";
}
.icon-prestashop:before {
	content: "\eb32";
}
.icon-smf:before {
	content: "\eb33";
}
.icon-phpbb:before {
	content: "\eb34";
}
.icon-dolphinsoftware:before {
	content: "\eb35";
}
.icon-mybb:before {
	content: "\eb36";
}
.icon-whmcs:before {
	content: "\eb37";
}
.icon-ruby:before {
	content: "\eb38";
}
.icon-html:before {
	content: "\eb39";
}
.icon-htmlfive:before {
	content: "\eb3a";
}
.icon-cssthree:before {
	content: "\eb3b";
}
.icon-jquery:before {
	content: "\eb3c";
}
.icon-jqueryui:before {
	content: "\eb3d";
}
.icon-oxwall:before {
	content: "\eb3e";
}
.icon-magento:before {
	content: "\eb3f";
}
.icon-ajax:before {
	content: "\eb40";
}
.icon-flashplayer:before {
	content: "\eb41";
}
.icon-python:before {
	content: "\eb42";
}
.icon-cpanel:before {
	content: "\eb43";
}
.icon-joomla:before {
	content: "\eb44";
}
.icon-wordpress:before {
	content: "\eb45";
}
.icon-drupal:before {
	content: "\eb46";
}
.icon-dolphin:before {
	content: "\eb47";
}
.icon-codeigniter:before {
	content: "\eb48";
}
.icon-refresh:before {
	content: "\eb49";
}
.icon-cgicenter:before {
	content: "\eb4a";
}
.icon-mxentry:before {
	content: "\eb4b";
}
.icon-ftpaccounts:before {
	content: "\eb4c";
}
.icon-ftpsession:before {
	content: "\eb4d";
}
.icon-barchartalt:before {
	content: "\eb4e";
}
.icon-leechprotect:before {
	content: "\eb4f";
}
.icon-dnszone:before {
	content: "\eb50";
}
.icon-commentout:before {
	content: "\eb51";
}
.icon-github:before {
	content: "\eb52";
}
.icon-ads:before {
	content: "\eb53";
}
.icon-java:before {
	content: "\eb54";
}
.icon-nodejs:before {
	content: "\eb55";
}
.icon-grails:before {
	content: "\eb56";
}
.icon-cgi:before {
	content: "\eb57";
}
.icon-binary:before {
	content: "\eb58";
}
.icon-push:before {
	content: "\eb59";
}
.icon-pull:before {
	content: "\eb5a";
}
.icon-query:before {
	content: "\eb5b";
}
.icon-ipcontrol:before {
	content: "\eb5c";
}
.icon-form:before {
	content: "\eb5d";
}
.icon-script:before {
	content: "\eb5e";
}
.icon-autorespond:before {
	content: "\eb5f";
}
.icon-address:before {
	content: "\eb60";
}
.icon-mailinglists:before {
	content: "\eb61";
}
.icon-emailtrace:before {
	content: "\eb62";
}
.icon-importcontacts:before {
	content: "\eb63";
}
.icon-key:before {
	content: "\eb64";
}
.icon-filemanager:before {
	content: "\eb65";
}
.icon-legacyfilemanager:before {
	content: "\eb66";
}
.icon-diskspace:before {
	content: "\eb67";
}
.icon-visitor:before {
	content: "\eb68";
}
.icon-pluginalt:before {
	content: "\eb69";
}
.icon-faq:before {
	content: "\eb6a";
}
.icon-software:before {
	content: "\eb6b";
}
.icon-phppear:before {
	content: "\eb6c";
}
.icon-php:before {
	content: "\eb6d";
}
.icon-fourohfour:before {
	content: "\eb6e";
}
.icon-indexmanager:before {
	content: "\eb6f";
}
.icon-gallery:before {
	content: "\eb70";
}
.icon-plugin:before {
	content: "\eb71";
}
.icon-calendaralt:before {
	content: "\eb72";
}
.icon-briefcasetwo:before {
	content: "\eb73";
}
.icon-questionsign:before {
	content: "\eb74";
}
.icon-coppermine:before {
	content: "\eb75";
}
.icon-dropmenu:before {
	content: "\eb76";
}
.icon-network:before {
	content: "\eb77";
}
.icon-bug:before {
	content: "\eb78";
}
.icon-virus:before {
	content: "\eb79";
}
.icon-antivirus:before {
	content: "\eb7a";
}
.icon-antivirusalt:before {
	content: "\eb7b";
}
.icon-restricted:before {
	content: "\eb7c";
}
.icon-zikula:before {
	content: "\eb7d";
}
.icon-piwigo:before {
	content: "\eb7e";
}
.icon-fantastico:before {
	content: "\eb7f";
}
.icon-concretefive:before {
	content: "\eb80";
}
.icon-cmsmadesimple:before {
	content: "\eb81";
}
.icon-cplusplus:before {
	content: "\eb82";
}
.icon-csharp:before {
	content: "\eb83";
}
.icon-squarebrackets:before {
	content: "\eb84";
}
.icon-braces:before {
	content: "\eb85";
}
.icon-chevrons:before {
	content: "\eb86";
}
.icon-camel:before {
	content: "\eb87";
}
.icon-perlalt:before {
	content: "\eb88";
}
.icon-algorhythm:before {
	content: "\eb89";
}
.icon-cloud:before {
	content: "\eb8a";
}
.icon-cloudupload:before {
	content: "\eb8b";
}
.icon-clouddownload:before {
	content: "\eb8c";
}
.icon-cloudsync:before {
	content: "\eb8d";
}
.icon-sync:before {
	content: "\eb8e";
}
.icon-lock:before {
	content: "\eb8f";
}
.icon-unlock:before {
	content: "\eb90";
}
.icon-remotemysql:before {
	content: "\eb91";
}
.icon-rawaccesslogs:before {
	content: "\eb92";
}
.icon-document:before {
	content: "\eb93";
}
.icon-spreadsheet:before {
	content: "\eb94";
}
.icon-presentation:before {
	content: "\eb95";
}
.icon-magnifier:before {
	content: "\eb96";
}
.icon-createfile:before {
	content: "\eb97";
}
.icon-deletefile:before {
	content: "\eb98";
}
.icon-floppy:before {
	content: "\eb99";
}
.icon-copy:before {
	content: "\eb9a";
}
.icon-cut:before {
	content: "\eb9b";
}
.icon-clipboard:before {
	content: "\eb9c";
}
.icon-vinyl:before {
	content: "\eb9d";
}
.icon-cd:before {
	content: "\eb9e";
}
.icon-delete:before {
	content: "\eb9f";
}
.icon-trashempty:before {
	content: "\eba0";
}
.icon-trashfull:before {
	content: "\eba1";
}
.icon-circleadd:before {
	content: "\eba2";
}
.icon-circledelete:before {
	content: "\eba3";
}
.icon-circleselect:before {
	content: "\eba4";
}
.icon-mouse:before {
	content: "\eba5";
}
.icon-monitor:before {
	content: "\eba6";
}
.icon-file:before {
	content: "\eba7";
}
.icon-notes:before {
	content: "\eba8";
}
.icon-laptop:before {
	content: "\eba9";
}
.icon-explorerwindow:before {
	content: "\ebaa";
}
.icon-createfolder:before {
	content: "\ebab";
}
.icon-deletefolder:before {
	content: "\ebac";
}
.icon-cursor:before {
	content: "\ebad";
}
.icon-handup:before {
	content: "\ebae";
}
.icon-handdrag:before {
	content: "\ebaf";
}
.icon-handtwofingers:before {
	content: "\ebb0";
}
.icon-tasks:before {
	content: "\ebb1";
}
.icon-sim:before {
	content: "\ebb2";
}
.icon-volumeup:before {
	content: "\ebb3";
}
.icon-volumedown:before {
	content: "\ebb4";
}
.icon-mute:before {
	content: "\ebb5";
}
.icon-mutealt:before {
	content: "\ebb6";
}
.icon-iphone:before {
	content: "\ebb7";
}
.icon-nexus:before {
	content: "\ebb8";
}
.icon-mobile:before {
	content: "\ebb9";
}
.icon-router:before {
	content: "\ebba";
}
.icon-plug:before {
	content: "\ebbb";
}
.icon-keyhole:before {
	content: "\ebbc";
}
.icon-treediagram:before {
	content: "\ebbd";
}
.icon-powerplug:before {
	content: "\ebbe";
}
.icon-lan:before {
	content: "\ebbf";
}
.icon-sharedfile:before {
	content: "\ebc0";
}
.icon-foldertree:before {
	content: "\ebc1";
}
.icon-tethering:before {
	content: "\ebc2";
}
.icon-editalt:before {
	content: "\ebc3";
}
.icon-batterycharging:before {
	content: "\ebc4";
}
.icon-batterycharged:before {
	content: "\ebc5";
}
.icon-batteryempty:before {
	content: "\ebc6";
}
.icon-batterytwenty:before {
	content: "\ebc7";
}
.icon-batteryforty:before {
	content: "\ebc8";
}
.icon-batterysixty:before {
	content: "\ebc9";
}
.icon-batteryeighty:before {
	content: "\ebca";
}
.icon-batteryfull:before {
	content: "\ebcb";
}
.icon-imac:before {
	content: "\ebcc";
}
.icon-firewire:before {
	content: "\ebcd";
}
.icon-powerjack:before {
	content: "\ebce";
}
.icon-webcam:before {
	content: "\ebcf";
}
.icon-wifi:before {
	content: "\ebd0";
}
.icon-signal:before {
	content: "\ebd1";
}
.icon-batteryaltfull:before {
	content: "\ebd2";
}
.icon-batteryaltsixty:before {
	content: "\ebd3";
}
.icon-batteryaltthird:before {
	content: "\ebd4";
}
.icon-batteryaltcharging:before {
	content: "\ebd5";
}
.icon-keyboardalt:before {
	content: "\ebd6";
}
.icon-sd:before {
	content: "\ebd7";
}
.icon-microsd:before {
	content: "\ebd8";
}
.icon-graphicscard:before {
	content: "\ebd9";
}
.icon-screenshot:before {
	content: "\ebda";
}
.icon-brightness:before {
	content: "\ebdb";
}
.icon-brightnessfull:before {
	content: "\ebdc";
}
.icon-brightnesshalf:before {
	content: "\ebdd";
}
.icon-usb:before {
	content: "\ebde";
}
.icon-usbalt:before {
	content: "\ebdf";
}
.icon-usbplug:before {
	content: "\ebe0";
}
.icon-grid:before {
	content: "\ebe1";
}
.icon-list:before {
	content: "\ebe2";
}
.icon-thlarge:before {
	content: "\ebe3";
}
.icon-thlist:before {
	content: "\ebe4";
}
.icon-terminal:before {
	content: "\ebe5";
}
.icon-touchpad:before {
	content: "\ebe6";
}
.icon-zip:before {
	content: "\ebe7";
}
.icon-rar:before {
	content: "\ebe8";
}
.icon-tablet:before {
	content: "\ebe9";
}
.icon-keyboard:before {
	content: "\ebea";
}
.icon-downloadalt:before {
	content: "\ebeb";
}
.icon-uploadalt:before {
	content: "\ebec";
}
.icon-syncalt:before {
	content: "\ebed";
}
.icon-off:before {
	content: "\ebee";
}
.icon-shutdown:before {
	content: "\ebef";
}
.icon-restart:before {
	content: "\ebf0";
}
.icon-ubuntu:before {
	content: "\ebf1";
}
.icon-simalt:before {
	content: "\ebf2";
}
.icon-hourglassalt:before {
	content: "\ebf3";
}
.icon-hourglass:before {
	content: "\ebf4";
}
.icon-sidebar:before {
	content: "\ebf5";
}
.icon-print:before {
	content: "\ebf6";
}
.icon-mousealt:before {
	content: "\ebf7";
}
.icon-menu:before {
	content: "\ebf8";
}
.icon-install:before {
	content: "\ebf9";
}
.icon-webcamalt:before {
	content: "\ebfa";
}
.icon-android:before {
	content: "\ebfb";
}
.icon-bluetooth:before {
	content: "\ebfc";
}
.icon-comment:before {
	content: "\ebfd";
}
.icon-commenttyping:before {
	content: "\ebfe";
}
.icon-post:before {
	content: "\ebff";
}
.icon-quote:before {
	content: "\ec00";
}
.icon-postalt:before {
	content: "\ec01";
}
.icon-heart:before {
	content: "\ec02";
}
.icon-heartempty:before {
	content: "\ec03";
}
.icon-profile:before {
	content: "\ec04";
}
.icon-friends:before {
	content: "\ec05";
}
.icon-phonebookalt:before {
	content: "\ec06";
}
.icon-emailalt:before {
	content: "\ec07";
}
.icon-businesscardalt:before {
	content: "\ec08";
}
.icon-like:before {
	content: "\ec09";
}
.icon-hate:before {
	content: "\ec0a";
}
.icon-favorite:before {
	content: "\ec0b";
}
.icon-favoritealt:before {
	content: "\ec0c";
}
.icon-happy:before {
	content: "\ec0d";
}
.icon-sad:before {
	content: "\ec0e";
}
.icon-blankstare:before {
	content: "\ec0f";
}
.icon-laugh:before {
	content: "\ec10";
}
.icon-facebook:before {
	content: "\ec11";
}
.icon-skype:before {
	content: "\ec12";
}
.icon-youtube:before {
	content: "\ec13";
}
.icon-bookmark:before {
	content: "\ec14";
}
.icon-notificationbottom:before {
	content: "\ec15";
}
.icon-notificationtop:before {
	content: "\ec16";
}
.icon-flickr:before {
	content: "\ec17";
}
.icon-sharetwo:before {
	content: "\ec18";
}
.icon-phoneold:before {
	content: "\ec19";
}
.icon-phonealt:before {
	content: "\ec1a";
}
.icon-instagram:before {
	content: "\ec1b";
}
.icon-facebookalt:before {
	content: "\ec1c";
}
.icon-dribbble:before {
	content: "\ec1d";
}
.icon-forrst:before {
	content: "\ec1e";
}
.icon-chrome:before {
	content: "\ec1f";
}
.icon-phonebook:before {
	content: "\ec20";
}
.icon-gmail:before {
	content: "\ec21";
}
.icon-yahoo:before {
	content: "\ec22";
}
.icon-delicious:before {
	content: "\ec23";
}
.icon-myspace:before {
	content: "\ec24";
}
.icon-reddit:before {
	content: "\ec25";
}
.icon-commentround:before {
	content: "\ec26";
}
.icon-commentroundempty:before {
	content: "\ec27";
}
.icon-commentroundtyping:before {
	content: "\ec28";
}
.icon-commentroundtypingempty:before {
	content: "\ec29";
}
.icon-browser:before {
	content: "\ec2a";
}
.icon-avatar:before {
	content: "\ec2b";
}
.icon-call:before {
	content: "\ec2c";
}
.icon-missedcall:before {
	content: "\ec2d";
}
.icon-incomingcall:before {
	content: "\ec2e";
}
.icon-outgoingcall:before {
	content: "\ec2f";
}
.icon-tagvertical:before {
	content: "\ec30";
}
.icon-basecamp:before {
	content: "\ec31";
}
.icon-avataralt:before {
	content: "\ec32";
}
.icon-chat:before {
	content: "\ec33";
}
.icon-googledrive:before {
	content: "\ec34";
}
.icon-tumblr:before {
	content: "\ec35";
}
.icon-googleplus:before {
	content: "\ec36";
}
.icon-linkedin:before {
	content: "\ec37";
}
.icon-blogger:before {
	content: "\ec38";
}
.icon-vimeo:before {
	content: "\ec39";
}
.icon-path:before {
	content: "\ec3a";
}
.icon-twitter:before {
	content: "\ec3b";
}
.icon-pocket:before {
	content: "\ec3c";
}
.icon-sharealt:before {
	content: "\ec3d";
}
.icon-newwindow:before {
	content: "\ec3e";
}
.icon-closewindow:before {
	content: "\ec3f";
}
.icon-newtab:before {
	content: "\ec40";
}
.icon-closetab:before {
	content: "\ec41";
}
.icon-archive:before {
	content: "\ec42";
}
.icon-draft:before {
	content: "\ec43";
}
.icon-reademail:before {
	content: "\ec44";
}
.icon-emailrefresh:before {
	content: "\ec45";
}
.icon-emailforward:before {
	content: "\ec46";
}
.icon-emailexport:before {
	content: "\ec47";
}
.icon-emailimport:before {
	content: "\ec48";
}
.icon-inboxalt:before {
	content: "\ec49";
}
.icon-outbox:before {
	content: "\ec4a";
}
.icon-inbox:before {
	content: "\ec4b";
}
.icon-rss:before {
	content: "\ec4c";
}
.icon-evernote:before {
	content: "\ec4d";
}
.icon-video:before {
	content: "\ec4e";
}
.icon-playcircle:before {
	content: "\ec4f";
}
.icon-moviereel:before {
	content: "\ec50";
}
.icon-headphones:before {
	content: "\ec51";
}
.icon-music:before {
	content: "\ec52";
}
.icon-forward:before {
	content: "\ec53";
}
.icon-backward:before {
	content: "\ec54";
}
.icon-play:before {
	content: "\ec55";
}
.icon-stop:before {
	content: "\ec56";
}
.icon-pause:before {
	content: "\ec57";
}
.icon-mediarepeat:before {
	content: "\ec58";
}
.icon-random:before {
	content: "\ec59";
}
.icon-record:before {
	content: "\ec5a";
}
.icon-next:before {
	content: "\ec5b";
}
.icon-previous:before {
	content: "\ec5c";
}
.icon-voice:before {
	content: "\ec5d";
}
.icon-musicalt:before {
	content: "\ec5e";
}
.icon-equalizer:before {
	content: "\ec5f";
}
.icon-equalizeralt:before {
	content: "\ec60";
}
.icon-ipod:before {
	content: "\ec61";
}
.icon-microphone:before {
	content: "\ec62";
}
.icon-cone:before {
	content: "\ec63";
}
.icon-movieclapper:before {
	content: "\ec64";
}
.icon-soundwave:before {
	content: "\ec65";
}
.icon-boombox:before {
	content: "\ec66";
}
.icon-repeatone:before {
	content: "\ec67";
}
.icon-stepforward:before {
	content: "\ec68";
}
.icon-stepbackward:before {
	content: "\ec69";
}
.icon-eject:before {
	content: "\ec6a";
}
.icon-guitar:before {
	content: "\ec6b";
}
.icon-camera:before {
	content: "\ec6c";
}
.icon-facetimevideo:before {
	content: "\ec6d";
}
.icon-film:before {
	content: "\ec6e";
}
.icon-piano:before {
	content: "\ec6f";
}
.icon-album:before {
	content: "\ec70";
}
.icon-hdtv:before {
	content: "\ec71";
}
.icon-radio:before {
	content: "\ec72";
}
.icon-podcast:before {
	content: "\ec73";
}
.icon-headphonesalt:before {
	content: "\ec74";
}
.icon-tv:before {
	content: "\ec75";
}
.icon-violin:before {
	content: "\ec76";
}
.icon-transform:before {
	content: "\ec77";
}
.icon-twocolumnsright:before {
	content: "\ec78";
}
.icon-twocolumnsrightalt:before {
	content: "\ec79";
}
.icon-twocolumnsleft:before {
	content: "\ec7a";
}
.icon-twocolumnsleftalt:before {
	content: "\ec7b";
}
.icon-threecolumns:before {
	content: "\ec7c";
}
.icon-inkpen:before {
	content: "\ec7d";
}
.icon-eyedropper:before {
	content: "\ec7e";
}
.icon-font:before {
	content: "\ec7f";
}
.icon-crop:before {
	content: "\ec80";
}
.icon-rectangleselection:before {
	content: "\ec81";
}
.icon-circleselection:before {
	content: "\ec82";
}
.icon-selectionadd:before {
	content: "\ec83";
}
.icon-selectionremove:before {
	content: "\ec84";
}
.icon-selectionintersect:before {
	content: "\ec85";
}
.icon-bucket:before {
	content: "\ec86";
}
.icon-vector:before {
	content: "\ec87";
}
.icon-pencil:before {
	content: "\ec88";
}
.icon-brush:before {
	content: "\ec89";
}
.icon-painting:before {
	content: "\ec8a";
}
.icon-book:before {
	content: "\ec8b";
}
.icon-wacom:before {
	content: "\ec8c";
}
.icon-elipse:before {
	content: "\ec8d";
}
.icon-roundrectangle:before {
	content: "\ec8e";
}
.icon-hexagon:before {
	content: "\ec8f";
}
.icon-line:before {
	content: "\ec90";
}
.icon-lineheight:before {
	content: "\ec91";
}
.icon-sortbynameascending:before {
	content: "\ec92";
}
.icon-atoz:before {
	content: "\ec93";
}
.icon-sortbysizeascending:before {
	content: "\ec94";
}
.icon-sortbysizedescending:before {
	content: "\ec95";
}
.icon-featheralt:before {
	content: "\ec96";
}
.icon-macro:before {
	content: "\ec97";
}
.icon-spray:before {
	content: "\ec98";
}
.icon-canvas:before {
	content: "\ec99";
}
.icon-adobe:before {
	content: "\ec9a";
}
.icon-layers:before {
	content: "\ec9b";
}
.icon-layersalt:before {
	content: "\ec9c";
}
.icon-pagebreak:before {
	content: "\ec9d";
}
.icon-photoshop:before {
	content: "\ec9e";
}
.icon-illustrator:before {
	content: "\ec9f";
}
.icon-flash:before {
	content: "\eca0";
}
.icon-dreamweaver:before {
	content: "\eca1";
}
.icon-alignverticalcenter:before {
	content: "\eca2";
}
.icon-alignhorizontalcenter:before {
	content: "\eca3";
}
.icon-alignbottomedge:before {
	content: "\eca4";
}
.icon-aligntopedge:before {
	content: "\eca5";
}
.icon-alignrightedge:before {
	content: "\eca6";
}
.icon-alignleftedge:before {
	content: "\eca7";
}
.icon-alignleft:before {
	content: "\eca8";
}
.icon-alignright:before {
	content: "\eca9";
}
.icon-aligncenter:before {
	content: "\ecaa";
}
.icon-alignjustify:before {
	content: "\ecab";
}
.icon-distributeverticalcenters:before {
	content: "\ecac";
}
.icon-distributehorizontalcenters:before {
	content: "\ecad";
}
.icon-shapes:before {
	content: "\ecae";
}
.icon-exposure:before {
	content: "\ecaf";
}
.icon-invert:before {
	content: "\ecb0";
}
.icon-insertpicture:before {
	content: "\ecb1";
}
.icon-insertpictureleft:before {
	content: "\ecb2";
}
.icon-insertpictureright:before {
	content: "\ecb3";
}
.icon-insertpicturecenter:before {
	content: "\ecb4";
}
.icon-insertpiechart:before {
	content: "\ecb5";
}
.icon-insertbarchart:before {
	content: "\ecb6";
}
.icon-colors:before {
	content: "\ecb7";
}
.icon-clearformatting:before {
	content: "\ecb8";
}
.icon-paintbrush:before {
	content: "\ecb9";
}
.icon-kerning:before {
	content: "\ecba";
}
.icon-subscript:before {
	content: "\ecbb";
}
.icon-superscript:before {
	content: "\ecbc";
}
.icon-magazine:before {
	content: "\ecbd";
}
.icon-resize:before {
	content: "\ecbe";
}
.icon-pen:before {
	content: "\ecbf";
}
.icon-ruler:before {
	content: "\ecc0";
}
.icon-moleskine:before {
	content: "\ecc1";
}
.icon-eraser:before {
	content: "\ecc2";
}
.icon-indentleft:before {
	content: "\ecc3";
}
.icon-indentright:before {
	content: "\ecc4";
}
.icon-bold:before {
	content: "\ecc5";
}
.icon-italic:before {
	content: "\ecc6";
}
.icon-underline:before {
	content: "\ecc7";
}
.icon-strikethrough:before {
	content: "\ecc8";
}
.icon-textheight:before {
	content: "\ecc9";
}
.icon-textwidth:before {
	content: "\ecca";
}
.icon-paintroll:before {
	content: "\eccb";
}
.icon-wizardalt:before {
	content: "\eccc";
}
.icon-creativecommons:before {
	content: "\eccd";
}
.icon-addshape:before {
	content: "\ecce";
}
.icon-subtractshape:before {
	content: "\eccf";
}
.icon-intersectshape:before {
	content: "\ecd0";
}
.icon-excludeshape:before {
	content: "\ecd1";
}
.icon-mergeshapes:before {
	content: "\ecd2";
}
.icon-rotateclockwise:before {
	content: "\ecd3";
}
.icon-rotatecounterclockwise:before {
	content: "\ecd4";
}
.icon-marker:before {
	content: "\ecd5";
}
.icon-canvasrulers:before {
	content: "\ecd6";
}
.icon-day:before {
	content: "\ecd7";
}
.icon-moon:before {
	content: "\ecd8";
}
.icon-tint:before {
	content: "\ecd9";
}
.icon-map:before {
	content: "\ecda";
}
.icon-pin:before {
	content: "\ecdb";
}
.icon-flagtriangle:before {
	content: "\ecdc";
}
.icon-placeios:before {
	content: "\ecdd";
}
.icon-temperature:before {
	content: "\ecde";
}
.icon-thermometeralt:before {
	content: "\ecdf";
}
.icon-calendar:before {
	content: "\ece0";
}
.icon-clock:before {
	content: "\ece1";
}
.icon-truck:before {
	content: "\ece2";
}
.icon-scope:before {
	content: "\ece3";
}
.icon-spoon:before {
	content: "\ece4";
}
.icon-knife:before {
	content: "\ece5";
}
.icon-camping:before {
	content: "\ece6";
}
.icon-gasstation:before {
	content: "\ece7";
}
.icon-forest:before {
	content: "\ece8";
}
.icon-umbrella:before {
	content: "\ece9";
}
.icon-stopwatch:before {
	content: "\ecea";
}
.icon-boat:before {
	content: "\eceb";
}
.icon-roadsignright:before {
	content: "\ecec";
}
.icon-forestalt:before {
	content: "\eced";
}
.icon-anchor:before {
	content: "\ecee";
}
.icon-gpsoff:before {
	content: "\ecef";
}
.icon-gpson:before {
	content: "\ecf0";
}
.icon-mapmarker:before {
	content: "\ecf1";
}
.icon-placeadd:before {
	content: "\ecf2";
}
.icon-placedelete:before {
	content: "\ecf3";
}
.icon-checkin:before {
	content: "\ecf4";
}
.icon-placealt:before {
	content: "\ecf5";
}
.icon-placealtadd:before {
	content: "\ecf6";
}
.icon-placealtdelete:before {
	content: "\ecf7";
}
.icon-checkinalt:before {
	content: "\ecf8";
}
.icon-wheel:before {
	content: "\ecf9";
}
.icon-cigarette:before {
	content: "\ecfa";
}
.icon-trafficlight:before {
	content: "\ecfb";
}
.icon-clockalt:before {
	content: "\ecfc";
}
.icon-cactus:before {
	content: "\ecfd";
}
.icon-plumbing:before {
	content: "\ecfe";
}
.icon-snow:before {
	content: "\ecff";
}
.icon-rain:before {
	content: "\ed00";
}
.icon-storm:before {
	content: "\ed01";
}
.icon-lightning:before {
	content: "\ed02";
}
.icon-flagalt:before {
	content: "\ed03";
}
.icon-alarm:before {
	content: "\ed04";
}
.icon-bag:before {
	content: "\ed05";
}
.icon-coffee:before {
	content: "\ed06";
}
.icon-glass:before {
	content: "\ed07";
}
.icon-scopealt:before {
	content: "\ed08";
}
.icon-wine:before {
	content: "\ed09";
}
.icon-automobile:before {
	content: "\ed0a";
}
.icon-navigation:before {
	content: "\ed0b";
}
.icon-seaalt:before {
	content: "\ed0c";
}
.icon-sea:before {
	content: "\ed0d";
}
.icon-alarmalt:before {
	content: "\ed0e";
}
.icon-plane:before {
	content: "\ed0f";
}
.icon-shipping:before {
	content: "\ed10";
}
.icon-roadsignleft:before {
	content: "\ed11";
}
.icon-bus:before {
	content: "\ed12";
}
.icon-stamp:before {
	content: "\ed13";
}
.icon-stampalt:before {
	content: "\ed14";
}
.icon-beer:before {
	content: "\ed15";
}
.icon-building:before {
	content: "\ed16";
}
.icon-emergency:before {
	content: "\ed17";
}
.icon-hospital:before {
	content: "\ed18";
}
.icon-railroad:before {
	content: "\ed19";
}
.icon-road:before {
	content: "\ed1a";
}
.icon-freeway:before {
	content: "\ed1b";
}
.icon-coffeealt:before {
	content: "\ed1c";
}
.icon-men:before {
	content: "\ed1d";
}
.icon-women:before {
	content: "\ed1e";
}
.icon-mug:before {
	content: "\ed1f";
}
.icon-metro:before {
	content: "\ed20";
}
.icon-stocks:before {
	content: "\ed21";
}
.icon-stockup:before {
	content: "\ed22";
}
.icon-stockdown:before {
	content: "\ed23";
}
.icon-timeline:before {
	content: "\ed24";
}
.icon-coupon:before {
	content: "\ed25";
}
.icon-playstore:before {
	content: "\ed26";
}
.icon-news:before {
	content: "\ed27";
}
.icon-piggybank:before {
	content: "\ed28";
}
.icon-calculator:before {
	content: "\ed29";
}
.icon-dollaralt:before {
	content: "\ed2a";
}
.icon-euroalt:before {
	content: "\ed2b";
}
.icon-pound:before {
	content: "\ed2c";
}
.icon-poundalt:before {
	content: "\ed2d";
}
.icon-yenalt:before {
	content: "\ed2e";
}
.icon-briefcase:before {
	content: "\ed2f";
}
.icon-briefcasethree:before {
	content: "\ed30";
}
.icon-gift:before {
	content: "\ed31";
}
.icon-abacus:before {
	content: "\ed32";
}
.icon-bank:before {
	content: "\ed33";
}
.icon-law:before {
	content: "\ed34";
}
.icon-pricealt:before {
	content: "\ed35";
}
.icon-walletalt:before {
	content: "\ed36";
}
.icon-calculatoralt:before {
	content: "\ed37";
}
.icon-mastercard:before {
	content: "\ed38";
}
.icon-paypal:before {
	content: "\ed39";
}
.icon-skrill:before {
	content: "\ed3a";
}
.icon-alertpay:before {
	content: "\ed3b";
}
.icon-westernunion:before {
	content: "\ed3c";
}
.icon-currency:before {
	content: "\ed3d";
}
.icon-appointment:before {
	content: "\ed3e";
}
.icon-officechair:before {
	content: "\ed3f";
}
.icon-cashregister:before {
	content: "\ed40";
}
.icon-squareapp:before {
	content: "\ed41";
}
.icon-googlewallet:before {
	content: "\ed42";
}
.icon-moneybag:before {
	content: "\ed43";
}
.icon-store:before {
	content: "\ed44";
}
.icon-shoppingbag:before {
	content: "\ed45";
}
.icon-rubberstamp:before {
	content: "\ed46";
}
.icon-qrcode:before {
	content: "\ed47";
}
.icon-barcode:before {
	content: "\ed48";
}
.icon-certificate:before {
	content: "\ed49";
}
.icon-bill:before {
	content: "\ed4a";
}
.icon-creditcard:before {
	content: "\ed4b";
}
.icon-factory:before {
	content: "\ed4c";
}
.icon-cash:before {
	content: "\ed4d";
}
.icon-shredder:before {
	content: "\ed4e";
}
.icon-flask:before {
	content: "\ed4f";
}
.icon-flaskfull:before {
	content: "\ed50";
}
.icon-flame:before {
	content: "\ed51";
}
.icon-eye:before {
	content: "\ed52";
}
.icon-magnet:before {
	content: "\ed53";
}
.icon-radioactive:before {
	content: "\ed54";
}
.icon-microscope:before {
	content: "\ed55";
}
.icon-paperclip:before {
	content: "\ed56";
}
.icon-paperclipalt:before {
	content: "\ed57";
}
.icon-paperclipvertical:before {
	content: "\ed58";
}
.icon-bullhorn:before {
	content: "\ed59";
}
.icon-student:before {
	content: "\ed5a";
}
.icon-icecreamalt:before {
	content: "\ed5b";
}
.icon-switch:before {
	content: "\ed5c";
}
.icon-powerplugeu:before {
	content: "\ed5d";
}
.icon-powerplugus:before {
	content: "\ed5e";
}
.icon-switchonalt:before {
	content: "\ed5f";
}
.icon-switchoffalt:before {
	content: "\ed60";
}
.icon-crown:before {
	content: "\ed61";
}
.icon-shovel:before {
	content: "\ed62";
}
.icon-hammer:before {
	content: "\ed63";
}
.icon-screwdriver:before {
	content: "\ed64";
}
.icon-screwdriveralt:before {
	content: "\ed65";
}
.icon-sunglasses:before {
	content: "\ed66";
}
.icon-glasses:before {
	content: "\ed67";
}
.icon-paperplane:before {
	content: "\ed68";
}
.icon-recycle:before {
	content: "\ed69";
}
.icon-remote:before {
	content: "\ed6a";
}
.icon-flashlight:before {
	content: "\ed6b";
}
.icon-candle:before {
	content: "\ed6c";
}
.icon-forklift:before {
	content: "\ed6d";
}
.icon-launch:before {
	content: "\ed6e";
}
.icon-paw:before {
	content: "\ed6f";
}
.icon-orange:before {
	content: "\ed70";
}
.icon-croisant:before {
	content: "\ed71";
}
.icon-binoculars:before {
	content: "\ed72";
}
.icon-female:before {
	content: "\ed73";
}
.icon-male:before {
	content: "\ed74";
}
.icon-patch:before {
	content: "\ed75";
}
.icon-icecream:before {
	content: "\ed76";
}
.icon-flower:before {
	content: "\ed77";
}
.icon-target:before {
	content: "\ed78";
}
.icon-peace:before {
	content: "\ed79";
}
.icon-lightningalt:before {
	content: "\ed7a";
}
.icon-sheriff:before {
	content: "\ed7b";
}
.icon-police:before {
	content: "\ed7c";
}
.icon-hanger:before {
	content: "\ed7d";
}
.icon-addtolist:before {
	content: "\ed7e";
}
.icon-toast:before {
	content: "\ed7f";
}
.icon-director:before {
	content: "\ed80";
}
.icon-fence:before {
	content: "\ed81";
}
.icon-atom:before {
	content: "\ed82";
}
.icon-lamp:before {
	content: "\ed83";
}
.icon-wrenchalt:before {
	content: "\ed84";
}
.icon-hamburger:before {
	content: "\ed85";
}
.icon-alertalt:before {
	content: "\ed86";
}
.icon-eyeopen:before {
	content: "\ed87";
}
.icon-jar:before {
	content: "\ed88";
}
.icon-extinguisher:before {
	content: "\ed89";
}
.icon-plaque:before {
	content: "\ed8a";
}
.icon-bed:before {
	content: "\ed8b";
}
.icon-firstaid:before {
	content: "\ed8c";
}
.icon-pscircle:before {
	content: "\ed8d";
}
.icon-pssquare:before {
	content: "\ed8e";
}
.icon-pstriangle:before {
	content: "\ed8f";
}
.icon-psx:before {
	content: "\ed90";
}
.icon-buttona:before {
	content: "\ed91";
}
.icon-buttonb:before {
	content: "\ed92";
}
.icon-buttonx:before {
	content: "\ed93";
}
.icon-buttony:before {
	content: "\ed94";
}
.icon-pscursor:before {
	content: "\ed95";
}
.icon-psup:before {
	content: "\ed96";
}
.icon-psright:before {
	content: "\ed97";
}
.icon-psdown:before {
	content: "\ed98";
}
.icon-psleft:before {
	content: "\ed99";
}
.icon-analogleft:before {
	content: "\ed9a";
}
.icon-analogright:before {
	content: "\ed9b";
}
.icon-analogup:before {
	content: "\ed9c";
}
.icon-analogdown:before {
	content: "\ed9d";
}
.icon-pslone:before {
	content: "\ed9e";
}
.icon-psltwo:before {
	content: "\ed9f";
}
.icon-psrone:before {
	content: "\eda0";
}
.icon-psrtwo:before {
	content: "\eda1";
}
.icon-gamecursor:before {
	content: "\eda2";
}
.icon-controllerps:before {
	content: "\eda3";
}
.icon-controllernes:before {
	content: "\eda4";
}
.icon-controllersnes:before {
	content: "\eda5";
}
.icon-joystickarcade:before {
	content: "\eda6";
}
.icon-joystickatari:before {
	content: "\eda7";
}
.icon-podium2:before {
	content: "\eda8";
}
.icon-trophy:before {
	content: "\eda9";
}
.icon-dice:before {
	content: "\edaa";
}
.icon-boardgame:before {
	content: "\edab";
}
.icon-ghost:before {
	content: "\edac";
}
.icon-pacman:before {
	content: "\edad";
}
.icon-bomb:before {
	content: "\edae";
}
.icon-steam2:before {
	content: "\edaf";
}
.icon-emptystar:before {
	content: "\edb0";
}
.icon-halfstar:before {
	content: "\edb1";
}
.icon-fullstar:before {
	content: "\edb2";
}
.icon-lifeempty:before {
	content: "\edb3";
}
.icon-lifehalf:before {
	content: "\edb4";
}
.icon-lifefull:before {
	content: "\edb5";
}
.icon-warmedal:before {
	content: "\edb6";
}
.icon-medal:before {
	content: "\edb7";
}
.icon-medalgold:before {
	content: "\edb8";
}
.icon-medalsilver:before {
	content: "\edb9";
}
.icon-medalbronze:before {
	content: "\edba";
}
.icon-basketball:before {
	content: "\edbb";
}
.icon-tennis:before {
	content: "\edbc";
}
.icon-football:before {
	content: "\edbd";
}
.icon-usfootball:before {
	content: "\edbe";
}
.icon-sword:before {
	content: "\edbf";
}
.icon-bow:before {
	content: "\edc0";
}
.icon-axe:before {
	content: "\edc1";
}
.icon-pingpong:before {
	content: "\edc2";
}
.icon-golf:before {
	content: "\edc3";
}
.icon-racquet:before {
	content: "\edc4";
}
.icon-bowling:before {
	content: "\edc5";
}
.icon-hearts:before {
	content: "\edc6";
}
.icon-spades:before {
	content: "\edc7";
}
.icon-clubs:before {
	content: "\edc8";
}
.icon-diamonds:before {
	content: "\edc9";
}
.icon-pawn:before {
	content: "\edca";
}
.icon-bishop:before {
	content: "\edcb";
}
.icon-rook:before {
	content: "\edcc";
}
.icon-knight:before {
	content: "\edcd";
}
.icon-king:before {
	content: "\edce";
}
.icon-queen:before {
	content: "\edcf";
}
.icon-arrowdown:before {
	content: "\edd0";
}
.icon-downleft:before {
	content: "\edd1";
}
.icon-downright:before {
	content: "\edd2";
}
.icon-arrowup:before {
	content: "\edd3";
}
.icon-upleft:before {
	content: "\edd4";
}
.icon-upright:before {
	content: "\edd5";
}
.icon-arrowright:before {
	content: "\edd6";
}
.icon-arrowleft:before {
	content: "\edd7";
}
.icon-gearalt:before {
	content: "\edd8";
}
.icon-gears:before {
	content: "\edd9";
}
.icon-gearsalt:before {
	content: "\edda";
}
.icon-settingsandroid:before {
	content: "\eddb";
}
.icon-bigger:before {
	content: "\eddc";
}
.icon-smaller:before {
	content: "\eddd";
}
.icon-equals:before {
	content: "\edde";
}
.icon-restore:before {
	content: "\eddf";
}
.icon-minimize:before {
	content: "\ede0";
}
.icon-maximize:before {
	content: "\ede1";
}
.icon-checkbox:before {
	content: "\ede2";
}
.icon-checkboxalt:before {
	content: "\ede3";
}
.icon-radiobutton:before {
	content: "\ede4";
}
.icon-bancircle:before {
	content: "\ede5";
}
.icon-forbidden:before {
	content: "\ede6";
}
.icon-infosign:before {
	content: "\ede7";
}
.icon-warningsign:before {
	content: "\ede8";
}
.icon-asterisk2:before {
	content: "\ede9";
}
.icon-resizehorizontal:before {
	content: "\edea";
}
.icon-resizevertical:before {
	content: "\edeb";
}
.icon-fastleft:before {
	content: "\edec";
}
.icon-fastright:before {
	content: "\eded";
}
.icon-fastup:before {
	content: "\edee";
}
.icon-fastdown:before {
	content: "\edef";
}
.icon-pageback:before {
	content: "\edf0";
}
.icon-pageforward:before {
	content: "\edf1";
}
.icon-zoomin:before {
	content: "\edf2";
}
.icon-zoomout:before {
	content: "\edf3";
}
.icon-move:before {
	content: "\edf4";
}
.icon-enter:before {
	content: "\edf5";
}
.icon-exit:before {
	content: "\edf6";
}
.icon-resizefull:before {
	content: "\edf7";
}
.icon-resizesmall:before {
	content: "\edf8";
}
.icon-mergecells:before {
	content: "\edf9";
}
.icon-quoteup:before {
	content: "\edfa";
}
.icon-quotedown:before {
	content: "\edfb";
}
.icon-undo:before {
	content: "\edfc";
}
.icon-repeat:before {
	content: "\edfd";
}
.icon-switchon:before {
	content: "\edfe";
}
.icon-switchoff:before {
	content: "\edff";
}
.icon-importfile:before {
	content: "\ee00";
}
.icon-exportfile:before {
	content: "\ee01";
}
.icon-preview:before {
	content: "\ee02";
}
.icon-pagesetup:before {
	content: "\ee03";
}
.icon-opennewwindow:before {
	content: "\ee04";
}
.icon-linkalt:before {
	content: "\ee05";
}
.icon-merge:before {
	content: "\ee06";
}
.icon-split:before {
	content: "\ee07";
}
.icon-infographic:before {
	content: "\ee08";
}
.icon-wizardhat:before {
	content: "\ee09";
}
.icon-idea:before {
	content: "\ee0a";
}
.icon-loadingalt:before {
	content: "\ee0b";
}
.icon-cmd:before {
	content: "\ee0c";
}
.icon-sum:before {
	content: "\ee0d";
}
.icon-root:before {
	content: "\ee0e";
}
.icon-synckeepserver:before {
	content: "\ee0f";
}
.icon-synckeeplocal:before {
	content: "\ee10";
}
.icon-0:before {
	content: "\ee11";
}
.icon-1:before {
	content: "\ee12";
}
.icon-2:before {
	content: "\ee13";
}
.icon-3:before {
	content: "\ee14";
}
.icon-4:before {
	content: "\ee15";
}
.icon-5:before {
	content: "\ee16";
}
.icon-6:before {
	content: "\ee17";
}
.icon-7:before {
	content: "\ee18";
}
.icon-8:before {
	content: "\ee19";
}
.icon-9:before {
	content: "\ee1a";
}
.icon-atsign:before {
	content: "\ee1b";
}
.icon-A:before {
	content: "\ee1c";
}
.icon-B:before {
	content: "\ee1d";
}
.icon-C:before {
	content: "\ee1e";
}
.icon-D:before {
	content: "\ee1f";
}
.icon-E:before {
	content: "\ee20";
}
.icon-F:before {
	content: "\ee21";
}
.icon-G:before {
	content: "\ee22";
}
.icon-H:before {
	content: "\ee23";
}
.icon-I:before {
	content: "\ee24";
}
.icon-J:before {
	content: "\ee25";
}
.icon-K:before {
	content: "\ee26";
}
.icon-L:before {
	content: "\ee27";
}
.icon-M:before {
	content: "\ee28";
}
.icon-N:before {
	content: "\ee29";
}
.icon-O:before {
	content: "\ee2a";
}
.icon-P:before {
	content: "\ee2b";
}
.icon-Q:before {
	content: "\ee2c";
}
.icon-R:before {
	content: "\ee2d";
}
.icon-S:before {
	content: "\ee2e";
}
.icon-T:before {
	content: "\ee2f";
}
.icon-U:before {
	content: "\ee30";
}
.icon-V:before {
	content: "\ee31";
}
.icon-W:before {
	content: "\ee32";
}
.icon-X:before {
	content: "\ee33";
}
.icon-Y:before {
	content: "\ee34";
}
.icon-Z:before {
	content: "\ee35";
}
.icon-a:before {
	content: "\ee36";
}
.icon-b:before {
	content: "\ee37";
}
.icon-c:before {
	content: "\ee38";
}
.icon-d:before {
	content: "\ee39";
}
.icon-e:before {
	content: "\ee3a";
}
.icon-f:before {
	content: "\ee3b";
}
.icon-g:before {
	content: "\ee3c";
}
.icon-h:before {
	content: "\ee3d";
}
.icon-i:before {
	content: "\ee3e";
}
.icon-j:before {
	content: "\ee3f";
}
.icon-k:before {
	content: "\ee40";
}
.icon-l:before {
	content: "\ee41";
}
.icon-m:before {
	content: "\ee42";
}
.icon-n:before {
	content: "\ee43";
}
.icon-o:before {
	content: "\ee44";
}
.icon-p:before {
	content: "\ee45";
}
.icon-q:before {
	content: "\ee46";
}
.icon-r:before {
	content: "\ee47";
}
.icon-s:before {
	content: "\ee48";
}
.icon-t:before {
	content: "\ee49";
}
.icon-u:before {
	content: "\ee4a";
}
.icon-v:before {
	content: "\ee4b";
}
.icon-w:before {
	content: "\ee4c";
}
.icon-x:before {
	content: "\ee4d";
}
.icon-y:before {
	content: "\ee4e";
}
.icon-z:before {
	content: "\ee4f";
}
.icon-diamond:before {
	content: "\ee50";
}
